<!DOCTYPE html>
{% load staticfiles %}
<html class="html" lang="en-US">
 <head>

  <script type="text/javascript">
   if(typeof Muse == "undefined") window.Muse = {}; window.Muse.assets = {"required":["jquery-1.8.3.min.js", "museutils.js", "jquery.musepolyfill.bgsize.js", "jquery.musemenu.js", "jquery.watch.js", "about.css"], "outOfDate":[]};
</script>
  
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="2014.3.0.295"/>
  <title>About</title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/site_global.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/master_a-master.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}" id="pagesheet"/>
  <!-- Other scripts -->
  <script type="text/javascript">
   document.documentElement.className += ' js';
var __adobewebfontsappname__ = "muse";
</script>
  <!-- JS includes -->
  <script type="text/javascript">
   document.write('\x3Cscript src="' + (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//webfonts.creativecloud.com/artifika:n4:all;allura:n4:all;doppio-one:n4:all;cuprum:n4:all.js" type="text/javascript">\x3C/script>');
</script>
  <!--[if lt IE 9]>
  <script src="scripts/html5shiv.js?4241844378" type="text/javascript"></script>
  <![endif]-->
    <!--HTML Widget code-->
  
<style>
* {
       transition:all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.clip_frame, .Container, .verticalspacer, #preloader, img {
  transition:none !important;
  -webkit-transition:none !important;
}
</style>

 </head>
 <body>

  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="browser_width" id="u205-bw">
     <div class="pinned-colelem" id="u205"><!-- simple frame --></div>
    </div>
    <div class="pinned-colelem" id="u193"><!-- simple frame --></div>
    <div class="clearfix pinned-colelem" id="u200-4"><!-- content -->
     <p>Konekt Ghana</p>
    </div>
    <nav class="MenuBar clearfix pinned-colelem" id="menuu112"><!-- horizontal box -->
     <div class="MenuItemContainer clearfix grpelem" id="u120"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u123" href="/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u124-4"><!-- content --><p>Home</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u113"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu MuseMenuActive clearfix colelem" id="u114" href="/about/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u115-4"><!-- content --><p>About</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u808"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u809" href="/ghana/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u811-4"><!-- content --><p>Ghana</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u128"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u129" href="/services/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u130-4"><!-- content --><p>Services</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u142"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u145" href="/booking/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u146-4"><!-- content --><p>Booking</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u149"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u152" href="/contact/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u154-4"><!-- content --><p>Contact</p></div></a>
     </div>
    </nav>
    <div class="browser_width colelem" id="u302-bw">
     <div id="u302"><!-- group -->
      <div class="clearfix" id="u302_align_to_page">
       <div class="clearfix grpelem" id="u309-4"><!-- content -->
        <p>About Us</p>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu213"><!-- group -->
     <div class="grpelem" id="u213"><!-- custom html --></div>
     <div class="browser_width grpelem" id="u303-bw">
      <div id="u303"><!-- group -->
       <div class="clearfix" id="u303_align_to_page">
        <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u304-4" href="/about/"><!-- content --><p>Overview</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u305-4" href="/contact/"><!-- content --><p>Contact</p></a>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="u310-4"><!-- content -->
     <p>WHO WE ARE</p>
    </div>
    <div class="clearfix colelem" id="pu316"><!-- group -->
     <div class="museBGSize grpelem" id="u316"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="u313-7"><!-- content -->
      <p>We are a premium Travel and Destination Management Company. We specialize in providing the whole bouquet of travel, transport and accommodation services required by domestic and international visitors. Konekt Ghana is a registered company whose name has become synonymous with specialized travel and destination management solutions in the whole of Ghana.</p>
      <p>&nbsp;</p>
      <p>Our aim is to evolve into the number one service provider for the entire range of business and leisure travelers visiting Ghana. With our experienced staff, superior business network and excellent customer service, we hope to transform the very nature of the experience that many thousands of travelers have when they set foot in this region!.</p>
     </div>
    </div>
    <div class="colelem" id="u320"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pu311-4"><!-- group -->
     <div class="clearfix grpelem" id="u311-4"><!-- content -->
      <p>OUR HISTORY</p>
     </div>
     <div class="clearfix grpelem" id="u312-4"><!-- content -->
      <p>OUR MISSION</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu318-11"><!-- group -->
     <div class="clearfix grpelem" id="u318-11"><!-- content -->
      <p id="u318-2">Konekt is a Ghanaian-owned Company that specializes in travel and destination management services. We operate from our Headquarters, located at No1 Main Road, Madina to serve customers across the Globe.</p>
      <p id="u318-3">&nbsp;</p>
      <p id="u318-5">The team is made up of experienced professionals who are knowledgeable, capable and passionate about the services we promote and offer. Within the growing travel industry, we focus on the niche market of professional travel. We are aware how tedious and stressful a business trip can be, Konekt Ghana basically takes care of an entire trip on behalf of its clients.</p>
      <p id="u318-6">&nbsp;</p>
      <p id="u318-8">Konekt Ghana has a competitive advantage over others in the market because of its quality customer service.Since our inception in 2012, we have become a leading Travel Company that specializes in business and corporate travel. With a clientele to most of the major tourists, our success is firmly rooted in our commitment to offering quality travel services. Our young and dynamic staff are among the best in the travel Industry.</p>
      <p>&nbsp;</p>
     </div>
     <div class="clearfix grpelem" id="u319-19"><!-- content -->
      <p id="u319-2">Our Mission is to provide safe and reliable services as tour operator and travel agent.</p>
      <p id="u319-3">&nbsp;</p>
      <p id="u319-5">We will constantly improve the quality of our services, products and operations and will create a reputation for honesty, fairness, respect, responsibility, integrity, trust and sound business judgment.</p>
      <p id="u319-6">&nbsp;</p>
      <p id="u319-8">As tour operator we are trying hard to stimulate the development in Ghana with creating (more) jobs in the tourist sector, help the local community benefit from the tourism in a respectful and responsible way.</p>
      <p id="u319-9">&nbsp;</p>
      <p id="u319-11">Once again we would like to welcome you to Ghana, Akwaaba,</p>
      <p id="u319-13">Sincerely Yours,</p>
      <p id="u319-14">&nbsp;</p>
      <p id="u319-16">Konekt Ghana</p>
      <p>&nbsp;</p>
     </div>
    </div>
    <div class="verticalspacer"></div>
    <div class="browser_width colelem" id="u796-bw">
     <div id="u796"><!-- group -->
      <div class="clearfix" id="u796_align_to_page">
       <div class="clearfix grpelem" id="u2851-7"><!-- content -->
        <p id="u2851-2">We bring the Ghana to the world, and the World to Ghana</p>
        <p id="u2851-3">&nbsp;</p>
        <p id="u2851-5">Copyright&nbsp; © 2015&nbsp; , KONEKT GHANA</p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- JS includes -->
  <script type="text/javascript">
   if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn2.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
   window.jQuery || document.write('\x3Cscript src="scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script src="{% static 'js/museutils.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musemenu.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.watch.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musepolyfill.bgsize.js' %}" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Some files on the server may be missing or incorrect. Clear browser cache and try again. If the problem persists please contact website author.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();
/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
Muse.Utils.initWidget('.MenuBar', function(elem) { return $(elem).museMenu(); });/* unifiedNavBar */
Muse.Utils.resizeHeight()/* resize height */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>
   </body>
</html>
