<!DOCTYPE html>
{% load staticfiles %}
<html class="html" lang="en-US">
 <head>

  <script type="text/javascript">
   if(typeof Muse == "undefined") window.Muse = {}; window.Muse.assets = {"required":["jquery-1.8.3.min.js", "museutils.js", "jquery.musemenu.js", "webpro.js", "musewpslideshow.js", "jquery.museoverlay.js", "touchswipe.js", "jquery.watch.js", "ashanti.css"], "outOfDate":[]};
</script>
  
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="2014.3.0.295"/>
  <title>Ashanti</title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/site_global.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/master_a-master.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/ashanti.css' %}" id="pagesheet"/>
  <!-- Other scripts -->
  <script type="text/javascript">
   document.documentElement.className += ' js';
var __adobewebfontsappname__ = "muse";
</script>
  <!-- JS includes -->
  <script type="text/javascript">
   document.write('\x3Cscript src="' + (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//webfonts.creativecloud.com/allura:n4:all;doppio-one:n4:all;cuprum:n4:all.js" type="text/javascript">\x3C/script>');
</script>
  <!--[if lt IE 9]>
  <script src="scripts/html5shiv.js?4241844378" type="text/javascript"></script>
  <![endif]-->
    <!--HTML Widget code-->
  
<style>
* {
       transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}

.clip_frame, .Container, .verticalspacer, #preloader, img {
  transition:none !important;
  -webkit-transition:none !important;
}
</style>

 </head>
 <body>

  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="browser_width" id="u205-bw">
     <div class="pinned-colelem" id="u205"><!-- simple frame --></div>
    </div>
    <div class="pinned-colelem" id="u193"><!-- simple frame --></div>
    <div class="clearfix pinned-colelem" id="u200-4"><!-- content -->
     <p>Konekt Ghana</p>
    </div>
    <nav class="MenuBar clearfix pinned-colelem" id="menuu112"><!-- horizontal box -->
     <div class="MenuItemContainer clearfix grpelem" id="u120"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u123" href="/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u124-4"><!-- content --><p>Home</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u113"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u114" href="/about/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u115-4"><!-- content --><p>About</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u808"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u809" href="/ghana/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u811-4"><!-- content --><p>Ghana</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u128"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u129" href="/services/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u130-4"><!-- content --><p>Services</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u142"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u145" href="/booking/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u146-4"><!-- content --><p>Booking</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u149"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u152" href="/contact/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u154-4"><!-- content --><p>Contact</p></div></a>
     </div>
    </nav>
    <div class="browser_width colelem" id="u921-bw">
     <div id="u921"><!-- group -->
      <div class="clearfix" id="u921_align_to_page">
       <div class="clearfix grpelem" id="u925-4"><!-- content -->
        <p>Akwaaba !!!!!</p>
       </div>
      </div>
     </div>
    </div>

    <div class="clearfix colelem" id="pu213"><!-- group -->
     <div class="grpelem" id="u213"><!-- custom html --></div>
     <div class="browser_width grpelem" id="u922-bw">
      <div id="u922"><!-- group -->
       <div class="clearfix" id="u922_align_to_page">
        <a class="nonblock nontext clearfix grpelem" id="u923-4" href="/ghana/"><!-- content --><p>Overview</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u924-4" href="/greater-accra/"><!-- content --><p>Greater Accra</p></a>
        <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u926-4" href="/ashanti/"><!-- content --><p>Ashanti</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u927-4" href="/eastern/"><!-- content --><p>Eastern</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u928-4" href="/western/"><!-- content --><p>Western</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u929-4" href="/volta/"><!-- content --><p>Volta</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u930-4" href="/brong-ahafo/"><!-- content --><p>Brong Ahafo</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u931-4" href="/central/"><!-- content --><p>Central</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u932-4" href="/northern/"><!-- content --><p>Northern</p></a>
       </div>
      </div>
     </div>
    </div>


    <div class="clearfix colelem" id="ppu1532"><!-- group -->
     <div class="clearfix grpelem" id="pu1532"><!-- column -->
      <div class="colelem" id="u1532"><!-- simple frame --></div>
      <div class="clearfix colelem" id="pu1533-9"><!-- group -->
       <div class="clearfix grpelem" id="u1533-9"><!-- content -->
        <p id="u1533-2">BACKGROUND AND LOCATION</p>
        <p id="u1533-3">&nbsp;</p>
        <p id="u1533-5">Ashanti is an administrative region in Ghana centrally located in the middle belt of Ghana. I t lies between longitudes 0.15W and 2.25W, and latitudes 5.50N and 7.46N. The region shares boundaries with four of the ten political regions, Brong-Ahafo in the north, Eastern region in the east, Central region in the south and Western region in the South west. Most of the region's inhabitants are Ashanti people, one of Ghana's major ethnic groups. Most of Ghana's cocoa is grown in Ashanti, and it is also a major site of Ghana's gold-mining industry</p>
        <p id="u1533-6">&nbsp;</p>
        <p id="u1533-7">&nbsp;</p>
       </div>
       <div class="SlideShowWidget clearfix widget_invisible grpelem" id="slideshowu1591"><!-- none box -->
        <div class="popup_anchor" id="u1600popup">
         <div class="SlideShowContentPanel rgba-background clearfix" id="u1600"><!-- stack box -->
          <div class="SSSlide clip_frame grpelem" id="u1601"><!-- image -->
           <img class="block ImageInclude" id="u1601_img" data-src="{% static 'images/main.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
          </div>
          <div class="SSSlide invi clip_frame grpelem" id="u1645"><!-- image -->
           <img class="block ImageInclude" id="u1645_img" data-src="{% static 'images/manhyia.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
          </div>
          <div class="SSSlide invi clip_frame grpelem" id="u1654"><!-- image -->
           <img class="block ImageInclude" id="u1654_img" data-src="{% static 'images/okomfoanokye-4.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
          </div>
          <div class="SSSlide invi clip_frame grpelem" id="u1663"><!-- image -->
           <img class="block ImageInclude" id="u1663_img" data-src="{% static 'images/patakoro.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
          </div>
         </div>
        </div>
        <div class="popup_anchor" id="u1608popup">
         <div class="SSSlideLinks clearfix" id="u1608"><!-- horizontal-rows box -->
          <div class="SSSlideLink shadow clip_frame grpelem" id="u1609"><!-- image -->
           <img class="block" id="u1609_img" src="{% static 'images/main-crop-u1609.jpg' %}" alt="" width="230" height="190"/>
          </div>
          <div class="SSSlideLink shadow clip_frame grpelem" id="u1648"><!-- image -->
           <img class="block" id="u1648_img" src="{% static 'images/manhyia-crop-u1648.jpg' %}" alt="" width="230" height="190"/>
          </div>
          <div class="SSSlideLink shadow clip_frame grpelem" id="u1657"><!-- image -->
           <img class="block" id="u1657_img" src="{% static 'images/okomfoanokye-4-crop-u1657.jpg' %}" alt="" width="230" height="190"/>
          </div>
          <div class="SSSlideLink shadow clip_frame grpelem" id="u1666"><!-- image -->
           <img class="block" id="u1666_img" src="{% static 'images/patakoro-crop-u1666.jpg' %}" alt="" width="230" height="190"/>
          </div>
         </div>
        </div>
        <div class="popup_anchor" id="u1592popup">
         <div class="SlideShowCaptionPanel clearfix" id="u1592"><!-- stack box -->
          <div class="SSSlideCaption clearfix grpelem" id="u1594-4"><!-- content -->
           <p>THE BEAUTIFUL CITY OF KUMASI</p>
          </div>
          <div class="SSSlideCaption invi clearfix grpelem" id="u1651-4"><!-- content -->
           <p>THE MANHYIA PALACE</p>
          </div>
          <div class="SSSlideCaption invi clearfix grpelem" id="u1660-5"><!-- content -->
           <p id="u1660-2">KOMFO ANOKYE SWORD</p>
           <p id="u1660-3">&nbsp;</p>
          </div>
          <div class="SSSlideCaption invi clearfix grpelem" id="u1669-4"><!-- content -->
           <p>CRAFT VILLAGE</p>
          </div>
         </div>
        </div>
        <div class="popup_anchor" id="u1615-4popup">
         <div class="SSPreviousButton clearfix" id="u1615-4"><!-- content -->
          <p>&lt;</p>
         </div>
        </div>
        <div class="popup_anchor" id="u1607-4popup">
         <div class="SSNextButton clearfix" id="u1607-4"><!-- content -->
          <p>&gt;</p>
         </div>
        </div>
        <div class="popup_anchor">
         <div class="SSCloseButton popup_element clearfix" id="u1598"><!-- group -->
          <div class="clearfix grpelem" id="u1599-4"><!-- content -->
           <p>x</p>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u1540-5"><!-- content -->
      <p id="u1540-2">Indeed it was the Ashanti King Opoku Ware I who defeated the Bonos in 1723 and destroyed Bono-Manso, forcing the Bono Empire to move its capital from Manso to present day Techiman. The Ashanti Empire eventually collapsed with the defeat and exile of King Prempeh I, first to El-Mina Castle and eventually to the Seychelles.</p>
      <p id="u1540-3">&nbsp;</p>
     </div>
     <div class="clearfix grpelem" id="u1541-10"><!-- content -->
      <p>The Asante (Ashantis) constitute the largest of the various subgroups of the Akan, who trace their origins partly to Bono-Manso and Techiman, in present-day Brong Ahafo Region. They constitute 14.8 per cent of all Ghanaians by birth, and 30.1 per cent of the total Akan population of 8,562,748 in the country. Various oral traditions have it that the Ashantis migrated from various places through Bono-Manso/Takyiman (Techiman) to present day Ashanti Region</p>
      <p>&nbsp;</p>
      <p>As a united people, they started with a nucleus of the Oyoko clan around Asantemanso. After several years of subjugation by other empires, such as the Akwamu and the Denkyira, Asante eventually grew to be a very powerful empire founded by King Osei-Tutu I (1695-1717), after defeating the Denkyira King Ntim Gyakari during the battle of Feyiase.</p>
      <p>&nbsp;</p>
      <p>Ironically, King Osei Tutu I had spent his childhood days in the court of the Denkyira King, according to custom, and had escaped from there to Akwamu where he met his lifelong friend and spiritual mentor, the legendary Okomfo Anokye. It is believed that it was through Okomfo Anokye’s extraordinary supernatural powers that King Osei Tutu founded the Ashanti Empire; as he is said to have commanded the Golden Stool to fall from “the heavens”, the stool which, to this day, serves as the symbol of the spirit, unity and strength of the Ashantis. The Asante fought many successful wars against the Denkyira and their allies including the Wassa, the British, the Fante, and even the Bonos (Brongs).</p>
     </div>
     <div class="grpelem" id="u1542"><!-- simple frame --></div>
    </div>
    <div class="verticalspacer"></div>
    <div class="browser_width colelem" id="u796-bw">
     <div id="u796"><!-- group -->
      <div class="clearfix" id="u796_align_to_page">
       <div class="clearfix grpelem" id="u2851-7"><!-- content -->
        <p id="u2851-2">We bring the Ghana to the world, and the World to Ghana</p>
        <p id="u2851-3">&nbsp;</p>
        <p id="u2851-5">Copyright&nbsp; © 2015&nbsp; , KONEKT GHANA</p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- JS includes -->
  <script type="text/javascript">
   if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn2.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
   window.jQuery || document.write('\x3Cscript src="scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  
  <script src="{% static 'js/museutils.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musemenu.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.watch.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musepolyfill.bgsize.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/webpro.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/musewpslideshow.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.museoverlay.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/touchswipe.js' %}" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Some files on the server may be missing or incorrect. Clear browser cache and try again. If the problem persists please contact website author.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();
/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
Muse.Utils.initWidget('.MenuBar', function(elem) { return $(elem).museMenu(); });/* unifiedNavBar */
Muse.Utils.resizeHeight()/* resize height */
Muse.Utils.initWidget('#slideshowu1591', function(elem) { $(elem).data('widget', new WebPro.Widget.ContentSlideShow(elem, {autoPlay:false,displayInterval:3000,slideLinkStopsSlideShow:false,transitionStyle:'fading',lightboxEnabled_runtime:true,shuffle:false,transitionDuration:500,enableSwipe:true,elastic:'off',resumeAutoplay:true,resumeAutoplayInterval:3000,playOnce:false})); });/* #slideshowu1591 */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>
   </body>
</html>
