<!DOCTYPE html>
{% load staticfiles %}
<html class="html" lang="en-US">
 <head>

  <script type="text/javascript">
   if(typeof Muse == "undefined") window.Muse = {}; window.Muse.assets = {"required":["jquery-1.8.3.min.js", "museutils.js", "jquery.musepolyfill.bgsize.js", "jquery.musemenu.js", "webpro.js", "musewpslideshow.js", "jquery.museoverlay.js", "touchswipe.js", "jquery.watch.js", "index.css"], "outOfDate":[]};
</script>
  
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="2014.3.0.295"/>
  <title>{% block title %} {% endblock %}</title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/site_global.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/master_a-master.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" id="pagesheet"/>
  <!-- Other scripts -->
  <script type="text/javascript">
   document.documentElement.className += ' js';
var __adobewebfontsappname__ = "muse";
</script>
  <!-- JS includes -->
  <script type="text/javascript">
   document.write('\x3Cscript src="' + (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//webfonts.creativecloud.com/artifika:n4:all;allura:n4:all;doppio-one:n4:all;cuprum:n4:all;lilita-one:n4:all.js" type="text/javascript">\x3C/script>');
</script>
  <!--[if lt IE 9]>
  <script src="scripts/html5shiv.js?4241844378" type="text/javascript"></script>
  <![endif]-->
    <!--HTML Widget code-->
  
<style>
* {
       transition:all 0.5s ease;
        -webkit-transition: all 0.5s ease;
}

.clip_frame, .Container, .verticalspacer, #preloader, img {
  transition:none !important;
  -webkit-transition:none !important;
}
</style>

 </head>
 <body>

  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="browser_width" id="u205-bw">
     <div class="shadow pinned-colelem" id="u205"><!-- simple frame --></div>
    </div>
    <div class="museBGSize pinned-colelem" id="u193"><!-- simple frame --></div>
    <div class="clearfix pinned-colelem" id="u200-4"><!-- content -->
     <p>Konekt Ghana</p>
    </div>
    <nav class="MenuBar clearfix pinned-colelem" id="menuu112"><!-- horizontal box -->
     <div class="MenuItemContainer clearfix grpelem" id="u120"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu MuseMenuActive clearfix colelem" id="u123" href="/index/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u124-4"><!-- content --><p>Home</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u113"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u114" href="/about/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u115-4"><!-- content --><p>About</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u808"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u809" href="/ghana/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u811-4"><!-- content --><p>Ghana</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u128"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u129" href="/services/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u130-4"><!-- content --><p>Services</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u142"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u145" href="/booking/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u146-4"><!-- content --><p>Booking</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u149"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u152" href="/contact/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u154-4"><!-- content --><p>Contact</p></div></a>
     </div>
    </nav>


    
    {% block main %}{% endblock %}


    <div class="verticalspacer"></div>
    <div class="browser_width colelem" id="u796-bw">
     <div id="u796"><!-- group -->
      <div class="clearfix" id="u796_align_to_page">
       <div class="clearfix grpelem" id="u2851-7"><!-- content -->
        <p id="u2851-2">We bring the Ghana to the world, and the World to Ghana</p>
        <p id="u2851-3">&nbsp;</p>
        <p id="u2851-5">Copyright&nbsp; © 2015&nbsp; , KONEKT GHANA</p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="preload_images">
   <img class="preload" src="images/kwame_nkrumah_tomb_accra_ghana-u265-r-fr.png" alt=""/>
  </div>
  <!-- JS includes -->
  <script type="text/javascript">
   if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn2.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
   window.jQuery || document.write('\x3Cscript src="{% static 'js/jquery-1.8.3.min.js' %}" type="text/javascript">\x3C/script>');
</script>
  <script src="{% static 'js/museutils.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musepolyfill.bgsize.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musemenu.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/webpro.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/musewpslideshow.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.museoverlay.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/touchswipe.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.watch.js' %}" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Some files on the server may be missing or incorrect. Clear browser cache and try again. If the problem persists please contact website author.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();
/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
Muse.Utils.initWidget('.MenuBar', function(elem) { return $(elem).museMenu(); });/* unifiedNavBar */
Muse.Utils.initWidget('#slideshowu215', function(elem) { $(elem).data('widget', new WebPro.Widget.ContentSlideShow(elem, {heroFitting:'fillFrameProportionally',autoPlay:true,displayInterval:3500,slideLinkStopsSlideShow:false,transitionStyle:'fading',lightboxEnabled_runtime:false,shuffle:false,transitionDuration:500,enableSwipe:true,elastic:'fullWidth',resumeAutoplay:true,resumeAutoplayInterval:3000,playOnce:false})); });/* #slideshowu215 */
Muse.Utils.resizeHeight()/* resize height */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>
   </body>
</html>
