<!DOCTYPE html>
{% load staticfiles %}
<html class="html" lang="en-US">
 <head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">

  <script type="text/javascript">
   if(typeof Muse == "undefined") window.Muse = {}; window.Muse.assets = {"required":["jquery-1.8.3.min.js", "museutils.js", "jquery.musemenu.js", "jquery.watch.js", "booking.css"], "outOfDate":[]};
</script>
  
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="2014.3.0.295"/>
  <title>Booking</title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/site_global.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/master_a-master.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/booking.css' %}" id="pagesheet"/>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'css/custom.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}" id="pagesheet"/>
  <!-- Other scripts -->
  <script type="text/javascript">
   document.documentElement.className += ' js';
var __adobewebfontsappname__ = "muse";
</script>
  <!-- JS includes -->
  <script type="text/javascript">
   document.write('\x3Cscript src="' + (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//webfonts.creativecloud.com/allura:n4:all;doppio-one:n4:all;cuprum:n4:all.js" type="text/javascript">\x3C/script>');
</script>
  <!--[if lt IE 9]>
  <script src="scripts/html5shiv.js?4241844378" type="text/javascript"></script>
  <![endif]-->
    <!--HTML Widget code-->
  
<style>
* {
       transition:all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.clip_frame, .Container, .verticalspacer, #preloader, img {
  transition:none !important;
  -webkit-transition:none !important;
}
</style>

 </head>
 <body>

  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="browser_width" id="u205-bw">
     <div class="pinned-colelem" id="u205"><!-- simple frame --></div>
    </div>
    <div class="pinned-colelem" id="u193"><!-- simple frame --></div>
    <div class="clearfix pinned-colelem" id="u200-4"><!-- content -->
     <p>Konekt Ghana</p>
    </div>
    <nav class="MenuBar clearfix pinned-colelem" id="menuu112"><!-- horizontal box -->
     <div class="MenuItemContainer clearfix grpelem" id="u120"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u123" href="/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u124-4"><!-- content --><p>Home</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u113"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u114" href="/about/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u115-4"><!-- content --><p>About</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u808"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u809" href="/ghana/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u811-4"><!-- content --><p>Ghana</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u128"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u129" href="/services/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u130-4"><!-- content --><p>Services</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u142"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu MuseMenuActive clearfix colelem" id="u145" href="/booking/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u146-4"><!-- content --><p>Booking</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u149"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u152" href="/contact/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u154-4"><!-- content --><p>Contact</p></div></a>
     </div>
    </nav>

    <div class="browser_width colelem" id="u2373-bw">
     <div id="u2373"><!-- group -->
      <div class="clearfix" id="u2373_align_to_page">
       <div class="clearfix grpelem" id="u2377-4"><!-- content -->
        <p>BOOK A TOUR</p>
       </div>
      </div>
     </div>
    </div>

    <div class="clearfix colelem" id="pu213"><!-- group -->
     <div class="grpelem" id="u213"><!-- custom html --></div>
     <div class="browser_width grpelem" id="u2374-bw">
      <div id="u2374"><!-- group -->
       <div class="clearfix" id="u2374_align_to_page">
        <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u2375-4" href="/booking/"><!-- content --><p>Overview</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u2376-4" href="/contact/"><!-- content --><p>Contact</p></a>
       </div>
      </div>
     </div>
    </div>

    



<div class="custom-form">

  <form id="userform" method="POST" action="/booking/">
    {% csrf_token %}

    <div class="clearfix colelem" id="pu311-4"><!-- group -->
     <div class="clearfix grpelem" id="u311-4"><!-- content -->
      <p>PROFILE INFORMATION</p>
     </div>
     <div class="clearfix grpelem" id="u312-4"><!-- content -->
      <p>TRAVEL INFORMATION</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu318-11"><!-- group -->
     <div class="clearfix grpelem" id="u318-11"><!-- content -->

      <div id="u318-2">
        <span class="error">{{form.first_name.errors}}</span>
        <label for=""> First name: </label> 
        <div>{{ form.first_name }}</div>
      </div>
      <p id="u318-3">&nbsp;</p>

      <div id="u318-2">
        <span class="error">{{form.last_name.errors}}</span>
        <label for=""> Last name: </label>
        <div>  {{ form.last_name }} </div>
      </div>
      <p id="u318-3">&nbsp;</p>

      <div id="u318-2">
        <span class="error">{{form.email.errors}}</span>
        <label for=""> Email: </label> 
        <div> {{ form.email }} </div>
      </div>
      <p id="u318-3">&nbsp;</p>

      <div id="u318-2">
        <span class="error">{{form.phone_number.errors}}</span>
        <label for=""> Phone number: </label> 
        <div> {{ form.phone_number }} </div>
      </div>
      <p id="u318-3">&nbsp;</p>

      <div id="u318-2">
        <span class="error">{{form.address.errors}}</span>
        <label for=""> Address: </label> 
        <div> {{ form.address }} </div>
      </div>
      <p id="u318-3">&nbsp;</p>

      <div id="u318-2">
       <span class="error"> {{form.city.errors}}</span>
        <label for=""> City: </label> 
        <div> {{ form.city }} </div>
      </div>
      <p id="u318-3">&nbsp;</p>

       <div id="u318-2">
        <span class="error">{{form.state.errors}}</span>
        <label for=""> State: </label> 
        <div> {{ form.state }} </div>
      </div>
      <p id="u318-3">&nbsp;</p>

      <div id="u318-2">
        <span class="error">{{form.zip_code.errors}}</span>
        <label for=""> Zip code: </label> 
        <div> {{ form.zip_code }} </div>
      </div>
      <p id="u318-3">&nbsp;</p>

      <div id="u318-2">
        <span class="error">{{form.country.errors}}</span>
        <label for=""> Country: </label> 
        <div> {{ form.country }} </div>
      </div>
      <p id="u318-3">&nbsp;</p>

      <div id="u318-2">
        <span class="error">{{form.tour_package.errors}}</span>
        <label for=""> Tour package: </label> 
        <div> {{ form.tour_package }} </div>
      </div>
      <p id="u318-3">&nbsp;</p>

      <div id="u318-2">
        <span class="error">{{form.accommodation_type.errors}}</span>
        <label for=""> Accommodation type: </label> 
        <div> {{ form.accommodation_type }} </div>
      </div>
      <p id="u318-3">&nbsp;</p>

      <div id="u318-2">
        <span class="error">{{form.other_information.errors}}</span>
        <label for=""> Other information: </label> 
        <div> {{ form.other_information }} </div>
      </div>
      <p id="u318-3">&nbsp;</p>

 </div>


     <div class="clearfix grpelem" id="u319-19"><!-- content -->
      <div id="u318-5">
        <span class="error">{{form.interests.errors}}</span>
        <label for=""> Interests: </label> 
        <div> {{ form.interests }} </div>
      </div>
      <p id="u318-5">&nbsp;</p>

      <div id="u318-5">
        <span class="error">{{form.booking_from.errors}}</span>
        <label for=""> Booking from: </label> 
        <div> {{ form.booking_from }} </div>
      </div>
      <p id="u318-5">&nbsp;</p>

      <div id="u318-5">
        <span class="error">{{form.who_is_coming.errors}}</span>
        <label for=""> Who is coming: </label> 
        <div> {{ form.who_is_coming }} </div>
      </div>
      <p id="u318-5">&nbsp;</p>

      <div id="u318-5">
        <span class="error">{{form.no_of_people.errors}}</span>
        <label for=""> No. of people: </label> 
        <div> {{ form.no_of_people }} </div>
      </div>
      <p id="u318-5">&nbsp;</p>

      <div id="u318-5">
        <span class="error">{{form.no_of_kids.errors}}</span>
        <label for=""> No. of kids: </label> 
        <div> {{ form.no_of_kids }} </div>
      </div>
      <p id="u318-5">&nbsp;</p>

      <div id="u318-5">
        <span class="error">{{form.added_file.errors}}</span>
        <label for=""> Added file: </label> 
        <div> {{ form.added_file }} </div>
      </div>
      <p id="u318-5">&nbsp;</p>

      <div id="u318-5">
        <span class="error">{{form.comment.errors}}</span>
        <label for=""> Comment: </label> 
        <div> {{ form.comment }} </div>
      </div>
      <p id="u318-5">&nbsp;</p>

      <div id="u318-5">
        <input type="submit" name="submit" value="Submit" />
      </div>

     </div>
    </div>
  </form>

</div>

    
    <div class="verticalspacer"></div>
    <div class="browser_width colelem" id="u796-bw">
     <div id="u796"><!-- group -->
      <div class="clearfix" id="u796_align_to_page">
       <div class="clearfix grpelem" id="u2851-7"><!-- content -->
        <p id="u2851-2">We bring the Ghana to the world, and the World to Ghana</p>
        <p id="u2851-3">&nbsp;</p>
        <p id="u2851-5">Copyright&nbsp; © 2015&nbsp; , KONEKT GHANA</p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- JS includes -->
  <script type="text/javascript">
   if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn2.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
   window.jQuery || document.write('\x3Cscript src="{% static 'js/jquery-1.8.3.min.js' %}" type="text/javascript">\x3C/script>');
</script>
  <script src="{% static 'js/museutils.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musemenu.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.watch.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.watch.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musepolyfill.bgsize.js' %}" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Some files on the server may be missing or incorrect. Clear browser cache and try again. If the problem persists please contact website author.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();
/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
Muse.Utils.initWidget('.MenuBar', function(elem) { return $(elem).museMenu(); });/* unifiedNavBar */
Muse.Utils.resizeHeight()/* resize height */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>
   </body>
</html>
