<!DOCTYPE html>
{% load staticfiles %}
<html class="html" lang="en-US">
 <head>

  <script type="text/javascript">
   if(typeof Muse == "undefined") window.Muse = {}; window.Muse.assets = {"required":["jquery-1.8.3.min.js", "museutils.js", "jquery.musemenu.js", "webpro.js", "musewpslideshow.js", "jquery.museoverlay.js", "touchswipe.js", "jquery.watch.js", "brong-ahafo.css"], "outOfDate":[]};
</script>
  
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="2014.3.0.295"/>
  <title>Brong Ahafo</title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/site_global.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/master_a-master.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/brong-ahafo.css' %}" id="pagesheet"/>
  <!-- Other scripts -->
  <script type="text/javascript">
   document.documentElement.className += ' js';
var __adobewebfontsappname__ = "muse";
</script>
  <!-- JS includes -->
  <script type="text/javascript">
   document.write('\x3Cscript src="' + (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//webfonts.creativecloud.com/allura:n4:all;doppio-one:n4:all;cuprum:n4:all.js" type="text/javascript">\x3C/script>');
</script>
  <!--[if lt IE 9]>
  <script src="scripts/html5shiv.js?4241844378" type="text/javascript"></script>
  <![endif]-->
    <!--HTML Widget code-->
  
<style>
* {
       transition:all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.clip_frame, .Container, .verticalspacer, #preloader, img {
  transition:none !important;
  -webkit-transition:none !important;
}
</style>

 </head>
 <body>

  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="browser_width" id="u205-bw">
     <div class="pinned-colelem" id="u205"><!-- simple frame --></div>
    </div>
    <div class="pinned-colelem" id="u193"><!-- simple frame --></div>
    <div class="clearfix pinned-colelem" id="u200-4"><!-- content -->
     <p>Konekt Ghana</p>
    </div>
    <nav class="MenuBar clearfix pinned-colelem" id="menuu112"><!-- horizontal box -->
     <div class="MenuItemContainer clearfix grpelem" id="u120"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u123" href="/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u124-4"><!-- content --><p>Home</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u113"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u114" href="/about/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u115-4"><!-- content --><p>About</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u808"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u809" href="/ghana/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u811-4"><!-- content --><p>Ghana</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u128"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u129" href="/services/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u130-4"><!-- content --><p>Services</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u142"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u145" href="/booking/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u146-4"><!-- content --><p>Booking</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u149"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u152" href="/contact/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u154-4"><!-- content --><p>Contact</p></div></a>
     </div>
    </nav>
    <div class="browser_width colelem" id="u969-bw">
     <div id="u969"><!-- group -->
      <div class="clearfix" id="u969_align_to_page">
       <div class="clearfix grpelem" id="u973-4"><!-- content -->
        <p>Akwaaba !!!!!</p>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu213"><!-- group -->
     <div class="grpelem" id="u213"><!-- custom html --></div>
     <div class="browser_width grpelem" id="u970-bw">
      <div id="u970"><!-- group -->
       <div class="clearfix" id="u970_align_to_page">
        <a class="nonblock nontext clearfix grpelem" id="u971-4" href="/ghana/"><!-- content --><p>Overview</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u972-4" href="/greater-accra/"><!-- content --><p>Greater Accra</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u974-4" href="/ashanti/"><!-- content --><p>Ashanti</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u975-4" href="/eastern/"><!-- content --><p>Eastern</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u976-4" href="/western/"><!-- content --><p>Western</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u977-4" href="/volta/"><!-- content --><p>Volta</p></a>
        <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u978-4" href="/brong-ahafo/"><!-- content --><p>Brong Ahafo</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u979-4" href="/central/"><!-- content --><p>Central</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u980-4" href="/northern/"><!-- content --><p>Northern</p></a>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="ppu2058"><!-- group -->
     <div class="clearfix grpelem" id="pu2058"><!-- column -->
      <div class="colelem" id="u2058"><!-- simple frame --></div>
      <div class="clearfix colelem" id="u2067-10"><!-- content -->
       <p id="u2067-2">BACKGROUND AND LOCATION</p>
       <p id="u2067-3">&nbsp;</p>
       <p id="u2067-5">The Brong Ahafo Region was created on 4th April 1959 (by the Brong Ahafo Region Act No. 18 of 1959). The Act defined the area of the Brong Ahafo Region to consist of the northern and the western part of the then Ashanti Region and included the Prang and Yeji areas that before the enactment of the Act formed part of the Northern Region.</p>
       <p id="u2067-6">&nbsp;</p>
       <p id="u2067-8">Before the Ashanti Empire was conquered by the British in 1900, the Brong and Ahafo states to the north and northwest of Kumasi (the capital of Ashanti empire and the present Ashanti Region) were within the empire.</p>
      </div>
     </div>
     <div class="clearfix grpelem" id="u2059-12"><!-- content -->
      <p>Nana Akumfi Ameyaw III traces his ancestry to King Akumfi Ameyaw I (1328-63), under whose reign the Brong Kingdom with its capital at Bono Manso grew to become the most powerful kingdom of its time. Indeed oral tradition has it that nearly all the different groups of the Akans, including the Asante, trace their origins to Bono after migrating from the “north”.</p>
      <p>&nbsp;</p>
      <p>The first remembered King of the Bono Kingdom is King Asaman, who is credit with leading his Akan people from what may be present day Burkina Faso or even further north, to Bonoland (Buah, 1998). Later migrations led to the Asantes, Fantes, Denkyira and other Akans settling in their present locations. Nana Akumfi Ameyaw is credited with the creation of gold dust as a currency and gold weights as a measure, later developed and adopted by all the other Akan groups, particularly the Asante. Legend has it that he even supported his yam shoots with sticks made of pure gold.</p>
      <p>&nbsp;</p>
      <p>It was when King Opoku Ware of Asante defeated Bono in 1723 and destroyed Bono Manso that the capital moved to Techiman (Takyiman). Techiman and other Bono states therefore came under the Asante Empire until 1948 when Akumfi Ameyaw III led the secession of Bono from Asante, supported by other Bono states such as Dormaa.</p>
      <p>The most significant change the British administration in Ashanti brought to the people of the Brong and Ahafo states until 1935 was that it made them independent of Kumasi clan chiefs (Busia, 1951, pp. 165-166).</p>
     </div>
     <div class="clearfix grpelem" id="pu2069-4"><!-- column -->
      <div class="clearfix colelem" id="u2069-4"><!-- content -->
       <p>The British administration worked out a strategy that severed the interference of the Kumasi clan chiefs with the internal affairs of the Brong and Ahafo states. When the Ashanti Confederacy was restored in 1935 by the British administration, however, most of the Brong and Ahafo states saw that their independence from Ashanti was being threatened, because by restoring the Ashanti Confederacy, they were to revert to their former overlords in Kumasi. Though the Brong states joined the Ashanti Confederacy, most of them were not happy with the re-union because they felt their long historical association with Ashanti had brought them nothing.</p>
      </div>
      <div class="colelem" id="u2071"><!-- simple frame --></div>
     </div>
    </div>
    <div class="SlideShowWidget clearfix widget_invisible colelem" id="slideshowu2084"><!-- none box -->
     <div class="popup_anchor" id="u2091popup">
      <div class="SlideShowContentPanel rgba-background clearfix" id="u2091"><!-- stack box -->
       <div class="SSSlide clip_frame grpelem" id="u2094"><!-- image -->
        <img class="block ImageInclude" id="u2094_img" data-src="{% static 'images/kintampo.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
       </div>
       <div class="SSSlide invi clip_frame grpelem" id="u2098"><!-- image -->
        <img class="block ImageInclude" id="u2098_img" data-src="{% static 'images/place.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
       </div>
       <div class="SSSlide invi clip_frame grpelem" id="u2092"><!-- image -->
        <img class="block ImageInclude" id="u2092_img" data-src="{% static 'images/monkeya.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
       </div>
       <div class="SSSlide invi clip_frame grpelem" id="u2096"><!-- image -->
        <img class="block ImageInclude" id="u2096_img" data-src="{% static 'images/monkeyb.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
       </div>
      </div>
     </div>
     <div class="popup_anchor" id="u2100popup">
      <div class="SSSlideLinks clearfix" id="u2100"><!-- horizontal-rows box -->
       <div class="SSSlideLink shadow clip_frame grpelem" id="u2103"><!-- image -->
        <img class="block" id="u2103_img" src="{% static 'images/kintampo-crop-u2103.jpg' %}" alt="" width="227" height="199"/>
       </div>
       <div class="SSSlideLink shadow clip_frame grpelem" id="u2105"><!-- image -->
        <img class="block" id="u2105_img" src="{% static 'images/place-crop-u2105.jpg' %}" alt="" width="227" height="199"/>
       </div>
       <div class="SSSlideLink shadow clip_frame grpelem" id="u2101"><!-- image -->
        <img class="block" id="u2101_img" src="{% static 'images/monkeya-crop-u2101.jpg' %}" alt="" width="227" height="199"/>
       </div>
       <div class="SSSlideLink shadow clip_frame grpelem" id="u2107"><!-- image -->
        <img class="block" id="u2107_img" src="{% static 'images/monkeyb-crop-u2107.jpg' %}" alt="" width="227" height="199"/>
       </div>
      </div>
     </div>
     <div class="popup_anchor" id="u2085popup">
      <div class="SlideShowCaptionPanel clearfix" id="u2085"><!-- stack box -->
       <div class="SSSlideCaption clearfix grpelem" id="u2089-4"><!-- content -->
        <p>KINTAMPO WATERFALLS</p>
       </div>
       <div class="SSSlideCaption invi clearfix grpelem" id="u2087-4"><!-- content -->
        <p>THE HERITAGE OF BRONG AHAFO</p>
       </div>
       <div class="SSSlideCaption invi clearfix grpelem" id="u2088-4"><!-- content -->
        <p>BOABENG FIEMA SANCTUARY</p>
       </div>
       <div class="SSSlideCaption invi clearfix grpelem" id="u2086-4"><!-- content -->
        <p>THE MONKEY SANCTUARY</p>
       </div>
      </div>
     </div>
     <div class="popup_anchor" id="u2110-4popup">
      <div class="SSPreviousButton clearfix" id="u2110-4"><!-- content -->
       <p>&lt;</p>
      </div>
     </div>
     <div class="popup_anchor" id="u2114-4popup">
      <div class="SSNextButton clearfix" id="u2114-4"><!-- content -->
       <p>&gt;</p>
      </div>
     </div>
     <div class="popup_anchor">
      <div class="SSCloseButton popup_element clearfix" id="u2111"><!-- group -->
       <div class="clearfix grpelem" id="u2112-4"><!-- content -->
        <p>x</p>
       </div>
      </div>
     </div>
    </div>
    <div class="verticalspacer"></div>
    <div class="browser_width colelem" id="u796-bw">
     <div id="u796"><!-- group -->
      <div class="clearfix" id="u796_align_to_page">
       <div class="clearfix grpelem" id="u2851-7"><!-- content -->
        <p id="u2851-2">We bring the Ghana to the world, and the World to Ghana</p>
        <p id="u2851-3">&nbsp;</p>
        <p id="u2851-5">Copyright&nbsp; © 2015&nbsp; , KONEKT GHANA</p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- JS includes -->
  <script type="text/javascript">
   if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn2.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
   window.jQuery || document.write('\x3Cscript src="scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script src="{% static 'js/museutils.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musemenu.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.watch.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/webpro.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/musewpslideshow.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.museoverlay.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/touchswipe.js' %}" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Some files on the server may be missing or incorrect. Clear browser cache and try again. If the problem persists please contact website author.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();
/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
Muse.Utils.initWidget('.MenuBar', function(elem) { return $(elem).museMenu(); });/* unifiedNavBar */
Muse.Utils.resizeHeight()/* resize height */
Muse.Utils.initWidget('#slideshowu2084', function(elem) { $(elem).data('widget', new WebPro.Widget.ContentSlideShow(elem, {autoPlay:false,displayInterval:3000,slideLinkStopsSlideShow:false,transitionStyle:'fading',lightboxEnabled_runtime:true,shuffle:false,transitionDuration:500,enableSwipe:true,elastic:'off',resumeAutoplay:true,resumeAutoplayInterval:3000,playOnce:false})); });/* #slideshowu2084 */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>
   </body>
</html>
