<!DOCTYPE html>
{% load staticfiles %}
<html class="html" lang="en-US">
 <head>

  <script type="text/javascript">
   if(typeof Muse == "undefined") window.Muse = {}; window.Muse.assets = {"required":["jquery-1.8.3.min.js", "museutils.js", "jquery.musepolyfill.bgsize.js", "jquery.musemenu.js", "jquery.watch.js", "car-rental.css"], "outOfDate":[]};
</script>
  
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="2014.3.0.295"/>
  <title>Car Rental</title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/site_global.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/master_a-master.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/car-rental.css' %}" id="pagesheet"/>
  <!-- Other scripts -->
  <script type="text/javascript">
   document.documentElement.className += ' js';
var __adobewebfontsappname__ = "muse";
</script>
  <!-- JS includes -->
  <script type="text/javascript">
   document.write('\x3Cscript src="' + (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//webfonts.creativecloud.com/poiret-one:n4:all;inder:n4:all;allura:n4:all;doppio-one:n4:all;cuprum:n4:all;actor:n4:all.js" type="text/javascript">\x3C/script>');
</script>
  <!--[if lt IE 9]>
  <script src="scripts/html5shiv.js?4241844378" type="text/javascript"></script>
  <![endif]-->
    <!--HTML Widget code-->
  
<style>
* {
       transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}

.clip_frame, .Container, .verticalspacer, #preloader, img {
  transition:none !important;
  -webkit-transition:none !important;
}
</style>

 </head>
 <body>

  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="browser_width" id="u205-bw">
     <div class="pinned-colelem" id="u205"><!-- simple frame --></div>
    </div>
    <div class="pinned-colelem" id="u193"><!-- simple frame --></div>
    <div class="clearfix pinned-colelem" id="u200-4"><!-- content -->
     <p>Konekt Ghana</p>
    </div>
    <nav class="MenuBar clearfix pinned-colelem" id="menuu112"><!-- horizontal box -->
     <div class="MenuItemContainer clearfix grpelem" id="u120"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u123" href="/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u124-4"><!-- content --><p>Home</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u113"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u114" href="/about/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u115-4"><!-- content --><p>About</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u808"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u809" href="/ghana/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u811-4"><!-- content --><p>Ghana</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u128"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u129" href="/services/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u130-4"><!-- content --><p>Services</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u142"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u145" href="/booking/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u146-4"><!-- content --><p>Booking</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u149"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u152" href="/contact/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u154-4"><!-- content --><p>Contact</p></div></a>
     </div>
    </nav>
    <div class="browser_width colelem" id="u454-bw">
     <div id="u454"><!-- group -->
      <div class="clearfix" id="u454_align_to_page">
       <div class="clearfix grpelem" id="u458-4"><!-- content -->
        <p>Car Rental</p>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu213"><!-- group -->
     <div class="grpelem" id="u213"><!-- custom html --></div>
     <div class="browser_width grpelem" id="u455-bw">
      <div id="u455"><!-- group -->
       <div class="clearfix" id="u455_align_to_page">
        <div class="clearfix grpelem" id="u456-4"><!-- content -->
         <p>Overview</p>
        </div>
        <a class="nonblock nontext clearfix grpelem" id="u457-4" href="/lodging/"><!-- content --><p>Lodging</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u459-4" href="/excursion/"><!-- content --><p>Excursion</p></a>
        <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u460-4" href="/car-rental/"><!-- content --><p>Car Rental</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u461-4" href="/flight-reservation/"><!-- content --><p>Flight Reservation</p></a>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu587-4"><!-- group -->
     <div class="clearfix grpelem" id="u587-4"><!-- content -->
      <p>HOT CAR DEALS</p>
     </div>
     <div class="clearfix grpelem" id="u591-5"><!-- content -->
      <p>&nbsp;</p>
      <p id="u591-3">COACHES</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu588-16"><!-- group -->
     <div class="museBGSize clearfix grpelem" id="u588-16"><!-- content -->
      <p id="u588-3"><span id="u588">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span id="u588-2">SALOON CAR - TOYOTA COROLLA - 5 SEATS</span></p>
      <p id="u588-4">&nbsp;</p>
      <p id="u588-7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span id="u588-6">1 - 10&nbsp; days&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $85.00 / day</span></p>
      <p id="u588-8">&nbsp;</p>
      <p id="u588-10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 11 - 21&nbsp; days&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $80.75 / day (5% off)</p>
      <p id="u588-11">&nbsp;</p>
      <p id="u588-13">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 21&nbsp; days+&nbsp;&nbsp;&nbsp; $76.50 / day (10% off)</p>
      <p>&nbsp;</p>
     </div>
     <div class="museBGSize grpelem" id="u592"><!-- simple frame --></div>
     <div class="shadow rounded-corners clearfix grpelem" id="u595-4"><!-- content -->
      <p>FREE AIRPORT PICK UP</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu589-15"><!-- group -->
     <div class="museBGSize clearfix grpelem" id="u589-15"><!-- content -->
      <p id="u589-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5 doors - TOYOTA RAV 4 - 5 SEATS</p>
      <p id="u589-3">&nbsp;</p>
      <p id="u589-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span id="u589-5"> 1 - 10&nbsp;&nbsp; days&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $100.00 / day</span></p>
      <p id="u589-7">&nbsp;</p>
      <p id="u589-9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 11 - 21&nbsp;&nbsp; days&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $95.00&nbsp; / day (5% off)</p>
      <p id="u589-10">&nbsp;</p>
      <p id="u589-12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 21&nbsp;&nbsp; days+&nbsp;&nbsp;&nbsp;&nbsp; $90.00&nbsp; / day (10% off)</p>
      <p>&nbsp;</p>
     </div>
     <div class="clearfix grpelem" id="u593-24"><!-- content -->
      <p id="u593">&nbsp;</p>
      <p id="u593-5">&nbsp;ACCRA.......................................................................................... <span id="u593-3">$250</span> / day</p>
      <p id="u593-6">&nbsp;</p>
      <p id="u593-10">KUMASI........................................................................................ <span id="u593-8">$300</span> /&nbsp; day</p>
      <p id="u593-11">&nbsp;</p>
      <p id="u593-15">CAPE COAST .............................................................................. <span id="u593-13">$300</span> / day</p>
      <p id="u593-16">&nbsp;</p>
      <p id="u593-20">TAMALE........................................................................................ <span id="u593-18">$500 </span>/ day</p>
      <p id="u593-21">&nbsp;</p>
      <p id="u593-22">&nbsp;</p>
     </div>
     <div class="shadow rounded-corners clearfix grpelem" id="u596-4"><!-- content -->
      <p>FREE AIRPORT PICK UP</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pppu590-16"><!-- group -->
     <div class="clearfix grpelem" id="ppu590-16"><!-- column -->
      <div class="clearfix colelem" id="pu590-16"><!-- group -->
       <div class="museBGSize clearfix grpelem" id="u590-16"><!-- content -->
        <p id="u590-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span id="u590-2">4 SUV - TOYOTA LAND CRUISER - 7 SEATS</span></p>
        <p id="u590-4">&nbsp;</p>
        <p id="u590-7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span id="u590-6"> 1 - 10&nbsp;&nbsp; days&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $120.00 / day</span></p>
        <p id="u590-8">&nbsp;</p>
        <p id="u590-10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 11 - 21&nbsp; days&nbsp;&nbsp;&nbsp;&nbsp; $114.00&nbsp; / day (5% off)</p>
        <p id="u590-11">&nbsp;</p>
        <p id="u590-13">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 21&nbsp; days+&nbsp;&nbsp; $108.00&nbsp; / day (10% off)</p>
        <p>&nbsp;</p>
       </div>
       <div class="shadow rounded-corners clearfix grpelem" id="u597-4"><!-- content -->
        <p>FREE AIRPORT PICK UP</p>
       </div>
      </div>
      <div class="clearfix colelem" id="pu594-15"><!-- group -->
       <div class="clearfix grpelem" id="u594-15"><!-- content -->
        <p id="u594-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; MINI VAN - HYUNDAI H1 - 12 SEATS</p>
        <p id="u594-3">&nbsp;</p>
        <p id="u594-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span id="u594-5"> 1 - 10&nbsp;&nbsp; days&nbsp;&nbsp;&nbsp; $120.00 / day</span></p>
        <p id="u594-7">&nbsp;</p>
        <p id="u594-9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 11 - 21&nbsp; days&nbsp;&nbsp; $114.00&nbsp; / day (5% off)</p>
        <p id="u594-10">&nbsp;</p>
        <p id="u594-12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 21&nbsp; days+&nbsp; $108.00&nbsp; / day (10% off)</p>
        <p>&nbsp;</p>
       </div>
       <div class="shadow rounded-corners clearfix grpelem" id="u598-4"><!-- content -->
        <p>FREE AIRPORT PICK UP</p>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u632-40"><!-- content -->
      <p id="u632-2">Extra cost for use of Vehicles Outside Accra.</p>
      <p id="u632-3">&nbsp;</p>
      <p id="u632-7">&nbsp;<span id="u632-5">Central Region: </span>Extra $30.00 will be paid on each rate and $15.00 for Driver.</p>
      <p id="u632-11">&nbsp;<span id="u632-9">Western Region:</span> Extra $30.00 will be paid on each rate and $15.00 for Driver.</p>
      <p id="u632-15">&nbsp;<span id="u632-13">Volta Region:</span> Extra $30.00 will be paid on each rate and $15.00 for Driver.</p>
      <p id="u632-19">&nbsp;<span id="u632-17">Eastern Region:</span> Extra $30.00 will be paid on each rate and $15.00 for Driver.</p>
      <p id="u632-23">&nbsp;<span id="u632-21">Upper West Region:</span> Extra $50.00 will be paid on each rate.</p>
      <p id="u632-26"><span id="u632-24">&nbsp;Ashanti Region:</span> Extra $40.00 will be paid on each rate.</p>
      <p id="u632-30">&nbsp;<span id="u632-28">Brong-Ahafo Region: </span>Extra $40.00 will be paid on each rate.</p>
      <p id="u632-34">&nbsp;<span id="u632-32">Northern Region:</span> Extra $50.00 will be paid on each rate.</p>
      <p id="u632-38">&nbsp;<span id="u632-36">Upper East Region:</span> Extra $50.00 will be paid on each rate.</p>
     </div>
    </div>
    <div class="verticalspacer"></div>
    <div class="browser_width colelem" id="u796-bw">
     <div id="u796"><!-- group -->
      <div class="clearfix" id="u796_align_to_page">
       <div class="clearfix grpelem" id="u2851-7"><!-- content -->
        <p id="u2851-2">We bring the Ghana to the world, and the World to Ghana</p>
        <p id="u2851-3">&nbsp;</p>
        <p id="u2851-5">Copyright&nbsp; © 2015&nbsp; , KONEKT GHANA</p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- JS includes -->
  <script type="text/javascript">
   if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn2.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
   window.jQuery || document.write('\x3Cscript src="scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script src="{% static 'js/museutils.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musemenu.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.watch.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musepolyfill.bgsize.js' %}" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Some files on the server may be missing or incorrect. Clear browser cache and try again. If the problem persists please contact website author.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();
/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
Muse.Utils.initWidget('.MenuBar', function(elem) { return $(elem).museMenu(); });/* unifiedNavBar */
Muse.Utils.resizeHeight()/* resize height */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>
   </body>
</html>
