<!DOCTYPE html>
{% load staticfiles %}
<html class="html" lang="en-US">
 <head>

  <script type="text/javascript">
   if(typeof Muse == "undefined") window.Muse = {}; window.Muse.assets = {"required":["jquery-1.8.3.min.js", "museutils.js", "jquery.musemenu.js", "webpro.js", "musewpslideshow.js", "jquery.museoverlay.js", "touchswipe.js", "jquery.watch.js", "central.css"], "outOfDate":[]};
</script>
  
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="2014.3.0.295"/>
  <title>Central</title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/site_global.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/master_a-master.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/central.css' %}" id="pagesheet"/>
  <!-- Other scripts -->
  <script type="text/javascript">
   document.documentElement.className += ' js';
var __adobewebfontsappname__ = "muse";
</script>
  <!-- JS includes -->
  <script type="text/javascript">
   document.write('\x3Cscript src="' + (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//webfonts.creativecloud.com/allura:n4:all;doppio-one:n4:all;cuprum:n4:all.js" type="text/javascript">\x3C/script>');
</script>
  <!--[if lt IE 9]>
  <script src="scripts/html5shiv.js?4241844378" type="text/javascript"></script>
  <![endif]-->
    <!--HTML Widget code-->
  
<style>
* {
       transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}

.clip_frame, .Container, .verticalspacer, #preloader, img {
  transition:none !important;
  -webkit-transition:none !important;
}
</style>

 </head>
 <body>

  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="browser_width" id="u205-bw">
     <div class="pinned-colelem" id="u205"><!-- simple frame --></div>
    </div>
    <div class="pinned-colelem" id="u193"><!-- simple frame --></div>
    <div class="clearfix pinned-colelem" id="u200-4"><!-- content -->
     <p>Konekt Ghana</p>
    </div>
    <nav class="MenuBar clearfix pinned-colelem" id="menuu112"><!-- horizontal box -->
     <div class="MenuItemContainer clearfix grpelem" id="u120"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u123" href="/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u124-4"><!-- content --><p>Home</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u113"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u114" href="/about/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u115-4"><!-- content --><p>About</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u808"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u809" href="/ghana/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u811-4"><!-- content --><p>Ghana</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u128"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u129" href="/services/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u130-4"><!-- content --><p>Services</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u142"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u145" href="/booking/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u146-4"><!-- content --><p>Booking</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u149"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u152" href="/contact/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u154-4"><!-- content --><p>Contact</p></div></a>
     </div>
    </nav>
    <div class="browser_width colelem" id="u981-bw">
     <div id="u981"><!-- group -->
      <div class="clearfix" id="u981_align_to_page">
       <div class="clearfix grpelem" id="u985-4"><!-- content -->
        <p>Akwaaba !!!!!</p>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu213"><!-- group -->
     <div class="grpelem" id="u213"><!-- custom html --></div>
     <div class="browser_width grpelem" id="u982-bw">
      <div id="u982"><!-- group -->
       <div class="clearfix" id="u982_align_to_page">
        <a class="nonblock nontext clearfix grpelem" id="u983-4" href="/ghana/"><!-- content --><p>Overview</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u984-4" href="/greater-accra/"><!-- content --><p>Greater Accra</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u986-4" href="/ashanti/"><!-- content --><p>Ashanti</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u987-4" href="/eastern/"><!-- content --><p>Eastern</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u988-4" href="/western/"><!-- content --><p>Western</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u989-4" href="/volta/"><!-- content --><p>Volta</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u990-4" href="/brong-ahafo/"><!-- content --><p>Brong Ahafo</p></a>
        <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u991-4" href="/central/"><!-- content --><p>Central</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u992-4" href="/northern/"><!-- content --><p>Northern</p></a>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="ppu2143"><!-- group -->
     <div class="clearfix grpelem" id="pu2143"><!-- column -->
      <div class="colelem" id="u2143"><!-- simple frame --></div>
      <div class="clearfix colelem" id="u2153-9"><!-- content -->
       <p id="u2153-2">BACKGROUND AND LOCATION</p>
       <p id="u2153-3">&nbsp;</p>
       <p id="u2153-5">The Central Region is one of Ghana's ten administrative regions. It is bordered by the Ashanti and Eastern regions to the north, Western region to the west, Greater Accra region to the east, and to the south by the Atlantic Ocean.</p>
       <p id="u2153-7">The Central Region was historically part of the Western Region until 1970 when it was carved out just before the 1970 Population Census. It occupies an area of 9,826 square kilometres or 4.1 per cent of Ghana’s land area, making it the third smallest in area after Greater Accra and Upper East. It shares common boundaries with Western Region on the west, Ashanti and Eastern Regions on the north, and Greater Accra Region on the east. On the south is the 168-kilometre length Atlantic Ocean (Gulf of Guinea) coastline.</p>
      </div>
     </div>
     <div class="clearfix grpelem" id="u2144-11"><!-- content -->
      <p id="u2144-2">The region was the first area in the country to make contact with the Europeans. Its capital, Cape Coast, was also the capital of the Gold Coast until 1877, when the capital was moved to Accra. It was in the castle of Cape Coast that the historic Bond of 1844 was signed between the British and the Fante Confederation.</p>
      <p id="u2144-4">In all, there are about 32 major festivals in the region. Notable among these are the Aboakyer at Winneba, Fetu at Cape Coast and Bakatue at Elmina. The region has two Universities - University of Cape Coast and the University of Education, Winneba. The Cape Coast Municipality has excellent educational institutions like Mfantsipim School, St. Augustine’s College, Wesley Girls High School, Adisadel College and Holy Child that have produced some of the prominent citizens in the country.</p>
      <p id="u2144-5">&nbsp;</p>
      <p id="u2144-7"><span id="u2144-6">The region’s population is 1,593,823. The corresponding 1984 population was 1,142,335. This means that the region’s population is growing at a rate of 2.1 per cent per annum. The region is also the second most densely populated in the country, with a population density of 162 persons per square kilometre. Out-migration, which continues to be a problem in the region, is declining gradually with immigrants constituting about a quarter of the population in all the districts. Between 1984- 2000, the region recorded a net out-migration rate of 14.3 per cent compared to that of 15.4 per cent recorded in the period 1970-1984.</span></p>
      <p id="u2144-8">&nbsp;</p>
      <p id="u2144-9">&nbsp;</p>
     </div>
     <div class="clearfix grpelem" id="pu2154-4"><!-- column -->
      <div class="clearfix colelem" id="u2154-4"><!-- content -->
       <p>Roughly between 20 and 37 per cent of the population in the districts are migrants. Twifo- Hemang-Lower Denkyira has the highest proportion of migrants of (37%) and Ajumako- Enyan-Essiam has the least (20%). Inter-regional migrants are more than intra-regional migrants in three districts, while four other districts receive more intra-regional migrants.</p>
      </div>
      <div class="colelem" id="u2155"><!-- simple frame --></div>
     </div>
    </div>
    <div class="SlideShowWidget clearfix widget_invisible colelem" id="slideshowu2168"><!-- none box -->
     <div class="popup_anchor" id="u2178popup">
      <div class="SlideShowContentPanel rgba-background clearfix" id="u2178"><!-- stack box -->
       <div class="SSSlide clip_frame grpelem" id="u2181"><!-- image -->
        <img class="block ImageInclude" id="u2181_img" data-src="{% static 'images/akoshivekovicswildlifeandnaturetravelcomtrip3333.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
       </div>
       <div class="SSSlide invi clip_frame grpelem" id="u2179"><!-- image -->
        <img class="block ImageInclude" id="u2179_img" data-src="{% static 'images/524464823_432305.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
       </div>
       <div class="SSSlide invi clip_frame grpelem" id="u2185"><!-- image -->
        <img class="block ImageInclude" id="u2185_img" data-src="{% static 'images/kakum.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
       </div>
       <div class="SSSlide invi clip_frame grpelem" id="u2183"><!-- image -->
        <img class="block ImageInclude" id="u2183_img" data-src="{% static 'images/posuban%20shrine.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
       </div>
      </div>
     </div>
     <div class="popup_anchor" id="u2187popup">
      <div class="SSSlideLinks clearfix" id="u2187"><!-- horizontal-rows box -->
       <div class="SSSlideLink shadow clip_frame grpelem" id="u2192"><!-- image -->
        <img class="block" id="u2192_img" src="{% static 'images/akoshivekovicswildlifeandnaturetravelcomtrip3333-crop-u2192.jpg' %}" alt="" width="227" height="199"/>
       </div>
       <div class="SSSlideLink shadow clip_frame grpelem" id="u2188"><!-- image -->
        <img class="block" id="u2188_img" src="{% static 'images/cape_coast_castle_courtyard_02_sept_2012-crop-u2188.jpg' %}" alt="" width="227" height="199"/>
       </div>
       <div class="SSSlideLink shadow clip_frame grpelem" id="u2194"><!-- image -->
        <img class="block" id="u2194_img" src="{% static 'images/kakum-crop-u2194.jpg' %}" alt="" width="227" height="199"/>
       </div>
       <div class="SSSlideLink shadow clip_frame grpelem" id="u2190"><!-- image -->
        <img class="block" id="u2190_img" src="{% static 'images/posuban%20shrine-crop-u2190.jpg' %}" alt="" width="227" height="199"/>
       </div>
      </div>
     </div>
     <div class="popup_anchor" id="u2171popup">
      <div class="SlideShowCaptionPanel clearfix" id="u2171"><!-- stack box -->
       <div class="SSSlideCaption clearfix grpelem" id="u2172-4"><!-- content -->
        <p>THE CAPE COAST CASTLE</p>
       </div>
       <div class="SSSlideCaption invi clearfix grpelem" id="u2174-4"><!-- content -->
        <p>ELMINA CASTLE</p>
       </div>
       <div class="SSSlideCaption invi clearfix grpelem" id="u2175-4"><!-- content -->
        <p>KAKUM NATIONAL PARK</p>
       </div>
       <div class="SSSlideCaption invi clearfix grpelem" id="u2173-4"><!-- content -->
        <p>THE POSUBAN SHRINE</p>
       </div>
      </div>
     </div>
     <div class="popup_anchor" id="u2176-4popup">
      <div class="SSPreviousButton clearfix" id="u2176-4"><!-- content -->
       <p>&lt;</p>
      </div>
     </div>
     <div class="popup_anchor" id="u2177-4popup">
      <div class="SSNextButton clearfix" id="u2177-4"><!-- content -->
       <p>&gt;</p>
      </div>
     </div>
     <div class="popup_anchor">
      <div class="SSCloseButton popup_element clearfix" id="u2197"><!-- group -->
       <div class="clearfix grpelem" id="u2198-4"><!-- content -->
        <p>x</p>
       </div>
      </div>
     </div>
    </div>
    <div class="verticalspacer"></div>
    <div class="browser_width colelem" id="u796-bw">
     <div id="u796"><!-- group -->
      <div class="clearfix" id="u796_align_to_page">
       <div class="clearfix grpelem" id="u2851-7"><!-- content -->
        <p id="u2851-2">We bring the Ghana to the world, and the World to Ghana</p>
        <p id="u2851-3">&nbsp;</p>
        <p id="u2851-5">Copyright&nbsp; © 2015&nbsp; , KONEKT GHANA</p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- JS includes -->
  <script type="text/javascript">
   if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn2.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
   window.jQuery || document.write('\x3Cscript src="scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script src="{% static 'js/museutils.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musemenu.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.watch.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/webpro.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/musewpslideshow.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.museoverlay.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/touchswipe.js' %}" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Some files on the server may be missing or incorrect. Clear browser cache and try again. If the problem persists please contact website author.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();
/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
Muse.Utils.initWidget('.MenuBar', function(elem) { return $(elem).museMenu(); });/* unifiedNavBar */
Muse.Utils.resizeHeight()/* resize height */
Muse.Utils.initWidget('#slideshowu2168', function(elem) { $(elem).data('widget', new WebPro.Widget.ContentSlideShow(elem, {autoPlay:false,displayInterval:3000,slideLinkStopsSlideShow:false,transitionStyle:'fading',lightboxEnabled_runtime:true,shuffle:false,transitionDuration:500,enableSwipe:true,elastic:'off',resumeAutoplay:true,resumeAutoplayInterval:3000,playOnce:false})); });/* #slideshowu2168 */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>
   </body>
</html>
