<!DOCTYPE html>
{% load staticfiles %}
<html class="html" lang="en-US">
 <head>

  <script type="text/javascript">
   if(typeof Muse == "undefined") window.Muse = {}; window.Muse.assets = {"required":["jquery-1.8.3.min.js", "museutils.js", "jquery.musemenu.js", "webpro.js", "jquery.watch.js", "contact.css"], "outOfDate":[]};
</script>
  
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="2014.3.0.295"/>
  <title>Contact </title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/site_global.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/master_a-master.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}" id="pagesheet"/>
  <!-- Other scripts -->
  <script type="text/javascript">
   document.documentElement.className += ' js';
var __adobewebfontsappname__ = "muse";
</script>
  <!-- JS includes -->
  <script type="text/javascript">
   document.write('\x3Cscript src="' + (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//webfonts.creativecloud.com/allura:n4:all;doppio-one:n4:all;cuprum:n4:all.js" type="text/javascript">\x3C/script>');
</script>
  <!--[if lt IE 9]>
  <script src="scripts/html5shiv.js?4241844378" type="text/javascript"></script>
  <![endif]-->
    <!--HTML Widget code-->
  
<style>
* {
       transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}

.clip_frame, .Container, .verticalspacer, #preloader, img {
  transition:none !important;
  -webkit-transition:none !important;
}
</style>

 </head>
 <body>

  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="browser_width" id="u205-bw">
     <div class="pinned-colelem" id="u205"><!-- simple frame --></div>
    </div>
    <div class="pinned-colelem" id="u193"><!-- simple frame --></div>
    <div class="clearfix pinned-colelem" id="u200-4"><!-- content -->
     <p>Konekt Ghana</p>
    </div>
    <nav class="MenuBar clearfix pinned-colelem" id="menuu112"><!-- horizontal box -->
     <div class="MenuItemContainer clearfix grpelem" id="u120"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u123" href="/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u124-4"><!-- content --><p>Home</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u113"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u114" href="/about/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u115-4"><!-- content --><p>About</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u808"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u809" href="/ghana/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u811-4"><!-- content --><p>Ghana</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u128"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u129" href="/services/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u130-4"><!-- content --><p>Services</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u142"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u145" href="/booking/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u146-4"><!-- content --><p>Booking</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u149"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu MuseMenuActive clearfix colelem" id="u152" href="/contact/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u154-4"><!-- content --><p>Contact</p></div></a>
     </div>
    </nav>
    <div class="browser_width colelem" id="u755-bw">
     <div id="u755"><!-- group -->
      <div class="clearfix" id="u755_align_to_page">
       <div class="clearfix grpelem" id="u759-4"><!-- content -->
        <p>Get in-touch</p>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu213"><!-- group -->
     <div class="grpelem" id="u213"><!-- custom html --></div>
     <div class="browser_width grpelem" id="u756-bw">
      <div id="u756"><!-- group -->
       <div class="clearfix" id="u756_align_to_page">
        <a class="nonblock nontext clearfix grpelem" id="u757-4" href="/about/"><!-- content --><p>Overview</p></a>
        <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u758-4" href="/contact/"><!-- content --><p>Contact</p></a>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu768-17"><!-- group -->
     <div class="clearfix grpelem" id="u768-17"><!-- content -->
      <p id="u768-2">Contact Address:</p>
      <p id="u768-3">&nbsp;</p>
      <p id="u768-5">Tel.: +233 (0)302 955 96</p>
      <p id="u768-7">Mob.: (+233) 242 - 981- 337</p>
      <p id="u768-9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (+233) 233 - 203 - 460</p>
      <p id="u768-11">E-Mail:&nbsp; info@konektghana.org</p>
      <p id="u768-12">&nbsp;</p>
      <p id="u768-14">Working Hrs.: Mon - Fri: 7:00 am-5:00 pm</p>
      <p>&nbsp;</p>
     </div>
     <div class="clearfix grpelem" id="u769-11"><!-- content -->
      <p id="u769-2">Physical Location:</p>
      <p>&nbsp;</p>
      <p id="u769-5">No1 Main Road,</p>
      <p id="u769-7">Madina - Accra</p>
      <p>Ghana - 00233</p>
     </div>
     <div class="clearfix grpelem" id="u789-11"><!-- content -->
      <p id="u789-2">By Mail:</p>
      <p>&nbsp;</p>
      <p>P. O. Box MD 979</p>
      <p>Madina - Accra</p>
      <p>Ghana - 00233</p>
     </div>
     <div class="clearfix grpelem" id="pu770-4"><!-- column -->
      <div class="clearfix colelem" id="u770-4"><!-- content -->
       <p>Quick Message</p>
      </div>
      <form class="form-grp clearfix colelem" id="widgetu771" method="post" enctype="multipart/form-data" action="scripts/form-u771.php"><!-- none box -->
       <div class="fld-grp clearfix grpelem" id="widgetu776" data-required="true"><!-- none box -->
        <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u779-4"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu776_input" name="custom_U776" tabindex="1"/><label class="wrapped-input fld-prompt" id="widgetu776_prompt" for="widgetu776_input"><span class="actAsPara">Enter Name</span></label></span>
       </div>
       <div class="fld-grp clearfix grpelem" id="widgetu784" data-required="true" data-type="email"><!-- none box -->
        <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u785-4"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu784_input" name="Email" tabindex="2"/><label class="wrapped-input fld-prompt" id="widgetu784_prompt" for="widgetu784_input"><span class="actAsPara">Enter Email</span></label></span>
       </div>
       <div class="clearfix grpelem" id="u782-4"><!-- content -->
        <p>Submitting Form...</p>
       </div>
       <div class="clearfix grpelem" id="u780-4"><!-- content -->
        <p>The server encountered an error.</p>
       </div>
       <div class="clearfix grpelem" id="u783-4"><!-- content -->
        <p>Form received.</p>
       </div>
       <input class="submit-btn NoWrap grpelem" id="u781-17" type="submit" value="" tabindex="4"/><!-- state-based BG images -->
       <div class="fld-grp clearfix grpelem" id="widgetu772" data-required="false"><!-- none box -->
        <span class="fld-textarea actAsDiv clearfix grpelem" id="u775-4"><!-- content --><textarea class="wrapped-input" id="widgetu772_input" name="custom_U772" tabindex="3"></textarea><label class="wrapped-input fld-prompt" id="widgetu772_prompt" for="widgetu772_input"><span class="actAsPara">Enter Your Message</span></label></span>
       </div>
      </form>
     </div>
    </div>
    <div class="clearfix colelem" id="u795-4"><!-- content -->
     <p>Visit Us</p>
    </div>
    <div class="colelem" id="u792"><!-- custom html -->
     <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script><div style="overflow:hidden;height:302px;width:970px;"><div id="gmap_canvas" style="height:302px;width:970px;"></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style><a class="google-map-code" href="http://www.map-embed.com" id="get-map-data">map-embed.com</a></div><script type="text/javascript"> function init_map(){var myOptions = {zoom:15,center:new google.maps.LatLng(5.677767999999999,-0.16874589999997625),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(5.677767999999999, -0.16874589999997625)});infowindow = new google.maps.InfoWindow({content:"<b>Konekt Ghana</b><br/>Madina Old Road<br/>00233 Accra" });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
</div>
    <div class="colelem" id="u791"><!-- simple frame --></div>
    <div class="verticalspacer"></div>
    <div class="browser_width colelem" id="u796-bw">
     <div id="u796"><!-- group -->
      <div class="clearfix" id="u796_align_to_page">
       <div class="clearfix grpelem" id="u2851-7"><!-- content -->
        <p id="u2851-2">We bring the Ghana to the world, and the World to Ghana</p>
        <p id="u2851-3">&nbsp;</p>
        <p id="u2851-5">Copyright&nbsp; © 2015&nbsp; , KONEKT GHANA</p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="preload_images">
   <img class="preload" src="images/u781-17-r.png" alt=""/>
   <img class="preload" src="images/u781-17-m.png" alt=""/>
   <img class="preload" src="images/u781-17-fs.png" alt=""/>
  </div>
  <!-- JS includes -->
  <script type="text/javascript">
   if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn2.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
   window.jQuery || document.write('\x3Cscript src="scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script src="{% static 'js/museutils.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musemenu.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.watch.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/webpro.js' %}" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Some files on the server may be missing or incorrect. Clear browser cache and try again. If the problem persists please contact website author.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();
/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
Muse.Utils.initWidget('.MenuBar', function(elem) { return $(elem).museMenu(); });/* unifiedNavBar */
Muse.Utils.resizeHeight()/* resize height */
Muse.Utils.initWidget('#widgetu771', function(elem) { new WebPro.Widget.Form(elem, {validationEvent:'submit',errorStateSensitivity:'high',fieldWrapperClass:'fld-grp',formSubmittedClass:'frm-sub-st',formErrorClass:'frm-subm-err-st',formDeliveredClass:'frm-subm-ok-st',notEmptyClass:'non-empty-st',focusClass:'focus-st',invalidClass:'fld-err-st',requiredClass:'fld-err-st',ajaxSubmit:true}); });/* #widgetu771 */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>
   </body>
</html>
