<!DOCTYPE html>
{% load staticfiles %}
<html class="html" lang="en-US">
 <head>

  <script type="text/javascript">
   if(typeof Muse == "undefined") window.Muse = {}; window.Muse.assets = {"required":["jquery-1.8.3.min.js", "museutils.js", "jquery.musemenu.js", "webpro.js", "musewpslideshow.js", "jquery.museoverlay.js", "touchswipe.js", "jquery.watch.js", "eastern.css"], "outOfDate":[]};
</script>
  
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="2014.3.0.295"/>
  <title>Eastern</title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/site_global.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/master_a-master.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/eastern.css' %}" id="pagesheet"/>
  <!-- Other scripts -->
  <script type="text/javascript">
   document.documentElement.className += ' js';
var __adobewebfontsappname__ = "muse";
</script>
  <!-- JS includes -->
  <script type="text/javascript">
   document.write('\x3Cscript src="' + (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//webfonts.creativecloud.com/allura:n4:all;doppio-one:n4:all;cuprum:n4:all.js" type="text/javascript">\x3C/script>');
</script>
  <!--[if lt IE 9]>
  <script src="scripts/html5shiv.js?4241844378" type="text/javascript"></script>
  <![endif]-->
    <!--HTML Widget code-->
  
<style>
* {
       transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}

.clip_frame, .Container, .verticalspacer, #preloader, img {
  transition:none !important;
  -webkit-transition:none !important;
}
</style>

 </head>
 <body>

  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="browser_width" id="u205-bw">
     <div class="pinned-colelem" id="u205"><!-- simple frame --></div>
    </div>
    <div class="pinned-colelem" id="u193"><!-- simple frame --></div>
    <div class="clearfix pinned-colelem" id="u200-4"><!-- content -->
     <p>Konekt Ghana</p>
    </div>
    <nav class="MenuBar clearfix pinned-colelem" id="menuu112"><!-- horizontal box -->
     <div class="MenuItemContainer clearfix grpelem" id="u120"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u123" href="/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u124-4"><!-- content --><p>Home</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u113"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u114" href="/about/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u115-4"><!-- content --><p>About</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u808"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u809" href="/ghana/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u811-4"><!-- content --><p>Ghana</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u128"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u129" href="/services/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u130-4"><!-- content --><p>Services</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u142"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u145" href="/booking/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u146-4"><!-- content --><p>Booking</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u149"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u152" href="/contact/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u154-4"><!-- content --><p>Contact</p></div></a>
     </div>
    </nav>
    <div class="browser_width colelem" id="u933-bw">
     <div id="u933"><!-- group -->
      <div class="clearfix" id="u933_align_to_page">
       <div class="clearfix grpelem" id="u937-4"><!-- content -->
        <p>Akwaaba !!!!!</p>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu213"><!-- group -->
     <div class="grpelem" id="u213"><!-- custom html --></div>
     <div class="browser_width grpelem" id="u934-bw">
      <div id="u934"><!-- group -->
       <div class="clearfix" id="u934_align_to_page">
        <a class="nonblock nontext clearfix grpelem" id="u935-4" href="/ghana/"><!-- content --><p>Overview</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u936-4" href="/greater-accra/"><!-- content --><p>Greater Accra</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u938-4" href="/ashanti/"><!-- content --><p>Ashanti</p></a>
        <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u939-4" href="/eastern/"><!-- content --><p>Eastern</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u940-4" href="/western/"><!-- content --><p>Western</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u941-4" href="/volta/"><!-- content --><p>Volta</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u942-4" href="/brong-ahafo/"><!-- content --><p>Brong Ahafo</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u943-4" href="/central/"><!-- content --><p>Central</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u944-4" href="/northern/"><!-- content --><p>Northern</p></a>
       </div>
      </div>
     </div>
     <div class="grpelem" id="u1792"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="u1793-11"><!-- content -->
      <p id="u1793-2">BACKGROUND AND LOCATION</p>
      <p id="u1793-3">&nbsp;</p>
      <p id="u1793-5">The Eastern Region, with an area of 19,323 square kilometres, occupying 8.1 per cent of the total land area of Ghana, is the sixth largest region of the country. A total of 2,106,696 population for the region, representing 11.1 per cent of Ghana’s population. It is the third most populous region, after the Ashanti and Greater Accra. The population is made up of 49.2 per cent males and 50.8 per cent females. The region is divided into administrative districts. The total number of districts were increased from 17 districts to 21.</p>
      <p id="u1793-7">Area</p>
      <p id="u1793-8">&nbsp;</p>
      <p id="u1793-9">&nbsp;</p>
     </div>
     <div class="clearfix grpelem" id="u1800-21"><!-- content -->
      <p>The Eastern Region occupies a land area of 19,323 kilometres and constitutes 8.1 per cent of the total land area of Ghana. It is the sixth largest region in terms of land area. It lies between latitudes 6o and 7o North and between longitudes 1o30’ West and 0o30’ East. The region shares common boundaries with the Greater Accra, Central, Ashanti, Brong Ahafo and Volta Regions.</p>
      <p>&nbsp;</p>
      <p>The region has four main geographical features, namely:</p>
      <p>&nbsp;</p>
      <p>(i) The Kwahu scarp with an elevation of 2,586 feet above sea level.</p>
      <p>(ii) The Atiwa-Atwaredu Ranges near Kibi, reaching an elevation of 2,400 feet.</p>
      <p>(iii) The Akuapem highland attaining an elevation of 1,530 feet which is the southern extension of the Togo-Atakora mountain ranges and</p>
      <p>(iv) The isolated hills/mountains dotting the relatively low-lying plains to the south, notably the Krobo and the Yogaga mountains.</p>
      <p>&nbsp;</p>
      <p>The forest and savannah type of soils are suitable for the cultivation of a variety of crops including cocoa, cola-nuts, citrus, oil palm and staple food crops such as cassava, yam, cocoyam, maize, rice and vegetables. The region contributes significantly to the production of industrial crops such as cocoa, pineapple, pawpaw, cola nut and oil palm and also has a substantial share in the national production of maize, cassava, and citrus.</p>
      <p>.</p>
     </div>
     <div class="clearfix grpelem" id="u1801-7"><!-- content -->
      <p>Available also in the region are exotic crops such as black and sweet pepper, ginger, cashew nuts, Irish potatoes, rubber and mangoes, which are all gaining importance as export commodities.</p>
      <p>&nbsp;</p>
      <p>The region has a beautiful natural setting which makes it an impressive tourist area. It is characterized by a chain of highlands, woody valleys and waterfalls, including the Boti Falls at Huhunya in the Krobo Hills. For perfect calm and serenity, the most appropriate months are June and August</p>
     </div>
     <div class="grpelem" id="u1802"><!-- simple frame --></div>
     <div class="SlideShowWidget clearfix widget_invisible grpelem" id="slideshowu1809"><!-- none box -->
      <div class="popup_anchor" id="u1815popup">
       <div class="SlideShowContentPanel rgba-background clearfix" id="u1815"><!-- stack box -->
        <div class="SSSlide clip_frame grpelem" id="u1816"><!-- image -->
         <img class="block ImageInclude" id="u1816_img" data-src="{% static 'images/aburi.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
        </div>
        <div class="SSSlide invi clip_frame grpelem" id="u1822"><!-- image -->
         <img class="block ImageInclude" id="u1822_img" data-src="{% static 'images/umbrella%20rock.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
        </div>
        <div class="SSSlide invi clip_frame grpelem" id="u1818"><!-- image -->
         <img class="block ImageInclude" id="u1818_img" data-src="{% static 'images/the%20three%20headed%20palm%20tree.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
        </div>
        <div class="SSSlide invi clip_frame grpelem" id="u1820"><!-- image -->
         <img class="block ImageInclude" id="u1820_img" data-src="{% static 'images/boti.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u1824popup">
       <div class="SSSlideLinks clearfix" id="u1824"><!-- horizontal-rows box -->
        <div class="SSSlideLink shadow clip_frame grpelem" id="u1829"><!-- image -->
         <img class="block" id="u1829_img" src="{% static 'images/aburi-crop-u1829.jpg' %}" alt="" width="227" height="199"/>
        </div>
        <div class="SSSlideLink shadow clip_frame grpelem" id="u1825"><!-- image -->
         <img class="block" id="u1825_img" src="{% static 'images/umbrella%20rock-crop-u1825.jpg' %}" alt="" width="227" height="199"/>
        </div>
        <div class="SSSlideLink shadow clip_frame grpelem" id="u1827"><!-- image -->
         <img class="block" id="u1827_img" src="{% static 'images/the%20three%20headed%20palm%20tree-crop-u1827.jpg' %}" alt="" width="227" height="199"/>
        </div>
        <div class="SSSlideLink shadow clip_frame grpelem" id="u1831"><!-- image -->
         <img class="block" id="u1831_img" src="{% static 'images/boti-crop-u1831.jpg' %}" alt="" width="227" height="199"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u1810popup">
       <div class="SlideShowCaptionPanel clearfix" id="u1810"><!-- stack box -->
        <div class="SSSlideCaption clearfix grpelem" id="u1812-4"><!-- content -->
         <p>ABURI BOTANICAL GARDENS</p>
        </div>
        <div class="SSSlideCaption invi clearfix grpelem" id="u1811-4"><!-- content -->
         <p>THE UMBRELLA ROCK</p>
        </div>
        <div class="SSSlideCaption invi clearfix grpelem" id="u1813-4"><!-- content -->
         <p>THE THREE HEADED PALM TREE</p>
        </div>
        <div class="SSSlideCaption invi clearfix grpelem" id="u1814-4"><!-- content -->
         <p>BOTI FALLS</p>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u1837-4popup">
       <div class="SSPreviousButton clearfix" id="u1837-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u1836-4popup">
       <div class="SSNextButton clearfix" id="u1836-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
      <div class="popup_anchor">
       <div class="SSCloseButton popup_element clearfix" id="u1834"><!-- group -->
        <div class="clearfix grpelem" id="u1835-4"><!-- content -->
         <p>x</p>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="verticalspacer"></div>
    <div class="browser_width colelem" id="u796-bw">
     <div id="u796"><!-- group -->
      <div class="clearfix" id="u796_align_to_page">
       <div class="clearfix grpelem" id="u2851-7"><!-- content -->
        <p id="u2851-2">We bring the Ghana to the world, and the World to Ghana</p>
        <p id="u2851-3">&nbsp;</p>
        <p id="u2851-5">Copyright&nbsp; © 2015&nbsp; , KONEKT GHANA</p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- JS includes -->
  <script type="text/javascript">
   if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn2.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
   window.jQuery || document.write('\x3Cscript src="scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script src="{% static 'js/museutils.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musemenu.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.watch.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musepolyfill.bgsize.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/webpro.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/musewpslideshow.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.museoverlay.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/touchswipe.js' %}" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Some files on the server may be missing or incorrect. Clear browser cache and try again. If the problem persists please contact website author.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();
/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
Muse.Utils.initWidget('.MenuBar', function(elem) { return $(elem).museMenu(); });/* unifiedNavBar */
Muse.Utils.resizeHeight()/* resize height */
Muse.Utils.initWidget('#slideshowu1809', function(elem) { $(elem).data('widget', new WebPro.Widget.ContentSlideShow(elem, {autoPlay:false,displayInterval:3000,slideLinkStopsSlideShow:false,transitionStyle:'fading',lightboxEnabled_runtime:true,shuffle:false,transitionDuration:500,enableSwipe:true,elastic:'off',resumeAutoplay:true,resumeAutoplayInterval:3000,playOnce:false})); });/* #slideshowu1809 */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>
   </body>
</html>
