<!DOCTYPE html>
{% load staticfiles %}
<html class="html" lang="en-US">
 <head>

  <script type="text/javascript">
   if(typeof Muse == "undefined") window.Muse = {}; window.Muse.assets = {"required":["jquery-1.8.3.min.js", "museutils.js", "jquery.musepolyfill.bgsize.js", "jquery.musemenu.js", "jquery.watch.js", "excursion.css"], "outOfDate":[]};
</script>
  
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="2014.3.0.295"/>
  <title>Excursion</title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/site_global.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/master_a-master.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/excursion.css' %}" id="pagesheet"/>
  <!-- Other scripts -->
  <script type="text/javascript">
   document.documentElement.className += ' js';
var __adobewebfontsappname__ = "muse";
</script>
  <!-- JS includes -->
  <script type="text/javascript">
   document.write('\x3Cscript src="' + (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//webfonts.creativecloud.com/quantico:n7:all;allura:n4:all;doppio-one:n4:all;cuprum:n4:all.js" type="text/javascript">\x3C/script>');
</script>
  <!--[if lt IE 9]>
  <script src="scripts/html5shiv.js?4241844378" type="text/javascript"></script>
  <![endif]-->
    <!--HTML Widget code-->
  
<style>
* {
       transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}

.clip_frame, .Container, .verticalspacer, #preloader, img {
  transition:none !important;
  -webkit-transition:none !important;
}
</style>

 </head>
 <body>

  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="browser_width" id="u205-bw">
     <div class="shadow pinned-colelem" id="u205"><!-- simple frame --></div>
    </div>
    <div class="museBGSize pinned-colelem" id="u193"><!-- simple frame --></div>
    <div class="clearfix pinned-colelem" id="u200-4"><!-- content -->
     <p>Konekt Ghana</p>
    </div>
    <nav class="MenuBar clearfix pinned-colelem" id="menuu112"><!-- horizontal box -->
     <div class="MenuItemContainer clearfix grpelem" id="u120"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u123" href="/index/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u124-4"><!-- content --><p>Home</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u113"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u114" href="/about/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u115-4"><!-- content --><p>About</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u808"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u809" href="/ghana/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u811-4"><!-- content --><p>Ghana</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u128"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u129" href="/services/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u130-4"><!-- content --><p>Services</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u142"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u145" href="/booking/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u146-4"><!-- content --><p>Booking</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u149"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u152" href="/contact/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u154-4"><!-- content --><p>Contact</p></div></a>
     </div>
    </nav>
    <div class="browser_width colelem" id="u446-bw">
     <div id="u446"><!-- group -->
      <div class="clearfix" id="u446_align_to_page">
       <div class="clearfix grpelem" id="u450-4"><!-- content -->
        <p>Our Packages</p>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu213"><!-- group -->
     <div class="grpelem" id="u213"><!-- custom html --></div>
     <div class="browser_width grpelem" id="u447-bw">
      <div id="u447"><!-- group -->
       <div class="clearfix" id="u447_align_to_page">
        <div class="clearfix grpelem" id="u448-4"><!-- content -->
         <p>Overview</p>
        </div>
        <a class="nonblock nontext clearfix grpelem" id="u449-4" href="/lodging/"><!-- content --><p>Lodging</p></a>
        <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u451-4" href="/excursion/"><!-- content --><p>Excursion</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u452-4" href="/car-rental/"><!-- content --><p>Car Rental</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u453-4" href="/flight-reservation/"><!-- content --><p>Flight Reservation</p></a>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="u678-4"><!-- content -->
     <p>Overview</p>
    </div>
    <div class="clearfix colelem" id="u679-7"><!-- content -->
     <p id="u679-2">Konekt Ghana has Variety Tour packages under its specially prepared &quot;TOURING PACKAGE&quot;.</p>
     <p id="u679-4">This Package contains:</p>
     <p>&nbsp;</p>
    </div>
    <div class="clearfix colelem" id="u668-4"><!-- content -->
     <p>Forts, Castles and Enhancing Beaches</p>
    </div>
    <div class="clearfix colelem" id="pu664"><!-- group -->
     <div class="museBGSize grpelem" id="u664"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="u669-22"><!-- content -->
      <p id="u669-5"><span id="u669-4">Visit will include<br/><br/></span></p>
      <ul class="list0 nls-None" id="u669-20">
       <li id="u669-7">Accra City Tour</li>
       <li id="u669-9">Cape-Coast and Elmina Castles</li>
       <li id="u669-11">Kakum National Park</li>
       <li id="u669-13">Fort Orange</li>
       <li id="u669-15">Fort Metal Cross</li>
       <li id="u669-17">Busua Beach</li>
       <li id="u669-19">Brenu Akyinim Beach</li>
      </ul>
     </div>
     <div class="clearfix grpelem" id="u670-20"><!-- content -->
      <p id="u670-2"><span id="u670">Sample Itinerary (10 Days / 9 Nights)</span></p>
      <p id="u670-3">&nbsp;</p>
      <ul class="list0 nls-None" id="u670-18">
       <li>Day 1.&nbsp; Arrival in Ghana</li>
       <li>Day 2.&nbsp; Accra City Tour</li>
       <li>Day 3.&nbsp; Depart for Cape-Coast-</li>
       <li>Visit Castles &amp; Kakum</li>
       <li>Day 4.&nbsp; Spend the day relaxed</li>
       <li>at Breny Akyinim Beach</li>
       <li>Day 5.&nbsp; Travel to Busua Beach</li>
      </ul>
     </div>
     <div class="clearfix grpelem" id="u671-17"><!-- content -->
      <p>&nbsp;</p>
      <ul class="list0 nls-None" id="u671-12">
       <li>Day 6.&nbsp;&nbsp; Visit Fort Orange &amp; Metal Cross</li>
       <li>Day 7.&nbsp;&nbsp;&nbsp; Relaxation at Busua Beach Resort</li>
       <li>Day 8.&nbsp;&nbsp;&nbsp; Return to Accra</li>
       <li>Day 9.&nbsp;&nbsp;&nbsp; Final day for Shopping &amp; Parking</li>
       <li>Day 10.&nbsp; Free day &amp; Departure in the Evening</li>
      </ul>
      <p>&nbsp;</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cost:&nbsp; USD $ 1,300.00</p>
     </div>
     <a class="nonblock nontext rounded-corners clearfix grpelem" id="u697-4" href="booking.html"><!-- content --><p>BOOK NOW</p></a>
    </div>
    <div class="clearfix colelem" id="u680-4"><!-- content -->
     <p>The Ashanti Kingdom and the East</p>
    </div>
    <div class="clearfix colelem" id="pu681"><!-- group -->
     <div class="museBGSize grpelem" id="u681"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="u682-20"><!-- content -->
      <p id="u682-5"><span id="u682-4">Visit will include<br/><br/></span></p>
      <ul class="list0 nls-None" id="u682-18">
       <li id="u682-7">&nbsp;Accra City Tour</li>
       <li id="u682-9">&nbsp;Kumasi City Tour</li>
       <li id="u682-11">&nbsp;Museum and Craft Village</li>
       <li id="u682-13">&nbsp;Aburi Botanical Garden</li>
       <li id="u682-15">&nbsp;Tetteh Quarshie Cocoa Farm</li>
       <li id="u682-17">&nbsp;Shai Hills</li>
      </ul>
     </div>
     <div class="clearfix grpelem" id="u683-18"><!-- content -->
      <p id="u683-2"><span id="u683">Sample Itinerary (8 Days / 7 Nights)</span></p>
      <p id="u683-3">&nbsp;</p>
      <ul class="list0 nls-None" id="u683-16">
       <li>Day 1.&nbsp; Arrival in Ghana</li>
       <li>Day 2.&nbsp; Accra City Tour</li>
       <li>Day 3.&nbsp; Travel to Kumasi for a City Tour</li>
       <li>Day 4.&nbsp; Visit Meseum and Craft Village</li>
       <li>Day 5.&nbsp; Return to Accra</li>
       <li>Day 6.&nbsp; Visit Abury Botanical Gardens</li>
      </ul>
     </div>
     <div class="clearfix grpelem" id="u684-15"><!-- content -->
      <p id="u684">&nbsp;</p>
      <p id="u684-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; and Tetteh Quarshie's Cocoa Farm</p>
      <ul class="list0 nls-None" id="u684-8">
       <li id="u684-5">Day 7.&nbsp;&nbsp;&nbsp; Visit the Shai Hills</li>
       <li id="u684-7">Day 8.&nbsp;&nbsp;&nbsp; Final day for Shopping, Parking&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; and Departure</li>
      </ul>
      <p id="u684-9">&nbsp;</p>
      <p>&nbsp;</p>
      <p id="u684-11">&nbsp;</p>
      <p id="u684-13">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cost:&nbsp; USD $ 1,200.00</p>
     </div>
     <a class="nonblock nontext rounded-corners clearfix grpelem" id="u699-4" href="booking.html"><!-- content --><p>BOOK NOW</p></a>
    </div>
    <div class="clearfix colelem" id="u685-4"><!-- content -->
     <p>The Golden Triangle Tour</p>
    </div>
    <div class="clearfix colelem" id="pu686"><!-- group -->
     <div class="museBGSize grpelem" id="u686"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="u687-20"><!-- content -->
      <p id="u687-5"><span id="u687-4">Visit will include<br/><br/></span></p>
      <ul class="list0 nls-None" id="u687-18">
       <li id="u687-7">Accra City Tour</li>
       <li id="u687-9">Cape-Coast and Elmina Castles</li>
       <li id="u687-11">Kakum National Park</li>
       <li id="u687-13">&nbsp;Assin Praso Heritage Village</li>
       <li id="u687-15">Kumasi City Tour</li>
       <li id="u687-17">Ashanti Craft Village</li>
      </ul>
     </div>
     <div class="clearfix grpelem" id="u688-16"><!-- content -->
      <p id="u688-2"><span id="u688">Sample Itinerary (7 Days / 6 Nights)</span></p>
      <p id="u688-3">&nbsp;</p>
      <ul class="list0 nls-None" id="u688-14">
       <li>Day 1.&nbsp; Arrival in Ghana</li>
       <li>Day 2.&nbsp; Accra City Tour</li>
       <li>Day 3.&nbsp; Depart for Cape-Coast-</li>
       <li>Visit Castles &amp; Kakum</li>
       <li>Day 4.&nbsp; Depart for Kumasi, stopping over at Assin Praso Heritage Village</li>
      </ul>
     </div>
     <div class="clearfix grpelem" id="u689-14"><!-- content -->
      <p>&nbsp;</p>
      <ul class="list0 nls-None" id="u689-8">
       <li>Day 5.&nbsp; Visit the Ashanti Craft Village with a Kumasi City Tour.</li>
       <li>Day 6.&nbsp; Return to Accra</li>
       <li>Day 7.&nbsp; Final day for Shopping and&nbsp;&nbsp;&nbsp;&nbsp; Departure</li>
      </ul>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cost:&nbsp; USD $ 1,300.00</p>
     </div>
     <a class="nonblock nontext rounded-corners clearfix grpelem" id="u700-4" href="/booking/"><!-- content --><p>BOOK NOW</p></a>
    </div>
    <div class="clearfix colelem" id="u701-4"><!-- content -->
     <p>Wonderful West</p>
    </div>
    <div class="clearfix colelem" id="pu702"><!-- group -->
     <div class="museBGSize grpelem" id="u702"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="u703-20"><!-- content -->
      <p id="u703-5"><span id="u703-4">Visit will include<br/><br/></span></p>
      <ul class="list0 nls-None" id="u703-18">
       <li id="u703-7">Accra City Tour</li>
       <li id="u703-9">Tour Nzulezo - village on stilth</li>
       <li id="u703-11">Cape 3 Points</li>
       <li id="u703-13">Busua Beach Resort</li>
       <li id="u703-15">Fort Appolonia</li>
       <li id="u703-17">Fort Metal Cross &amp; Fort Orange</li>
      </ul>
     </div>
     <div class="clearfix grpelem" id="u704-16"><!-- content -->
      <p id="u704-2"><span id="u704">Sample Itinerary (7 Days / 6 Nights)</span></p>
      <p id="u704-3">&nbsp;</p>
      <ul class="list0 nls-None" id="u704-14">
       <li>Day 1.&nbsp; Arrival in Ghana</li>
       <li>Day 2.&nbsp; Accra City Tour</li>
       <li>Day 3.&nbsp; Depart for Western Region-</li>
       <li>Visit Fort Metal Cross &amp; Cape 3 Points</li>
       <li>Day 4.&nbsp; Visit Nzulezo village, Fort Orange &amp; Fort Appolonia</li>
      </ul>
     </div>
     <div class="clearfix grpelem" id="u705-14"><!-- content -->
      <p>&nbsp;</p>
      <ul class="list0 nls-None" id="u705-8">
       <li>Day 5.&nbsp; Visit the Ashanti Craft Village with a Kumasi City Tour.</li>
       <li>Day 6.&nbsp; Return to Accra</li>
       <li>Day 7.&nbsp; Final day for Shopping and&nbsp;&nbsp;&nbsp;&nbsp; Departure</li>
      </ul>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cost:&nbsp; USD $ 1,300.00</p>
     </div>
     <a class="nonblock nontext rounded-corners clearfix grpelem" id="u735-4" href="/booking/"><!-- content --><p>BOOK NOW</p></a>
    </div>
    <div class="clearfix colelem" id="u724-4"><!-- content -->
     <p>Adventurous Northern Ghana</p>
    </div>
    <div class="clearfix colelem" id="pu725"><!-- group -->
     <div class="museBGSize grpelem" id="u725"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="u726-24"><!-- content -->
      <p id="u726-5"><span id="u726-4">Visit will include<br/><br/></span></p>
      <ul class="list0 nls-None" id="u726-22">
       <li id="u726-7">Accra City Tour</li>
       <li id="u726-9">Safari Walk - Mole National Park</li>
       <li id="u726-11">Larabanga Mosque &amp; Mystic Stone</li>
       <li id="u726-13">Bolga Town &amp; Craft Markets</li>
       <li id="u726-15">Paga Crocodiles</li>
       <li id="u726-17">Pikworo Slave Camp</li>
       <li id="u726-19">Ghana/Burkina Faso Boarder</li>
       <li id="u726-21">Sirigu Pottery Village</li>
      </ul>
     </div>
     <div class="clearfix grpelem" id="u727-20"><!-- content -->
      <p id="u727-2"><span id="u727">Sample Itinerary (12 Days / 11 Nights)</span></p>
      <p id="u727-3">&nbsp;</p>
      <ul class="list0 nls-None" id="u727-18">
       <li>Day 1.&nbsp; Arrival in Ghana</li>
       <li>Day 2.&nbsp; Accra City Tour</li>
       <li>Day 3.&nbsp; Depart for Kumasi; enjoy Kumasi City Tour</li>
       <li>Day 4.&nbsp; Travel to Mole; Northern Region</li>
       <li>Day 5.&nbsp; Safari or Jungle walk, Visit Larabanga Mosque then to Tamale</li>
       <li>Day 6.&nbsp; Continue to Tour Bolgatanga</li>
       <li>Day 7.&nbsp; Visit Paga, Slave Camp, Ghana/Burkina Faso Boarder &amp; Bolga Craft Market</li>
      </ul>
     </div>
     <div class="clearfix grpelem" id="u728-18"><!-- content -->
      <p>&nbsp;</p>
      <ul class="list0 nls-None" id="u728-12">
       <li>Day 8.&nbsp; Return to Kumasi, stop over at Kintampo Water Falls</li>
       <li>Day 9.&nbsp; To Cape-Coast, stop over at Assin Manso &quot;Slave River&quot;</li>
       <li>Day 10. Visit the Castles and Kakum National Park</li>
       <li>Day 11. Return to Accra</li>
       <li>Day 12. Last day Shopping, Packing and Departure</li>
      </ul>
      <p>&nbsp;</p>
      <p><span id="u728-14">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Cost:&nbsp; USD $ 1,500.00</p>
     </div>
     <a class="nonblock nontext rounded-corners clearfix grpelem" id="u736-4" href="/booking/"><!-- content --><p>BOOK NOW</p></a>
    </div>
    <div class="clearfix colelem" id="u737-4"><!-- content -->
     <p>The Alluring Volta</p>
    </div>
    <div class="clearfix colelem" id="pu738"><!-- group -->
     <div class="museBGSize grpelem" id="u738"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="u739-20"><!-- content -->
      <p id="u739-5"><span id="u739-4">Visit will include<br/><br/></span></p>
      <ul class="list0 nls-None" id="u739-18">
       <li id="u739-7">&nbsp;Accra City Tour</li>
       <li id="u739-9">Dodi Lake Cruising</li>
       <li id="u739-11">Wli Waterfalls</li>
       <li id="u739-13">Tafi Atome Monkey Sanctuary</li>
       <li id="u739-15">Vume Pottery Village</li>
       <li id="u739-17">Villa Cisneros, Sogakope</li>
      </ul>
     </div>
     <div class="clearfix grpelem" id="u740-16"><!-- content -->
      <p id="u740-2"><span id="u740">Sample Itinerary (12 Days / 11 Nights)</span></p>
      <p id="u740-3">&nbsp;</p>
      <ul class="list0 nls-None" id="u740-14">
       <li>Day 1.&nbsp; Arrival in Ghana</li>
       <li>Day 2.&nbsp; Accra City Tour</li>
       <li>Day 3.&nbsp; Cruise on the Dodi Princess to Dodi Island</li>
       <li>Day 4.&nbsp; Visit Wli Waterfalls and return to Akosombo the same day</li>
       <li>Day 5.&nbsp; Visit Tafi Atome Monkey Sanctuary and return to Accra</li>
      </ul>
     </div>
     <div class="clearfix grpelem" id="u741-12"><!-- content -->
      <p id="u741">&nbsp;</p>
      <ul class="list0 nls-None" id="u741-6">
       <li id="u741-3">Day 6.&nbsp; Travel to Villa Cisneros-Sogakope, spend the day by the Volta Lake, Return to Accra stopping over at Vume Pottery Village</li>
       <li id="u741-5">Day 7.&nbsp; Final day for Shopping, Packing and Departure.</li>
      </ul>
      <p id="u741-8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cost:&nbsp; USD $ 1,500.00</p>
      <p id="u741-9">&nbsp;</p>
      <p>&nbsp;</p>
     </div>
     <a class="nonblock nontext rounded-corners clearfix grpelem" id="u742-4" href="/booking/"><!-- content --><p>BOOK NOW</p></a>
    </div>
    <div class="verticalspacer"></div>
    <div class="browser_width colelem" id="u796-bw">
     <div id="u796"><!-- group -->
      <div class="clearfix" id="u796_align_to_page">
       <div class="clearfix grpelem" id="u2851-7"><!-- content -->
        <p id="u2851-2">We bring the Ghana to the world, and the World to Ghana</p>
        <p id="u2851-3">&nbsp;</p>
        <p id="u2851-5">Copyright&nbsp; © 2015&nbsp; , KONEKT GHANA</p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- JS includes -->
  <script type="text/javascript">
   if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn2.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
   window.jQuery || document.write('\x3Cscript src="scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script src="{% static 'js/museutils.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musepolyfill.bgsize.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musemenu.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.watch.js' %}" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Some files on the server may be missing or incorrect. Clear browser cache and try again. If the problem persists please contact website author.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();
/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
Muse.Utils.initWidget('.MenuBar', function(elem) { return $(elem).museMenu(); });/* unifiedNavBar */
Muse.Utils.resizeHeight()/* resize height */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>
   </body>
</html>
