<!DOCTYPE html>
{% load staticfiles %}
<html class="html" lang="en-US">
 <head>

  <script type="text/javascript">
   if(typeof Muse == "undefined") window.Muse = {}; window.Muse.assets = {"required":["jquery-1.8.3.min.js", "museutils.js", "jquery.musepolyfill.bgsize.js", "jquery.musemenu.js", "jquery.watch.js", "ghana.css"], "outOfDate":[]};
</script>
  
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="2014.3.0.295"/>
  <title>Ghana</title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/site_global.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/master_a-master.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/ghana.css' %}" id="pagesheet"/>
  <!-- Other scripts -->
  <script type="text/javascript">
   document.documentElement.className += ' js';
var __adobewebfontsappname__ = "muse";
</script>
  <!-- JS includes -->
  <script type="text/javascript">
   document.write('\x3Cscript src="' + (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//webfonts.creativecloud.com/allura:n4:all;doppio-one:n4:all;cuprum:n4:all.js" type="text/javascript">\x3C/script>');
</script>
  <!--[if lt IE 9]>
  <script src="scripts/html5shiv.js?4241844378" type="text/javascript"></script>
  <![endif]-->
    <!--HTML Widget code-->
  
<style>
* {
       transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}

.clip_frame, .Container, .verticalspacer, #preloader, img {
  transition:none !important;
  -webkit-transition:none !important;
}
</style>

 </head>
 <body>

  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="browser_width" id="u205-bw">
     <div class="pinned-colelem" id="u205"><!-- simple frame --></div>
    </div>
    <div class="pinned-colelem" id="u193"><!-- simple frame --></div>
    <div class="clearfix pinned-colelem" id="u200-4"><!-- content -->
     <p>Konekt Ghana</p>
    </div>
    <nav class="MenuBar clearfix pinned-colelem" id="menuu112"><!-- horizontal box -->
     <div class="MenuItemContainer clearfix grpelem" id="u120"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u123" href="/index/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u124-4"><!-- content --><p>Home</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u113"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u114" href="/about/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u115-4"><!-- content --><p>About</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u808"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu MuseMenuActive clearfix colelem" id="u809" href="/ghana/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u811-4"><!-- content --><p>Ghana</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u128"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u129" href="/services/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u130-4"><!-- content --><p>Services</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u142"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u145" href="/booking/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u146-4"><!-- content --><p>Booking</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u149"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u152" href="/contact/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u154-4"><!-- content --><p>Contact</p></div></a>
     </div>
    </nav>
    <div class="browser_width colelem" id="u817-bw">
     <div id="u817"><!-- group -->
      <div class="clearfix" id="u817_align_to_page">
       <div class="clearfix grpelem" id="u821-4"><!-- content -->
        <p>Akwaaba !!!!!</p>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu213"><!-- group -->
     <div class="grpelem" id="u213"><!-- custom html --></div>
     <div class="browser_width grpelem" id="u818-bw">
      <div id="u818"><!-- group -->
       <div class="clearfix" id="u818_align_to_page">
        <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u819-4" href="/ghana/"><!-- content --><p>Overview</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u820-4" href="/greater-accra/"><!-- content --><p>Greater Accra</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u822-4" href="/ashanti/"><!-- content --><p>Ashanti</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u823-4" href="/eastern/"><!-- content --><p>Eastern</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u824-4" href="/western/"><!-- content --><p>Western</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u825-4" href="/volta/"><!-- content --><p>Volta</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u826-4" href="/brong-ahafo/"><!-- content --><p>Brong Ahafo</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u827-4" href="/central/"><!-- content --><p>Central</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u828-4" href="/northern/"><!-- content --><p>Northern</p></a>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu2347"><!-- group -->
     <div class="museBGSize grpelem" id="u2347"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="u2357-16"><!-- content -->
      <p id="u2357-2">Ghana</p>
      <p>&nbsp;</p>
      <p>If you are a interested in spending carefree weeks in our country, you will miss none of the essential ingredients: a buoyant tropical setting, abundant sunshine throughout the year, sandy palm-fringed and unpopulated beaches, fine hotels, good food and probably the friendliest people on earth.</p>
      <p>&nbsp;</p>
      <p>If you love adventure, you will have many choices: come cross the bar with our intrepid fisherman at sea or make a canoe trip that you will never forget. You can even pretend to be Robinson and wait on a lonely sandbank. Meantime, you could take occasional dips into the tepid ocean, savour fresh coconut and do some fishing: herring, barracuda, tuna, blue marlin. We’ve got them all.</p>
      <p>&nbsp;</p>
      <p>If it must be a tour into nature, welcome to any of our numerous National Parks and Nature Reserves: Ankasa, Kakum, Mole, Boabeng-Fiema, Shai. Whichever one you visit, you will come back with a whole new outlook of life.</p>
      <p>&nbsp;</p>
      <p>And if you are for heritage and society, Ghana will give you a perfect, rare blend: a moving historical past and a vivid culture. Ghana has the world’s highest concentration of slave castles and forts. Every bigger town on her littoral has a well-preserved stone witness to bring the painful past back to memory.When all of this proves too much to stomach, forget about it, put on your dance shoes and come dance with us. We have the capacity to transform both happy and unhappy events into happy occasions. We love drumming and dancing. And this is why we have more than thousand festivals.</p>
     </div>
     <div class="clearfix grpelem" id="u2358-48"><!-- content -->
      <p id="u2358-2">Population of Ghana</p>
      <p id="u2358-3">&nbsp;</p>
      <p id="u2358-7"><span id="u2358-4">Population</span><span id="u2358-5">:</span> 23,382,848 (July 2008 est.)</p>
      <p id="u2358-9">Age structure: 0-14 years: 38.8% (male 4,395,744/female 4,288,720)</p>
      <p id="u2358-11">15-64 years: 57.7% (male 6,450,828/female 6,483,781)</p>
      <p id="u2358-13">65 years and over: 3.5% (male 371,428/female 419,071)</p>
      <p id="u2358-15">Median age: 19.9 years</p>
      <p id="u2358-17">Growth rate: 2.07%</p>
      <p id="u2358-19">Infant mortality: 55.02 deaths/1,000 live births</p>
      <p id="u2358-21">Life expectancy at birth: total population: 58.87 years</p>
      <p id="u2358-23">Male: 58.07 years</p>
      <p id="u2358-25">Female: 59.69 years</p>
      <p id="u2358-27">Fertility rate: 3.99 children born/woman</p>
      <p id="u2358-29">Nationality: noun: Ghanaian(s)</p>
      <p id="u2358-31">Adjective: Ghanaian</p>
      <p id="u2358-33">Ethnic groups: black African 98.5% (major tribes - Akan 44%, Moshi-Dagomba 16%, Ewe 13%, Ga 8%, Gurma 3%, Yoruba 1%), European and other 1.5% (</p>
      <p id="u2358-35">Religions: Christian 63%, Muslim 16%, indigenous beliefs 21%</p>
      <p id="u2358-37">Languages: English (official), African languages (including Akan, Moshi-Dagomba, Ewe, and Ga)</p>
      <p id="u2358-39">Literacy: definition: age 15 and over can read and write</p>
      <p id="u2358-41">Total population: 74.8%</p>
      <p id="u2358-43">Male: 82.7%</p>
      <p id="u2358-45">Female: 67.1%</p>
      <p>&nbsp;</p>
     </div>
    </div>
    <div class="clearfix colelem" id="u2360-14"><!-- content -->
     <p id="u2360">&nbsp;</p>
     <p id="u2360-3">The Economy</p>
     <p id="u2360-4">&nbsp;</p>
     <p id="u2360-6">Ghana, rich in agricultural resources, timber, gold and other valuable minerals, abundant with educated skilled and enterprising people, blessed with a stable form of government and dedicated to the principles of free enterprise, has long been seen as one of Africa’s most promising countries.</p>
     <p id="u2360-8">The main exports - gold, cocoa, diamonds, timber, manganese and bauxite - known as “traditional” items, are now increasingly supplemented by processed and semi-processed industrial and agricultural products with tourism as the third largest foreign currency earner after cocoa and gold.</p>
     <p id="u2360-9">&nbsp;</p>
     <p id="u2360-11">Well endowed with natural resources, Ghana has roughly twice the per capita output of the poorest countries in West Africa. Even so, Ghana remains heavily dependent on international financial and technical assistance. Gold and cocoa production, and individual remittances, are major sources of foreign exchange. The domestic economy continues to revolve around agriculture, which accounts for about 35% of GDP and employs about 55% of the work force, mainly small landholders. Ghana opted for debt relief under the Heavily Indebted Poor Country (HIPC) program in 2002, and is also benefiting from the Multilateral Debt Relief Initiative that took effect in 2006. Thematic priorities under its current Growth and Poverty Reduction Strategy, which also provides the framework for development partner assistance, are: macroeconomic stability; private sector competitiveness; human resource development; and good governance and civic responsibility. Sound macro-economic management along with high prices for gold and cocoa helped sustain GDP growth in 2007. Ghana signed a Millennium Challenge Corporation (MCC) Compact in 2006, which aims to assist in transforming Ghana's agricultural sector.</p>
     <p>&nbsp;</p>
    </div>
    <div class="clearfix colelem" id="u2362-48"><!-- content -->
     <p id="u2362-2">Geography of Ghana</p>
     <p id="u2362-3">&nbsp;</p>
     <p id="u2362-5">Location: Western Africa, bordering the Gulf of Guinea, between Cote d'Ivoire and Togo</p>
     <p id="u2362-7">Coordinates: 8 00 N, 2 00 W</p>
     <p id="u2362-9">Area: total: 239,460 sq km</p>
     <p id="u2362-11">Land: 230,940 sq km</p>
     <p id="u2362-13">Water: 8,520 sq km</p>
     <p id="u2362-15">Area comparative: slightly smaller than Oregon</p>
     <p id="u2362-17">Land boundaries: total: 2,094 km</p>
     <p id="u2362-19">Border countries: Burkina Faso 549 km, Cote d'Ivoire 668 km, Togo 877 km</p>
     <p id="u2362-21">Coastline: 539 km</p>
     <p id="u2362-23">Maritime claims: contiguous zone: 24 NM</p>
     <p id="u2362-25">Territorial sea: 12 NM</p>
     <p id="u2362-27">Continental shelf: 200 NM</p>
     <p id="u2362-29">Exclusive economic zone: 200 NM</p>
     <p id="u2362-31">Climate: tropical; warm and comparatively dry along southeast coast; hot and humid in southwest; hot and dry in north</p>
     <p id="u2362-33">Terrain: mostly low plains with dissected plateau in south-central area</p>
     <p id="u2362-35">Elevation extremes: lowest point: Atlantic Ocean 0 m</p>
     <p id="u2362-37">Highest point: Mount Afadjato 880 m</p>
     <p id="u2362-39">Natural resources: gold, timber, industrial diamonds, bauxite, manganese, fish, rubber, hydropower</p>
     <p id="u2362-41">Natural hazards: dry, dusty, northeastern harmattan winds occur from January to March; droughts</p>
     <p id="u2362-43">Environment current issues: recurrent drought in north severely affects agricultural activities; deforestation; overgrazing; soil erosion; poaching and habitat destruction threatens wildlife populations; water pollution; inadequate supplies of potable water</p>
     <p id="u2362-45">Geography - note: Lake Volta is the world's largest artificial lake</p>
     <p>&nbsp;</p>
    </div>
    <div class="verticalspacer"></div>
    <div class="browser_width colelem" id="u796-bw">
     <div id="u796"><!-- group -->
      <div class="clearfix" id="u796_align_to_page">
       <div class="clearfix grpelem" id="u2851-7"><!-- content -->
        <p id="u2851-2">We bring the Ghana to the world, and the World to Ghana</p>
        <p id="u2851-3">&nbsp;</p>
        <p id="u2851-5">Copyright&nbsp; © 2015&nbsp; , KONEKT GHANA</p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- JS includes -->
  <script type="text/javascript">
   if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn2.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
   window.jQuery || document.write('\x3Cscript src="scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script src="{% static 'js/museutils.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musemenu.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.watch.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musepolyfill.bgsize.js' %}" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Some files on the server may be missing or incorrect. Clear browser cache and try again. If the problem persists please contact website author.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();
/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
Muse.Utils.initWidget('.MenuBar', function(elem) { return $(elem).museMenu(); });/* unifiedNavBar */
Muse.Utils.resizeHeight()/* resize height */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>
   </body>
</html>
