<!DOCTYPE html>
{% load staticfiles %}
<html class="html" lang="en-US">
 <head>

  <script type="text/javascript">
   if(typeof Muse == "undefined") window.Muse = {}; window.Muse.assets = {"required":["jquery-1.8.3.min.js", "museutils.js", "jquery.musemenu.js", "webpro.js", "musewpslideshow.js", "jquery.museoverlay.js", "touchswipe.js", "jquery.watch.js", "greater-accra.css"], "outOfDate":[]};
</script>
  
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="2014.3.0.295"/>
  <title>Greater Accra</title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/site_global.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/master_a-master.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/greater-accra.css' %}" id="pagesheet"/>
  <!-- Other scripts -->
  <script type="text/javascript">
   document.documentElement.className += ' js';
var __adobewebfontsappname__ = "muse";
</script>
  <!-- JS includes -->
  <script type="text/javascript">
   document.write('\x3Cscript src="' + (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//webfonts.creativecloud.com/allura:n4:all;doppio-one:n4:all;cuprum:n4:all.js" type="text/javascript">\x3C/script>');
</script>
  <!--[if lt IE 9]>
  <script src="scripts/html5shiv.js?4241844378" type="text/javascript"></script>
  <![endif]-->
    <!--HTML Widget code-->
  
<style>
* {
       transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}

.clip_frame, .Container, .verticalspacer, #preloader, img {
  transition:none !important;
  -webkit-transition:none !important;
}
</style>

 </head>
 <body>

  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="browser_width" id="u205-bw">
     <div class="pinned-colelem" id="u205"><!-- simple frame --></div>
    </div>
    <div class="pinned-colelem" id="u193"><!-- simple frame --></div>
    <div class="clearfix pinned-colelem" id="u200-4"><!-- content -->
     <p>Konekt Ghana</p>
    </div>
    <nav class="MenuBar clearfix pinned-colelem" id="menuu112"><!-- horizontal box -->
     <div class="MenuItemContainer clearfix grpelem" id="u120"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u123" href="/index/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u124-4"><!-- content --><p>Home</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u113"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u114" href="/about/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u115-4"><!-- content --><p>About</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u808"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u809" href="/ghana/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u811-4"><!-- content --><p>Ghana</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u128"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u129" href="/services/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u130-4"><!-- content --><p>Services</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u142"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u145" href="/booking/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u146-4"><!-- content --><p>Booking</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u149"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u152" href="/contact/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u154-4"><!-- content --><p>Contact</p></div></a>
     </div>
    </nav>
    <div class="browser_width colelem" id="u909-bw">
     <div id="u909"><!-- group -->
      <div class="clearfix" id="u909_align_to_page">
       <div class="clearfix grpelem" id="u913-4"><!-- content -->
        <p>Akwaaba !!!!!</p>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu213"><!-- group -->
     <div class="grpelem" id="u213"><!-- custom html --></div>
     <div class="browser_width grpelem" id="u910-bw">
      <div id="u910"><!-- group -->
       <div class="clearfix" id="u910_align_to_page">
        <a class="nonblock nontext clearfix grpelem" id="u911-4" href="/ghana/"><!-- content --><p>Overview</p></a>
        <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u912-4" href="/greater-accra/"><!-- content --><p>Greater Accra</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u914-4" href="/ashanti/"><!-- content --><p>Ashanti</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u915-4" href="/eastern/"><!-- content --><p>Eastern</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u916-4" href="/western/"><!-- content --><p>Western</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u917-4" href="/volta/"><!-- content --><p>Volta</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u918-4" href="/brong-ahafo/"><!-- content --><p>Brong Ahafo</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u919-4" href="/central/"><!-- content --><p>Central</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u920-4" href="/northern/"><!-- content --><p>Northern</p></a>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="ppu1005"><!-- group -->
     <div class="clearfix grpelem" id="pu1005"><!-- column -->
      <div class="colelem" id="u1005"><!-- simple frame --></div>
      <div class="clearfix colelem" id="u1006-9"><!-- content -->
       <p id="u1006-2">BACKGROUND AND LOCATION</p>
       <p id="u1006-3">&nbsp;</p>
       <p id="u1006-6">T<span id="u1006-5">he Greater Accra Region is the smallest of the 10 administrative regions in terms of area, occupying a total land surface of 3,245 square kilometres or 1.4 per cent of the total land area of Ghana. In terms of population, however, it is the second most populated region, after the Ashanti Region, with a population of 4,010,054 in 2010, accounting for 15.4 per cent of Ghana’s total population.</span></p>
       <p>&nbsp;</p>
      </div>
     </div>
     <div class="clearfix grpelem" id="u1029-11"><!-- content -->
      <p>The political administration of the region is through the local government system. Under this administration system, the region is divided into five districts namely, Accra Metropolitan Area, Tema Municipal Area, Ga East District, Ga West District, Dangme West District and Dangme East District. Each District, Municipal or Metropolitan Area, is administered by a Chief Executive, representing central government but deriving authority from an Assembly headed by a presiding member elected from among the members themselves.</p>
      <p>The major ethnic groups are the Akan (39.8%), Ga-Dangme (29.7%) and Ewe (18%). The Gas however form the largest single sub-ethnic grouping, accounting for 18.9 percent. Christians constitute the largest religious group (83.0%), followed by Moslems (10.2%), people who profess no religion (4.6%) and adherents of traditional religion (1.4%).</p>
      <p>&nbsp;</p>
      <p>Among the highlights of Accra are the National Museum, with its splendid display of exhibits that reflect the heritage of Ghana from prehistoric times to modern times, the National Theatre with its distinctive modern architecture, the Centre for National Culture, Independence Square, the Kwame Nkrumah Mausoleum, the fishing port at James Town and Makola Market.</p>
      <p>The beaches of the Atlantic coast are popular with visitors and Ghanaians alike. Labadi Pleasure Beach and Kokrobite Beach, just 25km west of Accra, are particularly popular at weekends.</p>
     </div>
     <div class="clearfix grpelem" id="pu1030-4"><!-- column -->
      <div class="clearfix colelem" id="u1030-4"><!-- content -->
       <p>Further along the coast is Ada and the estuary of the great River Volta. Here the fine beaches of the estuary and the Atlantic coast provide popular resort areas. Watersports and river trips make this a great place to relax, while the waters off the coast teem with game fish.</p>
      </div>
      <div class="colelem" id="u1031"><!-- simple frame --></div>
     </div>
    </div>
    <div class="SlideShowWidget clearfix widget_invisible colelem" id="slideshowu1354"><!-- none box -->
     <div class="popup_anchor" id="u1363popup">
      <div class="SlideShowContentPanel rgba-background clearfix" id="u1363"><!-- stack box -->
       <div class="SSSlide clip_frame grpelem" id="u1364"><!-- image -->
        <img class="block ImageInclude" id="u1364_img" data-src="{% static 'images/34900187.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
       </div>
       <div class="SSSlide invi clip_frame grpelem" id="u1403"><!-- image -->
        <img class="block ImageInclude" id="u1403_img" data-src="{% static 'images/524464823_432305.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
       </div>
       <div class="SSSlide invi clip_frame grpelem" id="u1412"><!-- image -->
        <img class="block ImageInclude" id="u1412_img" data-src="{% static 'images/wpid-national-theatre-ghana.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
       </div>
       <div class="SSSlide invi clip_frame grpelem" id="u1429"><!-- image -->
        <img class="block ImageInclude" id="u1429_img" data-src="{% static 'images/supreme_court_of_ghana.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
       </div>
      </div>
     </div>
     <div class="popup_anchor" id="u1371popup">
      <div class="SSSlideLinks clearfix" id="u1371"><!-- horizontal-rows box -->
       <div class="SSSlideLink shadow clip_frame grpelem" id="u1372"><!-- image -->
        <img class="block" id="u1372_img" src="{% static 'images/34900187-crop-u1372.jpg' %}" alt="" width="227" height="199"/>
       </div>
       <div class="SSSlideLink shadow clip_frame grpelem" id="u1406"><!-- image -->
        <img class="block" id="u1406_img" src="{% static 'images/524464823_432305-crop-u1406.jpg' %}" alt="" width="227" height="199"/>
       </div>
       <div class="SSSlideLink shadow clip_frame grpelem" id="u1415"><!-- image -->
        <img class="block" id="u1415_img" src="{% static 'images/wpid-national-theatre-ghana-crop-u1415.jpg' %}" alt="" width="227" height="199"/>
       </div>
       <div class="SSSlideLink shadow clip_frame grpelem" id="u1432"><!-- image -->
        <img class="block" id="u1432_img" src="{% static 'images/supreme_court_of_ghana-crop-u1432.jpg' %}" alt="" width="227" height="199"/>
       </div>
      </div>
     </div>
     <div class="popup_anchor" id="u1355popup">
      <div class="SlideShowCaptionPanel clearfix" id="u1355"><!-- stack box -->
       <div class="SSSlideCaption clearfix grpelem" id="u1357-4"><!-- content -->
        <p>THE BEACHES OF ACCRA</p>
       </div>
       <div class="SSSlideCaption invi clearfix grpelem" id="u1409-4"><!-- content -->
        <p>OSU CASTLE</p>
       </div>
       <div class="SSSlideCaption invi clearfix grpelem" id="u1418-4"><!-- content -->
        <p>NATIONAL THEATER</p>
       </div>
       <div class="SSSlideCaption invi clearfix grpelem" id="u1435-4"><!-- content -->
        <p>THE SUPREME COURT OF GHANA</p>
       </div>
      </div>
     </div>
     <div class="popup_anchor" id="u1378-4popup">
      <div class="SSPreviousButton clearfix" id="u1378-4"><!-- content -->
       <p>&lt;</p>
      </div>
     </div>
     <div class="popup_anchor" id="u1370-4popup">
      <div class="SSNextButton clearfix" id="u1370-4"><!-- content -->
       <p>&gt;</p>
      </div>
     </div>
     <div class="popup_anchor">
      <div class="SSCloseButton popup_element clearfix" id="u1361"><!-- group -->
       <div class="clearfix grpelem" id="u1362-4"><!-- content -->
        <p>x</p>
       </div>
      </div>
     </div>
    </div>
    <div class="verticalspacer"></div>
    <div class="browser_width colelem" id="u796-bw">
     <div id="u796"><!-- group -->
      <div class="clearfix" id="u796_align_to_page">
       <div class="clearfix grpelem" id="u2851-7"><!-- content -->
        <p id="u2851-2">We bring the Ghana to the world, and the World to Ghana</p>
        <p id="u2851-3">&nbsp;</p>
        <p id="u2851-5">Copyright&nbsp; © 2015&nbsp; , KONEKT GHANA</p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- JS includes -->
  <script type="text/javascript">
   if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn2.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
   window.jQuery || document.write('\x3Cscript src="scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script src="{% static 'js/museutils.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musemenu.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.watch.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/webpro.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/musewpslideshow.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.museoverlay.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/touchswipe.js' %}" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Some files on the server may be missing or incorrect. Clear browser cache and try again. If the problem persists please contact website author.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();
/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
Muse.Utils.initWidget('.MenuBar', function(elem) { return $(elem).museMenu(); });/* unifiedNavBar */
Muse.Utils.resizeHeight()/* resize height */
Muse.Utils.initWidget('#slideshowu1354', function(elem) { $(elem).data('widget', new WebPro.Widget.ContentSlideShow(elem, {autoPlay:false,displayInterval:3000,slideLinkStopsSlideShow:false,transitionStyle:'fading',lightboxEnabled_runtime:true,shuffle:false,transitionDuration:500,enableSwipe:true,elastic:'off',resumeAutoplay:true,resumeAutoplayInterval:3000,playOnce:false})); });/* #slideshowu1354 */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>
   </body>
</html>
