{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock %}



{% block main %}


<div class="SlideShowWidget clearfix colelem" id="slideshowu215"><!-- none box -->
     <div class="popup_anchor" id="u219popup">
      <div class="SlideShowContentPanel clearfix" id="u219"><!-- stack box -->
       <div class="SSSlide clip_frame grpelem" id="u220"><!-- image -->
        <img class="ImageInclude" id="u220_img" data-src="{% static 'images/kwame_nkrumah_tomb_accra_ghana.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="1160" data-height="870"/>
       </div>
       <div class="SSSlide invi clip_frame grpelem" id="u222"><!-- image -->
        <img class="ImageInclude" id="u222_img" data-src="{% static 'images/nzulezu.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="1160" data-height="776"/>
       </div>
       <div class="SSSlide invi clip_frame grpelem" id="u224"><!-- image -->
        <img class="ImageInclude" id="u224_img" data-src="{% static 'images/1280px-fort_metal_cross.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="1160" data-height="588"/>
       </div>
      </div>
     </div>
     <div class="popup_anchor" id="u237popup">
      <div class="SlideShowCaptionPanel clearfix" id="u237"><!-- stack box -->
       <div class="SSSlideCaption rgba-background clearfix grpelem" id="u240-6"><!-- content -->
        <p>WELCOME TO GHANA</p>
        <p>THE GOLD COAST OF AFRICA</p>
       </div>
       <div class="SSSlideCaption invi rgba-background clearfix grpelem" id="u238-4"><!-- content -->
        <p>THE BEAUTIFUL COASTS OF GHANA</p>
       </div>
       <div class="SSSlideCaption invi rgba-background clearfix grpelem" id="u239-4"><!-- content -->
        <p>THE HISTORICAL FORTS AND CASTLES OF GHANA</p>
       </div>
      </div>
     </div>
</div>
    
    <div class="colelem" id="u213"><!-- custom html --></div>
    <div class="clearfix colelem" id="pu265"><!-- group -->
     <div class="shadow museBGSize rgba-background grpelem" id="u265"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="u259-7"><!-- content -->
      <p id="u259-2">AKWAABA !!!</p>
      <p id="u259-3">&nbsp;</p>
      <p id="u259-5">Ghana is the most interesting place to visit in West Africa. The country has got many things going for it: the friendly people, the profuse vegetation, the colorful festivals, the vibrant music, the lively markets, the immaculate beaches and a distinctive way of life that is truly Ghanaian. Discover Ghana with Konekt Ghana. We have many years experience and offer you a wide range of services; adventurous roundtrips with daily guaranteed departure, a wide range of excursions, car rental, hotel reservations and international &amp; domestic airline ticket reservations.</p>
     </div>
     <div class="clearfix grpelem" id="u290-27"><!-- content -->
      <p id="u290-2">Why Choose Us?</p>
      <p id="u290-3">&nbsp;</p>
      <p id="u290-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span id="u290-5">Through service and price, Konekt Ghana offers the</span></p>
      <p id="u290-8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; best overall value when it comes to your dream</p>
      <p id="u290-10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; getaway.</p>
      <p id="u290-11">&nbsp;</p>
      <p id="u290-17">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span id="u290-16">Save time surfing the Internet for hours; a Konekt <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ghana Expert will find exactly what you need and</span></p>
      <p id="u290-19">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; help you put together your dream vacation.</p>
      <p id="u290-20">&nbsp;</p>
      <p id="u290-23">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span id="u290-22">You will receive unparalleled customer service with</span></p>
      <p id="u290-25">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; your Konekt Ghana Expert.</p>
     </div>
     <div class="grpelem" id="u291"><!-- simple frame --></div>
     <div class="grpelem" id="u292"><!-- simple frame --></div>
     <div class="grpelem" id="u293"><!-- simple frame --></div>
    </div>
    <div class="clearfix colelem" id="pu2335-4"><!-- group -->
     <div class="clearfix grpelem" id="u2335-4"><!-- content -->
      <p>Lodging</p>
     </div>
     <div class="clearfix grpelem" id="u2336-4"><!-- content -->
      <p>Excursion</p>
     </div>
     <div class="clearfix grpelem" id="u2337-4"><!-- content -->
      <p>Car Rental</p>
     </div>
     <div class="clearfix grpelem" id="u2338-4"><!-- content -->
      <p>Flight Reservation</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu2331"><!-- group -->
     <div class="shadow museBGSize grpelem" id="u2331"><!-- simple frame --></div>
     <div class="shadow museBGSize grpelem" id="u2332"><!-- simple frame --></div>
     <div class="shadow grpelem" id="u2333"><!-- simple frame --></div>
     <div class="shadow museBGSize grpelem" id="u2334"><!-- simple frame --></div>
    </div>
    <div class="clearfix colelem" id="ppu2340-4"><!-- group -->
     <div class="clearfix grpelem" id="pu2340-4"><!-- group -->
      <div class="clearfix grpelem" id="u2340-4"><!-- content -->
       <p>Ghana is the most interesting place to visit in West Africa. The country has got many things going for it: the friendly people, the profuse vegetation, the colorful festivals,</p>
      </div>
      <a class="nonblock nontext rounded-corners clearfix grpelem" id="u2344-4" href="/excursion/"><!-- content --><p>learn more</p></a>
     </div>
     <div class="clearfix grpelem" id="pu2342-4"><!-- group -->
      <div class="clearfix grpelem" id="u2342-4"><!-- content -->
       <p>Its tiring to drive from one part of Ghana to the other considering the roads and distance. We offers you daily connections from Accra Kotoka Airport to Kumasi, Takoradi and Sunyani.</p>
      </div>
      <a class="nonblock nontext rounded-corners clearfix grpelem" id="u2346-4" href="/flight-reservation/"><!-- content --><p>learn more</p></a>
     </div>
     <div class="clearfix grpelem" id="u2339-4"><!-- content -->
      <p>Whether your stay is for business or pleasure, we welcome you to a comfortable, ideally and beautiful hotel. We have hotel for every budget range.</p>
     </div>
     <div class="clearfix grpelem" id="u2341-4"><!-- content -->
      <p>Our Rent a Car Service&nbsp; provides a wide range of vehicles; from budget to executive car rental and group transport</p>
     </div>
     <a class="nonblock nontext rounded-corners clearfix grpelem" id="u2343-4" href="/lodging/"><!-- content --><p>learn more</p></a>
     <a class="nonblock nontext rounded-corners clearfix grpelem" id="u2345-4" href="/car-rental/"><!-- content --><p>learn more</p></a>
    </div>




{% endblock %}
