<!DOCTYPE html>
{% load staticfiles %}
<html class="html" lang="en-US">
 <head>

  <script type="text/javascript">
   if(typeof Muse == "undefined") window.Muse = {}; window.Muse.assets = {"required":["jquery-1.8.3.min.js", "museutils.js", "jquery.musepolyfill.bgsize.js", "jquery.musemenu.js", "jquery.watch.js", "lodging.css"], "outOfDate":[]};
</script>
  
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="2014.3.0.295"/>
  <title>Lodging</title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/site_global.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/master_a-master.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/lodging.css' %}" id="pagesheet"/>
  <!-- Other scripts -->
  <script type="text/javascript">
   document.documentElement.className += ' js';
var __adobewebfontsappname__ = "muse";
</script>
  <!-- JS includes -->
  <script type="text/javascript">
   document.write('\x3Cscript src="' + (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//webfonts.creativecloud.com/poiret-one:n4:all;allura:n4:all;doppio-one:n4:all;cuprum:n4:all.js" type="text/javascript">\x3C/script>');
</script>
  <!--[if lt IE 9]>
  <script src="scripts/html5shiv.js?4241844378" type="text/javascript"></script>
  <![endif]-->
    <!--HTML Widget code-->
  
<style>
* {
       transition:all 0.5s ease;
        -webkit-transition: all 0.5s ease;
}

.clip_frame, .Container, .verticalspacer, #preloader, img {
  transition:none !important;
  -webkit-transition:none !important;
}
</style>

 </head>
 <body>

  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="browser_width" id="u205-bw">
     <div class="pinned-colelem" id="u205"><!-- simple frame --></div>
    </div>
    <div class="pinned-colelem" id="u193"><!-- simple frame --></div>
    <div class="clearfix pinned-colelem" id="u200-4"><!-- content -->
     <p>Konekt Ghana</p>
    </div>
    <nav class="MenuBar clearfix pinned-colelem" id="menuu112"><!-- horizontal box -->
     <div class="MenuItemContainer clearfix grpelem" id="u120"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u123" href="/index/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u124-4"><!-- content --><p>Home</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u113"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u114" href="/about/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u115-4"><!-- content --><p>About</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u808"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u809" href="/ghana/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u811-4"><!-- content --><p>Ghana</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u128"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u129" href="/services/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u130-4"><!-- content --><p>Services</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u142"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u145" href="/booking/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u146-4"><!-- content --><p>Booking</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u149"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u152" href="/contact/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u154-4"><!-- content --><p>Contact</p></div></a>
     </div>
    </nav>
    <div class="browser_width colelem" id="u438-bw">
     <div id="u438"><!-- group -->
      <div class="clearfix" id="u438_align_to_page">
       <div class="clearfix grpelem" id="u442-4"><!-- content -->
        <p>Lodging</p>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu213"><!-- group -->
     <div class="grpelem" id="u213"><!-- custom html --></div>
     <div class="browser_width grpelem" id="u439-bw">
      <div id="u439"><!-- group -->
       <div class="clearfix" id="u439_align_to_page">
        <a class="nonblock nontext clearfix grpelem" id="u440-4" href="/services/"><!-- content --><p>Overview</p></a>
        <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u441-4" href="/lodging/"><!-- content --><p>Lodging</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u443-4" href="/excursion/"><!-- content --><p>Excursion</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u444-4" href="/car-rental/"><!-- content --><p>Car Rental</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u445-4" href="/flight-reservation/"><!-- content --><p>Flight Reservation</p></a>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="u472-4"><!-- content -->
     <p>RECOMMENDED HOTELS</p>
    </div>
    <div class="clearfix colelem" id="u476-4"><!-- content -->
     <p>GOLDEN TULIP&nbsp; KUMASI</p>
    </div>
    <div class="clearfix colelem" id="pu473"><!-- group -->
     <div class="museBGSize grpelem" id="u473"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="u479-9"><!-- content -->
      <p><span id="u479">Location: </span>Golden Tulip Kumasi City is located in Kumasi, close to Kumasi Sports Stadium and Manhyia Palace. Additional&nbsp; area points of interest include Kwame Nkrumah University of Science and Technology.</p>
      <p>&nbsp;</p>
      <p><span id="u479-5">Hotel Features:</span> Dining options at Golden Tulip Kumasi City include a restaurant and a coffee shop/cafe. A poolside bar and a bar/lounge are open for drinks. Room service is available 24 hours a day. Recreational amenities include an outdoor pool, a children's pool, and a health club. This 4-star property offers small meeting rooms, secretarial services, and audiovisual equipment. This Kumasi property has event space consisting of banquet facilities, conference/meeting rooms, and a ballroom. The property offers a roundtrip airport shuttle (surcharge). Business services and concierge services</p>
     </div>
     <div class="clearfix grpelem" id="u482-12"><!-- content -->
      <p id="u482-2">are available. Guest parking is complimentary. Additional property amenities include a casino, multilingual staff, and gift shops/newsstands.</p>
      <p id="u482-3">&nbsp;</p>
      <p id="u482-4">&nbsp;</p>
      <p id="u482-7"><span id="u482-5">Guestrooms:</span> 162 air-conditioned guestrooms at Golden Tulip Kumasi City feature minibars and coffee/tea makers. Bathrooms feature makeup/shaving mirrors and hair dryers. In addition to desks and safes, guestrooms offer direct-dial phones. Televisions have satellite channels. Also included are windows that open and blackout drapes/curtains. Guests may request</p>
      <p id="u482-9">irons/ironing boards and wake-up calls. Housekeeping is available</p>
      <p>&nbsp;</p>
     </div>
    </div>
    <div class="colelem" id="u470"><!-- simple frame --></div>
    <div class="clearfix colelem" id="u477-4"><!-- content -->
     <p>THE AFRICAN REGENT HOTEL</p>
    </div>
    <div class="clearfix colelem" id="pu474"><!-- group -->
     <div class="museBGSize grpelem" id="u474"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="u480-9"><!-- content -->
      <p><span id="u480">Location:</span> Located in Accra, The African Regent Hotel is near the airport and close to Accra Mall, U.S. Embassy, and A and C Mall. Additional points of interest include University of Ghana and W.E.B. DuBois Center.</p>
      <p>&nbsp;</p>
      <p><span id="u480-5">Hotel Features: </span>The African Regent Hotel's restaurant serves breakfast, lunch, and dinner. A poolside bar and a bar/lounge are open for drinks. Room service is available 24 hours a day. Recreational amenities include an outdoor pool, a children's pool, and a fitness facility. The property's full-service health spa has body treatments, massage/treatment rooms, facials, and beauty services. This 4.5-star property has a 24-hour business center and offers small meeting rooms, secretarial services, and a technology helpdesk. Complimentary wireless and wired high-speed Internet access is available in public areas.</p>
     </div>
     <div class="clearfix grpelem" id="u483-5"><!-- content -->
      <p><span id="u483">Guestrooms:</span> 109 air-conditioned guestrooms at The African Regent Hotel feature private pools and minibars. Balconies offer city, pool, or garden views. Beds come with memory foam mattresses, down blankets, and premium bedding. In addition to separate sitting areas, these individually furnished and decorated rooms include sofa beds and desks. Accommodations include refrigerators and coffee/tea makers. Bathrooms feature bathtubs with deep soaking bathtubs and handheld&nbsp; showerheads. They also offer makeup/shaving mirrors, designer toiletries, and slippers. Wired high-speed and wireless Internet access is available for a surcharge. In addition to ergonomic chairs and laptop-compatible safes, guestrooms offer direct-dial phones.&nbsp; LCD televisions have premium satellite channels, free movie channels, and DVD players. Rooms also include CD players and washers/dryers.</p>
     </div>
    </div>
    <div class="colelem" id="u471"><!-- simple frame --></div>
    <div class="clearfix colelem" id="u478-4"><!-- content -->
     <p>BUSUA BEACH RESORT</p>
    </div>
    <div class="clearfix colelem" id="pu475"><!-- group -->
     <div class="museBGSize grpelem" id="u475"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="u484-9"><!-- content -->
      <p><span id="u484">Location:</span> Busua Beach Resort is located close to Fort Metal Cross.</p>
      <p>&nbsp;</p>
      <p><span id="u484-5">Hotel Features:</span> Dining options at Busua Beach Resort include a restaurant and a coffee shop/cafe. A beach bar, a poolside bar, and a bar/lounge are open for drinks. Room service is available during limited hours. The hotel serves a complimentary breakfast. This 3-star property has a business center and offers audiovisual equipment. Complimentary&nbsp; wireless and wired high-speed Internet access is available in public areas.The property has 2 meeting rooms.</p>
     </div>
     <div class="clearfix grpelem" id="u481-12"><!-- content -->
      <p>For a surcharge, shuttle services include a roundtrip airport shuttle (available on request) and an area shuttle. <span id="u481-2">Additional</span></p>
      <p>property amenities include tour/ticket assistance, gift shops/newsstands, and laundry facilities.</p>
      <p>&nbsp;</p>
      <p><span id="u481-8">Guestrooms: </span>Air-conditioned guestrooms at Busua Beach Resort feature minibars and coffee/tea makers. Accommodations offer beach or ocean views. Accommodations include kitchenettes. Bathrooms feature hair dryers. Guestrooms offer safes. Televisions have satellite channels.</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu500"><!-- group -->
     <div class="browser_width grpelem" id="u500-bw">
      <div id="u500"><!-- column -->
       <div class="clearfix" id="u500_align_to_page">
        <div class="clearfix colelem" id="u586-4"><!-- content -->
         <p>CHEAP HOTELS IN GHANA</p>
        </div>
        <div class="clearfix colelem" id="pu501"><!-- group -->
         <div class="shadow clearfix grpelem" id="u501"><!-- group -->
          <div class="museBGSize clearfix grpelem" id="u512-13"><!-- content -->
           <p id="u512-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span id="u512-2">ACCRA LODGE</span></p>
           <p id="u512-4">&nbsp;</p>
           <p id="u512-7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span id="u512-6"> Accra Lodge is a luxury complex located at No. 23 Gold&nbsp; Street Paradise</span></p>
           <p id="u512-9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; residential area (Pillar 2). It is about 30 minutes drive from Kotoka</p>
           <p id="u512-11">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; International Airport.</p>
          </div>
         </div>
         <div class="shadow clearfix grpelem" id="u502"><!-- group -->
          <div class="museBGSize clearfix grpelem" id="u511-12"><!-- content -->
           <p id="u511-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; HANS COTTAGE HOTEL</p>
           <p id="u511-3">&nbsp;</p>
           <p id="u511-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span id="u511-5"> Located only 4km from Cape Coast and 12km from the</span></p>
           <p id="u511-8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; world famous Kakum Rain forest national park. The Hotel</p>
           <p id="u511-10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; offers our guests a&nbsp; refreshingly different holiday&nbsp; experience.</p>
          </div>
         </div>
        </div>
        <div class="clearfix colelem" id="pu503"><!-- group -->
         <div class="shadow clearfix grpelem" id="u503"><!-- group -->
          <div class="museBGSize clearfix grpelem" id="u508-12"><!-- content -->
           <p id="u508-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ME THERE AFRICAN HOME LODGE</p>
           <p id="u508-3">&nbsp;</p>
           <p id="u508-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span id="u508-5"> Meet Me There African Home Lodge is a beautiful Guest House</span></p>
           <p id="u508-8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; located on the coast near Dzita Village. We are part of the</p>
           <p id="u508-10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; community and closely involved in local village activities.</p>
          </div>
         </div>
         <div class="shadow clearfix grpelem" id="u504"><!-- group -->
          <div class="museBGSize clearfix grpelem" id="u509-12"><!-- content -->
           <p id="u509-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; NHYIRA HOTEL</p>
           <p id="u509-3">&nbsp;</p>
           <p id="u509-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span id="u509-5"> Offering a restaurant, Nhyira Hotel is located in Takoradi.</span></p>
           <p id="u509-8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Free WiFi&nbsp; access is available. Each room here will provide</p>
           <p id="u509-10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; you with a TV,&nbsp; air&nbsp;&nbsp; conditioning and satellite channels</p>
          </div>
         </div>
        </div>
        <div class="clearfix colelem" id="pu505"><!-- group -->
         <div class="shadow clearfix grpelem" id="u505"><!-- group -->
          <div class="museBGSize clearfix grpelem" id="u507-9"><!-- content -->
           <p id="u507-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; STUMBLE IN</p>
           <p id="u507-3">&nbsp;</p>
           <p id="u507-5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Stumble Inn is an eco-friendly beach lodge for travellers, volunteers</p>
           <p id="u507-7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; and anyone looking to relax on the beautiful Ghanaian coast.</p>
          </div>
         </div>
         <div class="shadow clearfix grpelem" id="u506"><!-- group -->
          <div class="museBGSize clearfix grpelem" id="u510-13"><!-- content -->
           <p id="u510-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span id="u510-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ADOM GUEST HOUSE</span></p>
           <p id="u510-4">&nbsp;</p>
           <p id="u510-7"><span id="u510-5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span id="u510-6">The Eusbett Hotel offers all the modern amenities international</span></p>
           <p id="u510-9"><span id="u510-8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; travelers come to expect, along with a few extras that put them</span></p>
           <p id="u510-11"><span id="u510-10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; at the top of everyone's list.</span></p>
          </div>
         </div>
        </div>
        <div class="clearfix colelem" id="pu513"><!-- group -->
         <div class="shadow clearfix grpelem" id="u513"><!-- group -->
          <div class="museBGSize clearfix grpelem" id="u515-12"><!-- content -->
           <p id="u515-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; RAINBOW GARDEN VILLAGE GUEST HOUSE</p>
           <p id="u515-3">&nbsp;</p>
           <p id="u515-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span id="u515-5">&nbsp;&nbsp;&nbsp; Rainbow Garden Village lies in the middle of a unique and almost</span></p>
           <p id="u515-8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; untouched subtropical environment at the Lake Bosumtwi near</p>
           <p id="u515-10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Kumasi in the Ashanti Region.</p>
          </div>
         </div>
         <div class="shadow clearfix grpelem" id="u514"><!-- group -->
          <div class="museBGSize clearfix grpelem" id="u516-12"><!-- content -->
           <p id="u516-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SAFUI MEMORIAL LODGE</p>
           <p id="u516-3">&nbsp;</p>
           <p id="u516-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span id="u516-5">&nbsp; Offering a restaurant, Safui Memorial Lodge is located in</span></p>
           <p id="u516-8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tamale. Wi-Fi access is available. Rooms here will provide you</p>
           <p id="u516-10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; with a flat-screen&nbsp; TV, air conditioning and satellite channels</p>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="grpelem" id="u517"><!-- simple frame --></div>
     <div class="grpelem" id="u518"><!-- simple frame --></div>
     <div class="grpelem" id="u519"><!-- simple frame --></div>
     <div class="grpelem" id="u520"><!-- simple frame --></div>
     <div class="grpelem" id="u521"><!-- simple frame --></div>
     <div class="grpelem" id="u522"><!-- simple frame --></div>
     <div class="grpelem" id="u523"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="u525-4"><!-- content -->
      <p>GHS 100.00</p>
     </div>
     <div class="clearfix grpelem" id="u526-4"><!-- content -->
      <p>GHS 100.00</p>
     </div>
     <div class="clearfix grpelem" id="u527-4"><!-- content -->
      <p>GHS 120.00</p>
     </div>
     <div class="clearfix grpelem" id="u528-4"><!-- content -->
      <p>GHS 150.00</p>
     </div>
     <div class="clearfix grpelem" id="u529-4"><!-- content -->
      <p>GHS 90.00</p>
     </div>
     <div class="clearfix grpelem" id="u530-4"><!-- content -->
      <p>GHS 120.00</p>
     </div>
     <div class="clearfix grpelem" id="u532-4"><!-- content -->
      <p>GHS 120.00</p>
     </div>
     <div class="grpelem" id="u524"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="u531-4"><!-- content -->
      <p>GHS 100.00</p>
     </div>
    </div>
    <div class="verticalspacer"></div>
    <div class="browser_width colelem" id="u796-bw">
     <div id="u796"><!-- group -->
      <div class="clearfix" id="u796_align_to_page">
       <div class="clearfix grpelem" id="u2851-7"><!-- content -->
        <p id="u2851-2">We bring the Ghana to the world, and the World to Ghana</p>
        <p id="u2851-3">&nbsp;</p>
        <p id="u2851-5">Copyright&nbsp; © 2015&nbsp; , KONEKT GHANA</p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- JS includes -->
  <script type="text/javascript">
   if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn2.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
   window.jQuery || document.write('\x3Cscript src="scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script src="{% static 'js/museutils.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musemenu.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.watch.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musepolyfill.bgsize.js' %}" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Some files on the server may be missing or incorrect. Clear browser cache and try again. If the problem persists please contact website author.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();
/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
Muse.Utils.initWidget('.MenuBar', function(elem) { return $(elem).museMenu(); });/* unifiedNavBar */
Muse.Utils.resizeHeight()/* resize height */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>
   </body>
</html>
