<!DOCTYPE html>
{% load staticfiles %}
<html class="html" lang="en-US">
 <head>

  <script type="text/javascript">
   if(typeof Muse == "undefined") window.Muse = {}; window.Muse.assets = {"required":["jquery-1.8.3.min.js", "museutils.js", "jquery.musemenu.js", "webpro.js", "musewpslideshow.js", "jquery.museoverlay.js", "touchswipe.js", "jquery.watch.js", "northern.css"], "outOfDate":[]};
</script>
  
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="2014.3.0.295"/>
  <title>Northern</title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/site_global.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/master_a-master.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/northern.css' %}" id="pagesheet"/>
  <!-- Other scripts -->
  <script type="text/javascript">
   document.documentElement.className += ' js';
var __adobewebfontsappname__ = "muse";
</script>
  <!-- JS includes -->
  <script type="text/javascript">
   document.write('\x3Cscript src="' + (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//webfonts.creativecloud.com/allura:n4:all;doppio-one:n4:all;cuprum:n4:all.js" type="text/javascript">\x3C/script>');
</script>
  <!--[if lt IE 9]>
  <script src="scripts/html5shiv.js?4241844378" type="text/javascript"></script>
  <![endif]-->
    <!--HTML Widget code-->
  
<style>
* {
       transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}

.clip_frame, .Container, .verticalspacer, #preloader, img {
  transition:none !important;
  -webkit-transition:none !important;
}
</style>

 </head>
 <body>

  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="browser_width" id="u205-bw">
     <div class="pinned-colelem" id="u205"><!-- simple frame --></div>
    </div>
    <div class="pinned-colelem" id="u193"><!-- simple frame --></div>
    <div class="clearfix pinned-colelem" id="u200-4"><!-- content -->
     <p>Konekt Ghana</p>
    </div>
    <nav class="MenuBar clearfix pinned-colelem" id="menuu112"><!-- horizontal box -->
     <div class="MenuItemContainer clearfix grpelem" id="u120"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u123" href="/index/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u124-4"><!-- content --><p>Home</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u113"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u114" href="/about/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u115-4"><!-- content --><p>About</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u808"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u809" href="/ghana/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u811-4"><!-- content --><p>Ghana</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u128"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u129" href="/services/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u130-4"><!-- content --><p>Services</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u142"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u145" href="/booking/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u146-4"><!-- content --><p>Booking</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u149"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u152" href="/contact/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u154-4"><!-- content --><p>Contact</p></div></a>
     </div>
    </nav>
    <div class="browser_width colelem" id="u993-bw">
     <div id="u993"><!-- group -->
      <div class="clearfix" id="u993_align_to_page">
       <div class="clearfix grpelem" id="u997-4"><!-- content -->
        <p>Akwaaba !!!!!</p>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu213"><!-- group -->
     <div class="grpelem" id="u213"><!-- custom html --></div>
     <div class="browser_width grpelem" id="u994-bw">
      <div id="u994"><!-- group -->
       <div class="clearfix" id="u994_align_to_page">
        <a class="nonblock nontext clearfix grpelem" id="u995-4" href="/ghana/"><!-- content --><p>Overview</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u996-4" href="/greater-accra/"><!-- content --><p>Greater Accra</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u998-4" href="/ashanti/"><!-- content --><p>Ashanti</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u999-4" href="/eastern/"><!-- content --><p>Eastern</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u1000-4" href="/western/"><!-- content --><p>Western</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u1001-4" href="/volta/"><!-- content --><p>Volta</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u1002-4" href="/brong-ahafo/"><!-- content --><p>Brong Ahafo</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u1003-4" href="/central/"><!-- content --><p>Central</p></a>
        <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u1004-4" href="/northern/"><!-- content --><p>Northern</p></a>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="ppu2236"><!-- group -->
     <div class="clearfix grpelem" id="pu2236"><!-- column -->
      <div class="colelem" id="u2236"><!-- simple frame --></div>
      <div class="clearfix colelem" id="u2245-9"><!-- content -->
       <p id="u2245-2">BACKGROUND AND LOCATION</p>
       <p id="u2245-3">&nbsp;</p>
       <p id="u2245-5">The Northern Region is the largest area of Ghana. As of 2009, it is divided into 20 districts. The region's capital is Tamale.</p>
       <p id="u2245-7">Climatically, religiously, linguistically, and culturally, the region differs greatly from the politically and economically dominating regions of central and southern Ghana. The Northern Region, which occupies an area of about 70,383 square kilometres, is the largest region in Ghana in terms of land area. It shares boundaries with the Upper East and the Upper West Regions to the north, the Brong Ahafo and the Volta Regions to the south, and two neighbouring countries, the Republic of Togo to the east, and La Cote d’ Ivoire to the west.</p>
      </div>
     </div>
     <div class="clearfix grpelem" id="u2237-16"><!-- content -->
      <p id="u2237-2">The land is mostly low lying except in the north-eastern corner with the Gambaga escarpment and along the western corridor. The region is drained by the Black and white Volta and their tributaries, Rivers Nasia, Daka, etc.</p>
      <p id="u2237-4">Population size and distribution</p>
      <p id="u2237-5">&nbsp;</p>
      <p id="u2237-6">&nbsp;</p>
      <p id="u2237-7">&nbsp;</p>
      <p id="u2237-9">The Northern Region is the largest of the 10 regions of the country in terms of landmass, occupying 70,384 square kilometres and accounting for 29.5 per cent of the total land area of Ghana. It has almost the same land area as the Western, Greater Accra, Volta and Eastern Regions put together (28.1%) or the Brong Ahafo, Ashanti and Greater Accra Regions combined (28.2%).</p>
      <p id="u2237-10">&nbsp;</p>
      <p id="u2237-11">&nbsp;</p>
      <p id="u2237-13">&nbsp;Yet, apart from the two Upper Regions, the Northern Region’s population is almost the same as that of Brong Ahafo and slightly larger than that of the Volta and Central Regions, which are much smaller in land area. The region currently has a population of 1.820,806, representing 9.6 per cent of the total population of the country. The climate of the region is relatively dry, with a single rainy season that begins in May and ends in October. The amount of rainfall recorded annually varies between 750 mm and 1050 mm.</p>
      <p>&nbsp;</p>
     </div>
     <div class="clearfix grpelem" id="pu2247-4"><!-- column -->
      <div class="clearfix colelem" id="u2247-4"><!-- content -->
       <p>&nbsp;The main vegetation is classified as vast areas of grassland, interspersed with the guinea savannah woodland, characterised by drought-resistant trees such as the acacia, baobab, shea nut, dawadawa, mango, neem.</p>
      </div>
      <div class="colelem" id="u2248"><!-- simple frame --></div>
     </div>
    </div>
    <div class="SlideShowWidget clearfix widget_invisible colelem" id="slideshowu2255"><!-- none box -->
     <div class="popup_anchor" id="u2274popup">
      <div class="SlideShowContentPanel rgba-background clearfix" id="u2274"><!-- stack box -->
       <div class="SSSlide clip_frame grpelem" id="u2277"><!-- image -->
        <img class="block ImageInclude" id="u2277_img" data-src="{% static 'images/larabanga%20mystery%20rock.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
       </div>
       <div class="SSSlide invi clip_frame grpelem" id="u2281"><!-- image -->
        <img class="block ImageInclude" id="u2281_img" data-src="{% static 'images/nalw.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
       </div>
       <div class="SSSlide invi clip_frame grpelem" id="u2275"><!-- image -->
        <img class="block ImageInclude" id="u2275_img" data-src="{% static 'images/mole%202.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
       </div>
       <div class="SSSlide invi clip_frame grpelem" id="u2279"><!-- image -->
        <img class="block ImageInclude" id="u2279_img" data-src="{% static 'images/larabanga.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="452" data-height="300"/>
       </div>
      </div>
     </div>
     <div class="popup_anchor" id="u2261popup">
      <div class="SSSlideLinks clearfix" id="u2261"><!-- horizontal-rows box -->
       <div class="SSSlideLink shadow clip_frame grpelem" id="u2264"><!-- image -->
        <img class="block" id="u2264_img" src="{% static 'images/larabanga%20mystery%20rock-crop-u2264.jpg' %}" alt="" width="227" height="199"/>
       </div>
       <div class="SSSlideLink shadow clip_frame grpelem" id="u2262"><!-- image -->
        <img class="block" id="u2262_img" src="{% static 'images/nalw-crop-u2262.jpg' %}" alt="" width="227" height="199"/>
       </div>
       <div class="SSSlideLink shadow clip_frame grpelem" id="u2268"><!-- image -->
        <img class="block" id="u2268_img" src="{% static 'images/mole%202-crop-u2268.jpg' %}" alt="" width="227" height="199"/>
       </div>
       <div class="SSSlideLink shadow clip_frame grpelem" id="u2266"><!-- image -->
        <img class="block" id="u2266_img" src="{% static 'images/larabanga-crop-u2266.jpg' %}" alt="" width="227" height="199"/>
       </div>
      </div>
     </div>
     <div class="popup_anchor" id="u2256popup">
      <div class="SlideShowCaptionPanel clearfix" id="u2256"><!-- stack box -->
       <div class="SSSlideCaption clearfix grpelem" id="u2260-4"><!-- content -->
        <p>LARABANGA MYSTERY ROCK</p>
       </div>
       <div class="SSSlideCaption invi clearfix grpelem" id="u2259-4"><!-- content -->
        <p>NALERIGU DEFENCE WALL</p>
       </div>
       <div class="SSSlideCaption invi clearfix grpelem" id="u2257-4"><!-- content -->
        <p>MOLE NATIONAL PARK</p>
       </div>
       <div class="SSSlideCaption invi clearfix grpelem" id="u2258-4"><!-- content -->
        <p>LARABANGA MOSQUE</p>
       </div>
      </div>
     </div>
     <div class="popup_anchor" id="u2270-4popup">
      <div class="SSPreviousButton clearfix" id="u2270-4"><!-- content -->
       <p>&lt;</p>
      </div>
     </div>
     <div class="popup_anchor" id="u2273-4popup">
      <div class="SSNextButton clearfix" id="u2273-4"><!-- content -->
       <p>&gt;</p>
      </div>
     </div>
     <div class="popup_anchor">
      <div class="SSCloseButton popup_element clearfix" id="u2284"><!-- group -->
       <div class="clearfix grpelem" id="u2285-4"><!-- content -->
        <p>x</p>
       </div>
      </div>
     </div>
    </div>
    <div class="verticalspacer"></div>
    <div class="browser_width colelem" id="u796-bw">
     <div id="u796"><!-- group -->
      <div class="clearfix" id="u796_align_to_page">
       <div class="clearfix grpelem" id="u2851-7"><!-- content -->
        <p id="u2851-2">We bring the Ghana to the world, and the World to Ghana</p>
        <p id="u2851-3">&nbsp;</p>
        <p id="u2851-5">Copyright&nbsp; © 2015&nbsp; , KONEKT GHANA</p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- JS includes -->
  <script type="text/javascript">
   if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn2.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
   window.jQuery || document.write('\x3Cscript src="scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script src="{% static 'js/museutils.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musemenu.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.watch.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musepolyfill.bgsize.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/webpro.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/musewpslideshow.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.museoverlay.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/touchswipe.js' %}" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Some files on the server may be missing or incorrect. Clear browser cache and try again. If the problem persists please contact website author.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();
/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
Muse.Utils.initWidget('.MenuBar', function(elem) { return $(elem).museMenu(); });/* unifiedNavBar */
Muse.Utils.resizeHeight()/* resize height */
Muse.Utils.initWidget('#slideshowu2255', function(elem) { $(elem).data('widget', new WebPro.Widget.ContentSlideShow(elem, {autoPlay:false,displayInterval:3000,slideLinkStopsSlideShow:false,transitionStyle:'fading',lightboxEnabled_runtime:true,shuffle:false,transitionDuration:500,enableSwipe:true,elastic:'off',resumeAutoplay:true,resumeAutoplayInterval:3000,playOnce:false})); });/* #slideshowu2255 */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>
   </body>
</html>
