<!DOCTYPE html>
{% load staticfiles %}
<html class="html" lang="en-US">
 <head>

  <script type="text/javascript">
   if(typeof Muse == "undefined") window.Muse = {}; window.Muse.assets = {"required":["jquery-1.8.3.min.js", "museutils.js", "jquery.musepolyfill.bgsize.js", "jquery.musemenu.js", "jquery.watch.js", "services.css"], "outOfDate":[]};
</script>
  
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="2014.3.0.295"/>
  <title>Services</title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/site_global.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/master_a-master.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/services.css' %}" id="pagesheet"/>

  <!-- Other scripts -->
  <script type="text/javascript">
   document.documentElement.className += ' js';
var __adobewebfontsappname__ = "muse";
</script>
  <!-- JS includes -->
  <script type="text/javascript">
   document.write('\x3Cscript src="' + (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//webfonts.creativecloud.com/allura:n4:all;doppio-one:n4:all;cuprum:n4:all.js" type="text/javascript">\x3C/script>');
</script>
  <!--[if lt IE 9]>
  <script src="scripts/html5shiv.js?4241844378" type="text/javascript"></script>
  <![endif]-->
    <!--HTML Widget code-->
  
<style>
* {
       transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}

.clip_frame, .Container, .verticalspacer, #preloader, img {
  transition:none !important;
  -webkit-transition:none !important;
}
</style>

 </head>
 <body>

  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="browser_width" id="u205-bw">
     <div class="pinned-colelem" id="u205"><!-- simple frame --></div>
    </div>
    <div class="pinned-colelem" id="u193"><!-- simple frame --></div>
    <div class="clearfix pinned-colelem" id="u200-4"><!-- content -->
     <p>Konekt Ghana</p>
    </div>
    <nav class="MenuBar clearfix pinned-colelem" id="menuu112"><!-- horizontal box -->
     <div class="MenuItemContainer clearfix grpelem" id="u120"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u123" href="/index/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u124-4"><!-- content --><p>Home</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u113"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u114" href="/about/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u115-4"><!-- content --><p>About</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u808"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u809" href="/ghana/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u811-4"><!-- content --><p>Ghana</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u128"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu MuseMenuActive clearfix colelem" id="u129" href="/services/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u130-4"><!-- content --><p>Services</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u142"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u145" href="/booking/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u146-4"><!-- content --><p>Booking</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u149"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u152" href="/contact/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u154-4"><!-- content --><p>Contact</p></div></a>
     </div>
    </nav>
    <div class="browser_width colelem" id="u321-bw">
     <div id="u321"><!-- group -->
      <div class="clearfix" id="u321_align_to_page">
       <div class="clearfix grpelem" id="u325-4"><!-- content -->
        <p>Our Services</p>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu213"><!-- group -->
     <div class="grpelem" id="u213"><!-- custom html --></div>
     <div class="browser_width grpelem" id="u322-bw">
      <div id="u322"><!-- group -->
       <div class="clearfix" id="u322_align_to_page">
        <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u323-4" href="/services/"><!-- content --><p>Overview</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u324-4" href="/lodging/"><!-- content --><p>Lodging</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u435-4" href="/excursion/"><!-- content --><p>Excursion</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u436-4" href="/car-rental/"><!-- content --><p>Car Rental</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u437-4" href="/flight-reservation/"><!-- content --><p>Flight Reservation</p></a>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="u371-7"><!-- content -->
     <p id="u371-2">Overview</p>
     <p id="u371-3">&nbsp;</p>
     <p id="u371-5">Konekt Ghana has over the years earned the reputation of providing exceptional serviceto tourists from different parts of the world. Our business is to ensure that you enjoy a well deserved holiday exploring a different country, its uniqueness, cultural experiences and heritage amongst others. We have continued to exceed the expectations of our clients when it comes to delivering the services below.</p>
    </div>
    <div class="clearfix colelem" id="pu392-4"><!-- group -->
     <div class="clearfix grpelem" id="u392-4"><!-- content -->
      <p>Lodging</p>
     </div>
     <div class="clearfix grpelem" id="u393-4"><!-- content -->
      <p>Excursion</p>
     </div>
     <div class="clearfix grpelem" id="u394-4"><!-- content -->
      <p>Car Rental</p>
     </div>
     <div class="clearfix grpelem" id="u395-4"><!-- content -->
      <p>Flight Reservation</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu372"><!-- group -->
     <div class="shadow clearfix grpelem" id="u372"><!-- group -->
      <div class="museBGSize grpelem" id="u376"><!-- simple frame --></div>
     </div>
     <div class="shadow clearfix grpelem" id="u373"><!-- group -->
      <div class="museBGSize grpelem" id="u377"><!-- simple frame --></div>
     </div>
     <div class="shadow clearfix grpelem" id="u374"><!-- group -->
      <div class="grpelem" id="u381"><!-- simple frame --></div>
     </div>
     <div class="shadow clearfix grpelem" id="u380"><!-- group -->
      <div class="museBGSize grpelem" id="u382"><!-- simple frame --></div>
     </div>
    </div>
    <div class="clearfix colelem" id="ppu428-4"><!-- group -->
     <div class="clearfix grpelem" id="pu428-4"><!-- group -->
      <div class="clearfix grpelem" id="u428-4"><!-- content -->
       <p>Ghana is the most interesting place to visit in West Africa. The country has got many things going for it: the friendly people, the profuse vegetation, the colorful festivals,</p>
      </div>
      <a class="nonblock nontext rounded-corners clearfix grpelem" id="u432-4" href="/excursion/"><!-- content --><p>learn more</p></a>
     </div>
     <div class="clearfix grpelem" id="pu429-4"><!-- group -->
      <div class="clearfix grpelem" id="u429-4"><!-- content -->
       <p>Its tiring to drive from one part of Ghana to the other considering the roads and distance. We offers you daily connections from Accra Kotoka Airport to Kumasi, Takoradi and Sunyani.</p>
      </div>
      <a class="nonblock nontext rounded-corners clearfix grpelem" id="u434-4" href="/flight-reservation/"><!-- content --><p>learn more</p></a>
     </div>
     <div class="clearfix grpelem" id="u426-4"><!-- content -->
      <p>Whether your stay is for business or pleasure, we welcome you to a comfortable, ideally and beautiful hotel. We have hotel for every budget range.</p>
     </div>
     <div class="clearfix grpelem" id="u427-4"><!-- content -->
      <p>Our Rent a Car Service&nbsp; provides a wide range of vehicles; from budget to executive car rental and group transport</p>
     </div>
     <a class="nonblock nontext rounded-corners clearfix grpelem" id="u431-4" href="/lodging/"><!-- content --><p>learn more</p></a>
     <a class="nonblock nontext rounded-corners clearfix grpelem" id="u433-4" href="/car-rental/"><!-- content --><p>learn more</p></a>
    </div>
    <div class="verticalspacer"></div>
    <div class="browser_width colelem" id="u796-bw">
     <div id="u796"><!-- group -->
      <div class="clearfix" id="u796_align_to_page">
       <div class="clearfix grpelem" id="u2851-7"><!-- content -->
        <p id="u2851-2">We bring the Ghana to the world, and the World to Ghana</p>
        <p id="u2851-3">&nbsp;</p>
        <p id="u2851-5">Copyright&nbsp; © 2015&nbsp; , KONEKT GHANA</p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- JS includes -->
  <script type="text/javascript">
   if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn2.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
   window.jQuery || document.write('\x3Cscript src="scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script src="{% static 'js/museutils.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musemenu.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.watch.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musepolyfill.bgsize.js' %}" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Some files on the server may be missing or incorrect. Clear browser cache and try again. If the problem persists please contact website author.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();
/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
Muse.Utils.initWidget('.MenuBar', function(elem) { return $(elem).museMenu(); });/* unifiedNavBar */
Muse.Utils.resizeHeight()/* resize height */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>
   </body>
</html>
