<!DOCTYPE html>
{% load staticfiles %}
<html class="html" lang="en-US">
 <head>

  <script type="text/javascript">
   if(typeof Muse == "undefined") window.Muse = {}; window.Muse.assets = {"required":["jquery-1.8.3.min.js", "museutils.js", "jquery.musemenu.js", "webpro.js", "musewpslideshow.js", "jquery.museoverlay.js", "touchswipe.js", "jquery.watch.js", "volta.css"], "outOfDate":[]};
</script>
  
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="2014.3.0.295"/>
  <title>Volta</title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/site_global.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/master_a-master.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/volta.css' %}" id="pagesheet"/>
  <!-- Other scripts -->
  <script type="text/javascript">
   document.documentElement.className += ' js';
var __adobewebfontsappname__ = "muse";
</script>
  <!-- JS includes -->
  <script type="text/javascript">
   document.write('\x3Cscript src="' + (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//webfonts.creativecloud.com/allura:n4:all;doppio-one:n4:all;cuprum:n4:all.js" type="text/javascript">\x3C/script>');
</script>
  <!--[if lt IE 9]>
  <script src="scripts/html5shiv.js?4241844378" type="text/javascript"></script>
  <![endif]-->
    <!--HTML Widget code-->
  
<style>
* {
       transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}

.clip_frame, .Container, .verticalspacer, #preloader, img {
  transition:none !important;
  -webkit-transition:none !important;
}
</style>

 </head>
 <body>

  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="browser_width" id="u205-bw">
     <div class="pinned-colelem" id="u205"><!-- simple frame --></div>
    </div>
    <div class="pinned-colelem" id="u193"><!-- simple frame --></div>
    <div class="clearfix pinned-colelem" id="u200-4"><!-- content -->
     <p>Konekt Ghana</p>
    </div>
    <nav class="MenuBar clearfix pinned-colelem" id="menuu112"><!-- horizontal box -->
     <div class="MenuItemContainer clearfix grpelem" id="u120"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u123" href="/index/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u124-4"><!-- content --><p>Home</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u113"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u114" href="/about/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u115-4"><!-- content --><p>About</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u808"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u809" href="/ghana/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u811-4"><!-- content --><p>Ghana</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u128"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u129" href="/services/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u130-4"><!-- content --><p>Services</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u142"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u145" href="/booking/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u146-4"><!-- content --><p>Booking</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u149"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u152" href="/contact/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u154-4"><!-- content --><p>Contact</p></div></a>
     </div>
    </nav>
    <div class="browser_width colelem" id="u957-bw">
     <div id="u957"><!-- group -->
      <div class="clearfix" id="u957_align_to_page">
       <div class="clearfix grpelem" id="u961-4"><!-- content -->
        <p>Akwaaba !!!!!</p>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu213"><!-- group -->
     <div class="grpelem" id="u213"><!-- custom html --></div>
     <div class="browser_width grpelem" id="u958-bw">
      <div id="u958"><!-- group -->
       <div class="clearfix" id="u958_align_to_page">
        <a class="nonblock nontext clearfix grpelem" id="u959-4" href="/ghana/"><!-- content --><p>Overview</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u960-4" href="/greater-accra/"><!-- content --><p>Greater Accra</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u962-4" href="/ashanti/"><!-- content --><p>Ashanti</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u963-4" href="/eastern/"><!-- content --><p>Eastern</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u964-4" href="/western/"><!-- content --><p>Western</p></a>
        <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u965-4" href="/volta/"><!-- content --><p>Volta</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u966-4" href="/brong-ahafo/"><!-- content --><p>Brong Ahafo</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u967-4" href="/central/"><!-- content --><p>Central</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u968-4" href="/northern/"><!-- content --><p>Northern</p></a>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="ppu1980"><!-- group -->
     <div class="clearfix grpelem" id="pu1980"><!-- column -->
      <div class="colelem" id="u1980"><!-- simple frame --></div>
      <div class="clearfix colelem" id="u1988-8"><!-- content -->
       <p id="u1988-2">BACKGROUND AND LOCATION</p>
       <p id="u1988-3">&nbsp;</p>
       <p id="u1988-5">Volta Region is one of Ghana's ten administrative regions. It is to the east of Lake Volta. Its capital is Ho. The Volta region of Ghana, lies to the east of the Volta lake. The region covers an area of 20,570 square kilometres representing 8.6% of Ghana. Between latitudes 5° 45’N and 8°45’N.&nbsp; Between the Volta Lake by the west and east by the Republic of Togo and south by the Atlantic Ocean.&nbsp; 20,570 sq. kilometers i.e. 8.6% of the total area of Ghana.&nbsp; The Region spans all the vegetational zones of&nbsp; the country stretching from the Atlantic coast in the south to the north.</p>
       <p id="u1988-6">&nbsp;</p>
      </div>
     </div>
     <div class="clearfix grpelem" id="u1981-16"><!-- content -->
      <p id="u1981-2">Volta Region is one of Ghana's ten administrative regions. It is to the east of Lake Volta. Its capital is Ho. The Volta region of Ghana, lies to the east of the Volta lake. The region covers an area of 20,570 square kilometres representing 8.6% of Ghana. Between latitudes 5° 45’N and 8°45’N.&nbsp; Between the Volta Lake by the west and east by</p>
      <p id="u1981-4">The age structure of the population indicates that all the districts of the region have a young population, typical of most developing countries.</p>
      <p id="u1981-5">&nbsp;</p>
      <p id="u1981-6">&nbsp;</p>
      <p id="u1981-7">&nbsp;</p>
      <p id="u1981-9">The regional distribution of the population, aged 0-14 years, is 41.1 per cent compared to 44.2 per cent in 1984. Nkwanta (47.3%) and Krachi (46.4%) have the highest proportion of the population, aged 0-14 years. The Total Fertility Rate (TFR) for the region (3.5) is lower than the national rate of 4.0. Nkwanta District recorded the highest TFR (4.4), while Keta recorded the lowest (2.6).</p>
      <p id="u1981-10">&nbsp;</p>
      <p id="u1981-12">As is the case with a young population, the dependency ratio is relatively high for all the districts. The regional overall dependency ratio is 92 dependants to 100 working people. The sex ratio is lower than 90.0 in five districts; it is between 90.0 and 100.0 in four other districts. In the Jasikan, Kadjebi and Krachi, Districts, the sex ratios are higher than 100.0.</p>
      <p id="u1981-13">&nbsp;</p>
      <p id="u1981-14">&nbsp;</p>
     </div>
     <div class="clearfix grpelem" id="pu1989-4"><!-- column -->
      <div class="clearfix colelem" id="u1989-4"><!-- content -->
       <p>The proportion of the population living in urban localities (population of 5,000 or more) in the region has increased from 20.5 per cent in 1984 to 27.0 per cent in 2000, with the highest proportion of the population living in urban areas the in Keta (53.0%). There are 34 urban localities in the region. Keta town (Keta) has been identified as a town which has declined at the rate of 1.9 per cent per annum over the past 30 years.</p>
      </div>
      <div class="colelem" id="u1990"><!-- simple frame --></div>
     </div>
    </div>
    <div class="SlideShowWidget clearfix widget_invisible colelem" id="slideshowu2003"><!-- none box -->
     <div class="popup_anchor" id="u2005popup">
      <div class="SlideShowContentPanel rgba-background clearfix" id="u2005"><!-- stack box -->
       <div class="SSSlide clip_frame grpelem" id="u2006"><!-- image -->
        <img class="block ImageInclude" id="u2006_img" data-src="{% static 'images/akosombo_dam_is_spilling_water%2c_ghana.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
       </div>
       <div class="SSSlide invi clip_frame grpelem" id="u2010"><!-- image -->
        <img class="block ImageInclude" id="u2010_img" data-src="{% static 'images/afadjato%202.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
       </div>
       <div class="SSSlide invi clip_frame grpelem" id="u2008"><!-- image -->
        <img class="block ImageInclude" id="u2008_img" data-src="{% static 'images/url.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
       </div>
       <div class="SSSlide invi clip_frame grpelem" id="u2012"><!-- image -->
        <img class="block ImageInclude" id="u2012_img" data-src="{% static 'images/grotos.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
       </div>
      </div>
     </div>
     <div class="popup_anchor" id="u2022popup">
      <div class="SSSlideLinks clearfix" id="u2022"><!-- horizontal-rows box -->
       <div class="SSSlideLink shadow clip_frame grpelem" id="u2027"><!-- image -->
        <img class="block" id="u2027_img" src="{% static 'images/blank.gif' %}images/akosombo_dam_is_spilling_water%2c_ghana-crop-u2027.jpg" alt="" width="227" height="199"/>
       </div>
       <div class="SSSlideLink shadow clip_frame grpelem" id="u2029"><!-- image -->
        <img class="block" id="u2029_img" src="{% static 'images/afadjato%202-crop-u2029.jpg' %}" alt="" width="227" height="199"/>
       </div>
       <div class="SSSlideLink shadow clip_frame grpelem" id="u2025"><!-- image -->
        <img class="block" id="u2025_img" src="{% static 'images/url-crop-u2025.jpg' %}" alt="" width="227" height="199"/>
       </div>
       <div class="SSSlideLink shadow clip_frame grpelem" id="u2023"><!-- image -->
        <img class="block" id="u2023_img" src="{% static 'images/grotos-crop-u2023.jpg' %}" alt="" width="227" height="199"/>
       </div>
      </div>
     </div>
     <div class="popup_anchor" id="u2015popup">
      <div class="SlideShowCaptionPanel clearfix" id="u2015"><!-- stack box -->
       <div class="SSSlideCaption clearfix grpelem" id="u2016-4"><!-- content -->
        <p>THE AKOSOMBO DAM</p>
       </div>
       <div class="SSSlideCaption invi clearfix grpelem" id="u2017-4"><!-- content -->
        <p>MOUNTAIN AFADJATO</p>
       </div>
       <div class="SSSlideCaption invi clearfix grpelem" id="u2018-4"><!-- content -->
        <p>WLI WATERFAL</p>
       </div>
       <div class="SSSlideCaption invi clearfix grpelem" id="u2019-4"><!-- content -->
        <p>GROTTOS AND CAVES</p>
       </div>
      </div>
     </div>
     <div class="popup_anchor" id="u2033-4popup">
      <div class="SSPreviousButton clearfix" id="u2033-4"><!-- content -->
       <p>&lt;</p>
      </div>
     </div>
     <div class="popup_anchor" id="u2021-4popup">
      <div class="SSNextButton clearfix" id="u2021-4"><!-- content -->
       <p>&gt;</p>
      </div>
     </div>
     <div class="popup_anchor">
      <div class="SSCloseButton popup_element clearfix" id="u2031"><!-- group -->
       <div class="clearfix grpelem" id="u2032-4"><!-- content -->
        <p>x</p>
       </div>
      </div>
     </div>
    </div>
    <div class="verticalspacer"></div>
    <div class="browser_width colelem" id="u796-bw">
     <div id="u796"><!-- group -->
      <div class="clearfix" id="u796_align_to_page">
       <div class="clearfix grpelem" id="u2851-7"><!-- content -->
        <p id="u2851-2">We bring the Ghana to the world, and the World to Ghana</p>
        <p id="u2851-3">&nbsp;</p>
        <p id="u2851-5">Copyright&nbsp; © 2015&nbsp; , KONEKT GHANA</p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- JS includes -->
  <script type="text/javascript">
   if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn2.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
   window.jQuery || document.write('\x3Cscript src="scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script src="{% static 'js/museutils.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musemenu.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.watch.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musepolyfill.bgsize.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/webpro.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/musewpslideshow.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.museoverlay.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/touchswipe.js' %}" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Some files on the server may be missing or incorrect. Clear browser cache and try again. If the problem persists please contact website author.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();
/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
Muse.Utils.initWidget('.MenuBar', function(elem) { return $(elem).museMenu(); });/* unifiedNavBar */
Muse.Utils.resizeHeight()/* resize height */
Muse.Utils.initWidget('#slideshowu2003', function(elem) { $(elem).data('widget', new WebPro.Widget.ContentSlideShow(elem, {autoPlay:false,displayInterval:3000,slideLinkStopsSlideShow:false,transitionStyle:'fading',lightboxEnabled_runtime:true,shuffle:false,transitionDuration:500,enableSwipe:true,elastic:'off',resumeAutoplay:true,resumeAutoplayInterval:3000,playOnce:false})); });/* #slideshowu2003 */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>
   </body>
</html>
