<!DOCTYPE html>
{% load staticfiles %}
<html class="html" lang="en-US">
 <head>

  <script type="text/javascript">
   if(typeof Muse == "undefined") window.Muse = {}; window.Muse.assets = {"required":["jquery-1.8.3.min.js", "museutils.js", "jquery.musepolyfill.bgsize.js", "jquery.musemenu.js", "webpro.js", "musewpslideshow.js", "jquery.museoverlay.js", "touchswipe.js", "jquery.watch.js", "western.css"], "outOfDate":[]};
</script>
  
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="2014.3.0.295"/>
  <title>Western</title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/site_global.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/master_a-master.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/western.css' %}" id="pagesheet"/>
  <!-- Other scripts -->
  <script type="text/javascript">
   document.documentElement.className += ' js';
var __adobewebfontsappname__ = "muse";
</script>
  <!-- JS includes -->
  <script type="text/javascript">
   document.write('\x3Cscript src="' + (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//webfonts.creativecloud.com/allura:n4:all;doppio-one:n4:all;cuprum:n4:all.js" type="text/javascript">\x3C/script>');
</script>
  <!--[if lt IE 9]>
  <script src="scripts/html5shiv.js?4241844378" type="text/javascript"></script>
  <![endif]-->
    <!--HTML Widget code-->
  
<style>
* {
       transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}

.clip_frame, .Container, .verticalspacer, #preloader, img {
  transition:none !important;
  -webkit-transition:none !important;
}
</style>

 </head>
 <body>

  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="browser_width" id="u205-bw">
     <div class="pinned-colelem" id="u205"><!-- simple frame --></div>
    </div>
    <div class="pinned-colelem" id="u193"><!-- simple frame --></div>
    <div class="clearfix pinned-colelem" id="u200-4"><!-- content -->
     <p>Konekt Ghana</p>
    </div>
    <nav class="MenuBar clearfix pinned-colelem" id="menuu112"><!-- horizontal box -->
     <div class="MenuItemContainer clearfix grpelem" id="u120"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u123" href="/index/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u124-4"><!-- content --><p>Home</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u113"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u114" href="/about/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u115-4"><!-- content --><p>About</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u808"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u809" href="/ghana/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u811-4"><!-- content --><p>Ghana</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u128"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u129" href="/services/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u130-4"><!-- content --><p>Services</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u142"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u145" href="/booking/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u146-4"><!-- content --><p>Booking</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u149"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u152" href="/contact/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u154-4"><!-- content --><p>Contact</p></div></a>
     </div>
    </nav>
    <div class="browser_width colelem" id="u945-bw">
     <div id="u945"><!-- group -->
      <div class="clearfix" id="u945_align_to_page">
       <div class="clearfix grpelem" id="u949-4"><!-- content -->
        <p>Akwaaba !!!!!</p>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu213"><!-- group -->
     <div class="grpelem" id="u213"><!-- custom html --></div>
     <div class="browser_width grpelem" id="u946-bw">
      <div id="u946"><!-- group -->
       <div class="clearfix" id="u946_align_to_page">
        <a class="nonblock nontext clearfix grpelem" id="u947-4" href="/ghana/"><!-- content --><p>Overview</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u948-4" href="/greater-accra/"><!-- content --><p>Greater Accra</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u950-4" href="/ashanti/"><!-- content --><p>Ashanti</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u951-4" href="/eastern/"><!-- content --><p>Eastern</p></a>
        <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u952-4" href="/western/"><!-- content --><p>Western</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u953-4" href="/volta/"><!-- content --><p>Volta</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u954-4" href="/brong-ahafo/"><!-- content --><p>Brong Ahafo</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u955-4" href="/central/"><!-- content --><p>Central</p></a>
        <a class="nonblock nontext clearfix grpelem" id="u956-4" href="/northern/"><!-- content --><p>Northern</p></a>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="ppu1865"><!-- group -->
     <div class="clearfix grpelem" id="pu1865"><!-- column -->
      <div class="museBGSize colelem" id="u1865"><!-- simple frame --></div>
      <div class="clearfix colelem" id="u1873-10"><!-- content -->
       <p id="u1873-2">BACKGROUND AND LOCATION</p>
       <p id="u1873-3">&nbsp;</p>
       <p id="u1873-5">The Western Region covers an area of approximately 2,3921 square kilometres, which is about 10 per cent of Ghana’s total land area. The region has about 75 per cent of its vegetation within the high forest zone of Ghana, and lies in the equatorial climatic zone that is characterized by moderate temperatures. It is also the wettest part of Ghana with an average rainfall of 1,600mm per annum.</p>
       <p id="u1873-7">It is also the wettest part of Ghana with an average rainfall of 1,600mm per annum. It is bordered on the east by the Central Region, to the west by the Ivory Coast (Côte d’Ivoire), to the north by Ashanti and Brong-Ahafo Regions, and to the south by the Gulf of Guinea.</p>
       <p>&nbsp;</p>
      </div>
     </div>
     <div class="clearfix grpelem" id="u1866-14"><!-- content -->
      <p>The southernmost part of Ghana lies in the region, at Cape Three Points near Busua, in the Ahanta West District.</p>
      <p>There are 10 administrative regions in Ghana, the same as in 1984.</p>
      <p>&nbsp;</p>
      <p>The Western Region was one vast province covering the present Western and Central Regions, and known as the Western Province, with its capital in Cape Coast, until the country achieved republican status in 1960. The Region, as presently constituted, became a separate administration in July 1960, with Sekondi as its capital, when the Central Region was carved out of the erstwhile province. Present day urbanised settings have made Sekondi and Takoradi one big metropolis.</p>
      <p>The Regional Co-ordinating Council (RCC), which is the highest decision-making body, comprises the Regional Minister who is also its Chairperson, District Chief Executives, Presiding Members of the various District Assemblies and two Paramount Chiefs nominated by the Regional House of Chiefs. There is also a Regional Coordinating Director, who is the Secretary to the RCC and the head of the civil administration of the region. The Region is divided into 11 districts.</p>
      <p>&nbsp;</p>
      <p>Each of the districts has a District Assembly headed by the District Chief Executive. The District Chief Executive is appointed by the President, but has to be endorsed by a two-thirds majority of members of the Assembly. Meetings of the Assembly are chaired by a Presiding Member elected by members of the Assembly.</p>
     </div>
     <div class="clearfix grpelem" id="pu1874-5"><!-- column -->
      <div class="clearfix colelem" id="u1874-5"><!-- content -->
       <p>&nbsp;</p>
       <p>The Western Region comprises five major indigenous ethnic groups. Oral tradition has it that early ancestors of these people migrated from the source of the River Nile in search of fertile land and also to escape from political and social conflict. These groupings exhibit a high degree of cultural homogeneity, especially in the areas of lineage, inheritance and succession, marriage and religion.</p>
      </div>
      <div class="colelem" id="u1881"><!-- simple frame --></div>
     </div>
    </div>
    <div class="SlideShowWidget clearfix widget_invisible colelem" id="slideshowu1910"><!-- none box -->
     <div class="popup_anchor" id="u1929popup">
      <div class="SlideShowContentPanel rgba-background clearfix" id="u1929"><!-- stack box -->
       <div class="SSSlide clip_frame grpelem" id="u1934"><!-- image -->
        <img class="block ImageInclude" id="u1934_img" data-src="{% static 'images/westerncentralregionghana_1.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
       </div>
       <div class="SSSlide invi clip_frame grpelem" id="u1932"><!-- image -->
        <img class="block ImageInclude" id="u1932_img" data-src="{% static 'images/nzulezu2.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
       </div>
       <div class="SSSlide invi clip_frame grpelem" id="u1930"><!-- image -->
        <img class="block ImageInclude" id="u1930_img" data-src="{% static 'images/fort%20cros.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
       </div>
       <div class="SSSlide invi clip_frame grpelem" id="u1936"><!-- image -->
        <img class="block ImageInclude" id="u1936_img" data-src="{% static 'images/crocodile-paga.jpg' %}" src="{% static 'images/blank.gif' %}" alt="" data-width="480" data-height="300"/>
       </div>
      </div>
     </div>
     <div class="popup_anchor" id="u1918popup">
      <div class="SSSlideLinks clearfix" id="u1918"><!-- horizontal-rows box -->
       <div class="SSSlideLink shadow clip_frame grpelem" id="u1919"><!-- image -->
        <img class="block" id="u1919_img" src="{% static 'images/westerncentralregionghana_1-crop-u1919.jpg' %}" alt="" width="230" height="190"/>
       </div>
       <div class="SSSlideLink shadow clip_frame grpelem" id="u1921"><!-- image -->
        <img class="block" id="u1921_img" src="{% static 'images/nzulezu-crop-u1921.jpg' %}" alt="" width="230" height="190"/>
       </div>
       <div class="SSSlideLink shadow clip_frame grpelem" id="u1923"><!-- image -->
        <img class="block" id="u1923_img" src="{% static 'images/fort%20cros-crop-u1923.jpg' %}" alt="" width="230" height="190"/>
       </div>
       <div class="SSSlideLink shadow clip_frame grpelem" id="u1925"><!-- image -->
        <img class="block" id="u1925_img" src="{% static 'images/crocodile-paga-crop-u1925.jpg' %}" alt="" width="230" height="190"/>
       </div>
      </div>
     </div>
     <div class="popup_anchor" id="u1911popup">
      <div class="SlideShowCaptionPanel clearfix" id="u1911"><!-- stack box -->
       <div class="SSSlideCaption clearfix grpelem" id="u1912-4"><!-- content -->
        <p>FISHING COMMUNITIES OF THE WEST</p>
       </div>
       <div class="SSSlideCaption invi clearfix grpelem" id="u1914-4"><!-- content -->
        <p>THE VILLAGE ON SILT OF NZULEZU</p>
       </div>
       <div class="SSSlideCaption invi clearfix grpelem" id="u1915-4"><!-- content -->
        <p>CASTLES OF THE WEST</p>
       </div>
       <div class="SSSlideCaption invi clearfix grpelem" id="u1913-4"><!-- content -->
        <p>AKATAKYI CROCODILE POND</p>
       </div>
      </div>
     </div>
     <div class="popup_anchor" id="u1916-4popup">
      <div class="SSPreviousButton clearfix" id="u1916-4"><!-- content -->
       <p>&lt;</p>
      </div>
     </div>
     <div class="popup_anchor" id="u1917-4popup">
      <div class="SSNextButton clearfix" id="u1917-4"><!-- content -->
       <p>&gt;</p>
      </div>
     </div>
     <div class="popup_anchor">
      <div class="SSCloseButton popup_element clearfix" id="u1927"><!-- group -->
       <div class="clearfix grpelem" id="u1928-4"><!-- content -->
        <p>x</p>
       </div>
      </div>
     </div>
    </div>
    <div class="verticalspacer"></div>
    <div class="browser_width colelem" id="u796-bw">
     <div id="u796"><!-- group -->
      <div class="clearfix" id="u796_align_to_page">
       <div class="clearfix grpelem" id="u2851-7"><!-- content -->
        <p id="u2851-2">We bring the Ghana to the world, and the World to Ghana</p>
        <p id="u2851-3">&nbsp;</p>
        <p id="u2851-5">Copyright&nbsp; © 2015&nbsp; , KONEKT GHANA</p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- JS includes -->
  <script type="text/javascript">
   if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn2.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
   window.jQuery || document.write('\x3Cscript src="scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script src="{% static 'js/museutils.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musemenu.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.watch.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.musepolyfill.bgsize.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/webpro.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/musewpslideshow.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.museoverlay.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/touchswipe.js' %}" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Some files on the server may be missing or incorrect. Clear browser cache and try again. If the problem persists please contact website author.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();
/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
Muse.Utils.initWidget('.MenuBar', function(elem) { return $(elem).museMenu(); });/* unifiedNavBar */
Muse.Utils.resizeHeight()/* resize height */
Muse.Utils.initWidget('#slideshowu1910', function(elem) { $(elem).data('widget', new WebPro.Widget.ContentSlideShow(elem, {autoPlay:false,displayInterval:3000,slideLinkStopsSlideShow:false,transitionStyle:'fading',lightboxEnabled_runtime:true,shuffle:false,transitionDuration:500,enableSwipe:true,elastic:'off',resumeAutoplay:true,resumeAutoplayInterval:3000,playOnce:false})); });/* #slideshowu1910 */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>
   </body>
</html>
