.version.admin /* version checker */
{
	color: #0000FC;
	background-color: #6E9597;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 437.99999999999994px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -96px;
	padding-top: 202px;
	width: 0.01px;
}

#u205
{
	z-index: 11;
	height: 107px;
	top: 0px;
}

#u205-bw
{
	z-index: 11;
}

#u193
{
	z-index: 49;
	width: 139px;
	height: 105px;
	top: 2px;
	left: 50%;
	margin-left: -529px;
}

#u200-4
{
	z-index: 50;
	width: 323px;
	min-height: 72px;
	top: 23px;
	left: 50%;
	margin-left: -410px;
}

#menuu112
{
	z-index: 12;
	width: 541px;
	top: 48px;
	left: 50%;
	margin-left: -30px;
}

#u120
{
	width: 82px;
	min-height: 26px;
	margin-right: -10000px;
}

#u123
{
	width: 82px;
	padding-bottom: 6px;
}

#u123:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u123.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u124-4
{
	width: 70px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u123:hover #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u123.MuseMenuActive #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u113
{
	width: 84px;
	min-height: 26px;
	margin-right: -10000px;
	left: 84px;
}

#u114
{
	width: 84px;
	padding-bottom: 6px;
}

#u114:hover
{
	width: 84px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u114.MuseMenuActive
{
	width: 84px;
	min-height: 0px;
	margin: 0px;
}

#u115-4
{
	width: 72px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u114:hover #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u114.MuseMenuActive #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u808
{
	width: 87px;
	min-height: 26px;
	margin-right: -10000px;
	left: 170px;
}

#u809
{
	width: 87px;
	padding-bottom: 6px;
}

#u809:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u809.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u811-4
{
	width: 75px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u809:hover #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u809.MuseMenuActive #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u128
{
	width: 101px;
	min-height: 26px;
	margin-right: -10000px;
	left: 259px;
}

#u129
{
	width: 101px;
	padding-bottom: 6px;
}

#u129:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u130-4
{
	width: 89px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u129:hover #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u129.MuseMenuActive #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u142
{
	width: 101px;
	min-height: 26px;
	margin-right: -10000px;
	left: 362px;
}

#u145
{
	width: 101px;
	padding-bottom: 6px;
}

#u145:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u129.MuseMenuActive,#u145.MuseMenuActive
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u146-4
{
	width: 90px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 5px;
}

#u145:hover #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u145.MuseMenuActive #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u149
{
	width: 76px;
	min-height: 26px;
	margin-right: -10000px;
	left: 465px;
}

#u152
{
	width: 76px;
	padding-bottom: 6px;
}

#u152:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u152.MuseMenuActive
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u154-4
{
	width: 65px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 5px;
}

#u152:hover #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u152.MuseMenuActive #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u213
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	margin-left: 506px;
}

#u796
{
	z-index: 3;
	min-height: 73px;
	padding-bottom: 23px;
}

#u796_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2851-7
{
	z-index: 4;
	width: 722px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 270px;
}

#u796-bw
{
	z-index: 3;
	min-height: 73px;
	margin-top: 186px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 94px;
}

#page .verticalspacer
{
	clear: both;
}

