.version.ashanti /* version checker */
{
	color: #000001;
	background-color: #A07B1C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 437.75px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -96px;
	padding-top: 106px;
	width: 0.01px;
}

#u205
{
	z-index: 129;
	height: 107px;
	top: 0px;
}

#u205-bw
{
	z-index: 129;
}

#u193
{
	z-index: 167;
	width: 139px;
	height: 105px;
	top: 2px;
	left: 50%;
	margin-left: -529px;
}

#u200-4
{
	z-index: 168;
	width: 323px;
	min-height: 72px;
	top: 23px;
	left: 50%;
	margin-left: -410px;
}

#menuu112
{
	z-index: 130;
	width: 541px;
	top: 48px;
	left: 50%;
	margin-left: -30px;
}

#u120
{
	width: 82px;
	min-height: 26px;
	margin-right: -10000px;
}

#u123
{
	width: 82px;
	padding-bottom: 6px;
}

#u123:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u123.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u124-4
{
	width: 70px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u123:hover #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u123.MuseMenuActive #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u113
{
	width: 84px;
	min-height: 26px;
	margin-right: -10000px;
	left: 84px;
}

#u114
{
	width: 84px;
	padding-bottom: 6px;
}

#u114:hover
{
	width: 84px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u114.MuseMenuActive
{
	width: 84px;
	min-height: 0px;
	margin: 0px;
}

#u115-4
{
	width: 72px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u114:hover #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u114.MuseMenuActive #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u808
{
	width: 87px;
	min-height: 26px;
	margin-right: -10000px;
	left: 170px;
}

#u809
{
	width: 87px;
	padding-bottom: 6px;
}

#u809:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u809.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u811-4
{
	width: 75px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u809:hover #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u809.MuseMenuActive #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u128
{
	width: 101px;
	min-height: 26px;
	margin-right: -10000px;
	left: 259px;
}

#u129
{
	width: 101px;
	padding-bottom: 6px;
}

#u129:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u130-4
{
	width: 89px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u129:hover #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u129.MuseMenuActive #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u142
{
	width: 101px;
	min-height: 26px;
	margin-right: -10000px;
	left: 362px;
}

#u145
{
	width: 101px;
	padding-bottom: 6px;
}

#u145:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u129.MuseMenuActive,#u145.MuseMenuActive
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u146-4
{
	width: 90px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 5px;
}

#u145:hover #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u145.MuseMenuActive #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u149
{
	width: 76px;
	min-height: 26px;
	margin-right: -10000px;
	left: 465px;
}

#u152
{
	width: 76px;
	padding-bottom: 6px;
}

#u152:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u152.MuseMenuActive
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u154-4
{
	width: 65px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 5px;
}

#u152:hover #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u152.MuseMenuActive #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u921
{
	z-index: 11;
	min-height: 59px;
	border-color: #000000;
	background-color: #FCEE21;
	padding-bottom: 10px;
}

#u925-4
{
	z-index: 21;
	width: 243px;
	min-height: 40px;
	border-color: #000000;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 89px;
}

#u921-bw
{
	z-index: 11;
	min-height: 59px;
}

#pu213
{
	width: 0.01px;
	margin-left: -100px;
}

#u213
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 606px;
}

#u922
{
	z-index: 12;
	min-height: 33px;
	border-color: #E4E4E4;
	background-color: #E4E4E4;
	padding-bottom: 11px;
}

#u921_align_to_page,#u922_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u923-4
{
	z-index: 13;
	width: 71px;
	min-height: 14px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 89px;
}

#u923-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 71px;
	margin: 14px -10000px 0px 0px;
}

#u924-4
{
	z-index: 17;
	width: 90px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 184px;
}

#u926-4
{
	z-index: 25;
	width: 69px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 287px;
}

#u927-4
{
	z-index: 29;
	width: 66px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 370px;
}

#u927-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 66px;
	margin: 14px -10000px 0px 0px;
}

#u928-4
{
	z-index: 33;
	width: 69px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 460px;
}

#u929-4
{
	z-index: 37;
	width: 69px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 556px;
}

#u926-4.MuseLinkActive,#u928-4:hover,#u929-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 69px;
	margin: 14px -10000px 0px 0px;
}

#u930-4
{
	z-index: 41;
	width: 90px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 651px;
}

#u931-4
{
	z-index: 45;
	width: 54px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 758px;
}

#u931-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 54px;
	margin: 14px -10000px 0px 0px;
}

#u932-4
{
	z-index: 49;
	width: 90px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 850px;
}

#u924-4:hover,#u930-4:hover,#u932-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 14px -10000px 0px 0px;
}

#u923-4:hover p,#u924-4:hover p,#u926-4.MuseLinkActive p,#u927-4:hover p,#u928-4:hover p,#u929-4:hover p,#u930-4:hover p,#u931-4:hover p,#u932-4:hover p
{
	color: #2E3192;
	visibility: inherit;
}

#u922-bw
{
	z-index: 12;
	min-height: 33px;
}

#ppu1532
{
	width: 0.01px;
	margin-left: -23px;
	margin-top: -12px;
}

#pu1532
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 4px;
}

#u1532
{
	z-index: 53;
	width: 303px;
	height: 252px;
	border-width: 6px;
	border-style: solid;
	border-color: #FFFFFF;
	margin-left: 13px;
	position: relative;
	background: #FFFFFF url("../images/ashanti-1.jpg") no-repeat center center;
}

#pu1533-9
{
	width: 0.01px;
	margin-top: 11px;
}

#u1533-9
{
	z-index: 54;
	width: 312px;
	min-height: 228px;
	border-color: #000000;
	background-color: #FFFFFF;
	text-align: justify;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 16px;
}

#u1533-2
{
	font-size: 18px;
	line-height: 22px;
	color: #EABF3C;
}

#slideshowu1591
{
	z-index: 79;
	width: 0.01px;
	height: 406px;
	position: relative;
	margin-right: -10000px;
	margin-top: 273px;
}

#u1600
{
	position: absolute;
	width: 524px;
	height: 422px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -60px;
	left: 248px;
	-pie-background: rgba(0,0,0,0.9);
}

#u1600popup
{
	z-index: 80;
}

#u1601
{
	z-index: 81;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1645
{
	z-index: 83;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1654
{
	z-index: 85;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1663
{
	z-index: 87;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1601_img,#u1645_img,#u1654_img,#u1663_img
{
	padding-top: 30px;
	padding-bottom: 30px;
}

#u1608
{
	position: absolute;
	width: 1018px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 208px;
}

#u1608popup
{
	z-index: 89;
}

#u1609
{
	z-index: 90;
	width: 230px;
	height: 190px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 2px rgba(127,127,127,0.5),0px 0px 2px rgba(127,127,127,0.5);
	border-width: 4px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 18px;
}

#u1648
{
	z-index: 92;
	width: 230px;
	height: 190px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 2px rgba(127,127,127,0.5),0px 0px 2px rgba(127,127,127,0.5);
	border-width: 4px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 266px;
}

#u1657
{
	z-index: 94;
	width: 230px;
	height: 190px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 2px rgba(127,127,127,0.5),0px 0px 2px rgba(127,127,127,0.5);
	border-width: 4px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 514px;
}

#u1666
{
	z-index: 96;
	width: 230px;
	height: 190px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 2px rgba(127,127,127,0.5),0px 0px 2px rgba(127,127,127,0.5);
	border-width: 4px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 762px;
}

#u1609:hover,#u1648:hover,#u1657:hover,#u1666:hover
{
	width: 230px;
	height: 190px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1592
{
	position: absolute;
	width: 340px;
	background-color: transparent;
	top: 302px;
	left: 268px;
}

#u1592popup
{
	z-index: 98;
}

#u1594-4
{
	z-index: 99;
	width: 340px;
	min-height: 53px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 21px;
	text-align: left;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u1651-4
{
	z-index: 103;
	width: 340px;
	min-height: 53px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 21px;
	text-align: left;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u1660-5
{
	z-index: 107;
	width: 340px;
	min-height: 53px;
	background-color: transparent;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u1660-2
{
	font-size: 21px;
	text-align: left;
	line-height: 25px;
	color: #FFFFFF;
}

#u1660-3
{
	font-size: 20px;
	line-height: 28px;
	color: #FFFFFF;
}

#u1669-4
{
	z-index: 112;
	width: 340px;
	min-height: 53px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 21px;
	text-align: left;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u1615-4
{
	position: absolute;
	width: 30px;
	min-height: 22px;
	background-color: #EABF3C;
	color: #000000;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 302px;
	left: 690px;
}

#u1615-4popup
{
	z-index: 116;
}

#u1607-4
{
	position: absolute;
	width: 30px;
	min-height: 22px;
	background-color: #EABF3C;
	color: #000000;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 302px;
	left: 720px;
}

#u1607-4popup
{
	z-index: 120;
}

#u1598
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #FF0000;
	padding-bottom: 5px;
	top: -53px;
	left: 715px;
}

#u1598:hover
{
	background-color: #FFFFFF;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u1598:active
{
	background-color: #6B6B6B;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u1599-4
{
	z-index: 125;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u1599-4:hover
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 20px;
	margin: 5px -10000px 0px 0px;
}

#u1599-4:hover p
{
	color: #FF0000;
	visibility: inherit;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1540-5
{
	z-index: 63;
	width: 300px;
	min-height: 172px;
	border-color: #000000;
	background-color: #FFFFFF;
	text-align: justify;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 700px;
}

#u1533-3,#u1533-5,#u1533-6,#u1540-2
{
	color: #000000;
}

#u1533-7,#u1540-3
{
	color: #7F7F7F;
}

#u1541-10
{
	z-index: 68;
	width: 312px;
	min-height: 507px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #000000;
	text-align: justify;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 358px;
}

#u1542
{
	z-index: 78;
	width: 295px;
	height: 356px;
	border-width: 5px;
	border-style: solid;
	border-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	left: 698px;
	background: #FFFFFF url("../images/ghana_ashanti.png") no-repeat left top;
}

#u796
{
	z-index: 3;
	min-height: 73px;
	padding-bottom: 23px;
}

#u796_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2851-7
{
	z-index: 4;
	width: 722px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 270px;
}

#u796-bw
{
	z-index: 3;
	min-height: 73px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 94px;
}

#page .verticalspacer
{
	clear: both;
}

