.version.brong_ahafo /* version checker */
{
	color: #0000E6;
	background-color: #BB351B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -96px;
	padding-top: 106px;
	width: 0.01px;
}

#u205
{
	z-index: 130;
	height: 107px;
	top: 0px;
}

#u205-bw
{
	z-index: 130;
}

#u193
{
	z-index: 168;
	width: 139px;
	height: 105px;
	top: 2px;
	left: 50%;
	margin-left: -529px;
}

#u200-4
{
	z-index: 169;
	width: 323px;
	min-height: 72px;
	top: 23px;
	left: 50%;
	margin-left: -410px;
}

#menuu112
{
	z-index: 131;
	width: 541px;
	top: 48px;
	left: 50%;
	margin-left: -30px;
}

#u120
{
	width: 82px;
	min-height: 26px;
	margin-right: -10000px;
}

#u123
{
	width: 82px;
	padding-bottom: 6px;
}

#u123:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u123.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u124-4
{
	width: 70px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u123:hover #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u123.MuseMenuActive #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u113
{
	width: 84px;
	min-height: 26px;
	margin-right: -10000px;
	left: 84px;
}

#u114
{
	width: 84px;
	padding-bottom: 6px;
}

#u114:hover
{
	width: 84px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u114.MuseMenuActive
{
	width: 84px;
	min-height: 0px;
	margin: 0px;
}

#u115-4
{
	width: 72px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u114:hover #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u114.MuseMenuActive #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u808
{
	width: 87px;
	min-height: 26px;
	margin-right: -10000px;
	left: 170px;
}

#u809
{
	width: 87px;
	padding-bottom: 6px;
}

#u809:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u809.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u811-4
{
	width: 75px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u809:hover #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u809.MuseMenuActive #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u128
{
	width: 101px;
	min-height: 26px;
	margin-right: -10000px;
	left: 259px;
}

#u129
{
	width: 101px;
	padding-bottom: 6px;
}

#u129:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u130-4
{
	width: 89px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u129:hover #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u129.MuseMenuActive #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u142
{
	width: 101px;
	min-height: 26px;
	margin-right: -10000px;
	left: 362px;
}

#u145
{
	width: 101px;
	padding-bottom: 6px;
}

#u145:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u129.MuseMenuActive,#u145.MuseMenuActive
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u146-4
{
	width: 90px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 5px;
}

#u145:hover #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u145.MuseMenuActive #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u149
{
	width: 76px;
	min-height: 26px;
	margin-right: -10000px;
	left: 465px;
}

#u152
{
	width: 76px;
	padding-bottom: 6px;
}

#u152:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u152.MuseMenuActive
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u154-4
{
	width: 65px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 5px;
}

#u152:hover #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u152.MuseMenuActive #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u969
{
	z-index: 11;
	min-height: 59px;
	border-color: #000000;
	background-color: #FCEE21;
	padding-bottom: 10px;
}

#u973-4
{
	z-index: 21;
	width: 243px;
	min-height: 40px;
	border-color: #000000;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 89px;
}

#u969-bw
{
	z-index: 11;
	min-height: 59px;
}

#pu213
{
	width: 0.01px;
	margin-left: -100px;
}

#u213
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 606px;
}

#u970
{
	z-index: 12;
	min-height: 33px;
	border-color: #E4E4E4;
	background-color: #E4E4E4;
	padding-bottom: 11px;
}

#u969_align_to_page,#u970_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u971-4
{
	z-index: 13;
	width: 71px;
	min-height: 14px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 89px;
}

#u971-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 71px;
	margin: 14px -10000px 0px 0px;
}

#u972-4
{
	z-index: 17;
	width: 90px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 184px;
}

#u974-4
{
	z-index: 25;
	width: 69px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 287px;
}

#u975-4
{
	z-index: 29;
	width: 66px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 370px;
}

#u975-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 66px;
	margin: 14px -10000px 0px 0px;
}

#u976-4
{
	z-index: 33;
	width: 69px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 460px;
}

#u977-4
{
	z-index: 37;
	width: 69px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 556px;
}

#u974-4:hover,#u976-4:hover,#u977-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 69px;
	margin: 14px -10000px 0px 0px;
}

#u978-4
{
	z-index: 41;
	width: 90px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 651px;
}

#u979-4
{
	z-index: 45;
	width: 54px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 758px;
}

#u979-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 54px;
	margin: 14px -10000px 0px 0px;
}

#u980-4
{
	z-index: 49;
	width: 90px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 850px;
}

#u972-4:hover,#u978-4.MuseLinkActive,#u980-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 14px -10000px 0px 0px;
}

#u971-4:hover p,#u972-4:hover p,#u974-4:hover p,#u975-4:hover p,#u976-4:hover p,#u977-4:hover p,#u978-4.MuseLinkActive p,#u979-4:hover p,#u980-4:hover p
{
	color: #2E3192;
	visibility: inherit;
}

#u970-bw
{
	z-index: 12;
	min-height: 33px;
}

#ppu2058
{
	width: 0.01px;
	margin-left: -11px;
	margin-top: -4px;
}

#pu2058
{
	width: 0.01px;
	margin-right: -10000px;
}

#u2058
{
	z-index: 53;
	width: 330px;
	height: 235px;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../images/brong-ahafo-1.jpg") no-repeat center center;
}

#u2067-10
{
	z-index: 66;
	width: 330px;
	min-height: 178px;
	border-color: #000000;
	background-color: #FFFFFF;
	text-align: justify;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	margin-top: 17px;
	position: relative;
}

#u2067-2
{
	font-size: 18px;
	line-height: 22px;
	color: #EABF3C;
}

#u2067-3,#u2067-5,#u2067-6,#u2067-8
{
	color: #000000;
}

#u2059-12
{
	z-index: 54;
	width: 322px;
	min-height: 444px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #000000;
	text-align: justify;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 357px;
}

#pu2069-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 710px;
}

#u2069-4
{
	z-index: 76;
	width: 283px;
	min-height: 118px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #000000;
	text-align: justify;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2071
{
	z-index: 80;
	width: 283px;
	height: 252px;
	border-color: #000000;
	margin-top: 12px;
	position: relative;
	background: #FFFFFF url("../images/ghana-brong-ahafo.png") no-repeat center center;
}

#slideshowu2084
{
	z-index: 81;
	width: 0.01px;
	height: 438px;
	left: -48px;
	margin-top: 74px;
	position: relative;
}

#u2091
{
	position: absolute;
	width: 524px;
	height: 399px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -53px;
	left: 249px;
	-pie-background: rgba(0,0,0,0.9);
}

#u2091popup
{
	z-index: 82;
}

#u2094
{
	z-index: 83;
	width: 480px;
	height: 337px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2098
{
	z-index: 85;
	width: 480px;
	height: 337px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2092
{
	z-index: 87;
	width: 480px;
	height: 337px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2096
{
	z-index: 89;
	width: 480px;
	height: 337px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2094_img,#u2098_img,#u2092_img,#u2096_img
{
	padding-top: 19px;
	padding-bottom: 18px;
}

#u2100
{
	position: absolute;
	width: 1056px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 227px;
}

#u2100popup
{
	z-index: 91;
}

#u2103
{
	z-index: 92;
	width: 227px;
	height: 199px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(127,127,127,0.5),0px 0px 3px rgba(127,127,127,0.5);
	border-width: 6px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 37px;
}

#u2105
{
	z-index: 94;
	width: 227px;
	height: 199px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(127,127,127,0.5),0px 0px 3px rgba(127,127,127,0.5);
	border-width: 6px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 286px;
}

#u2101
{
	z-index: 96;
	width: 227px;
	height: 199px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(127,127,127,0.5),0px 0px 3px rgba(127,127,127,0.5);
	border-width: 6px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 535px;
}

#u2103:hover,#u2105:hover,#u2101:hover
{
	border-width: 6px;
	border-style: solid;
	width: 227px;
	height: 199px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2107
{
	z-index: 98;
	width: 227px;
	height: 199px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(127,127,127,0.5),0px 0px 3px rgba(127,127,127,0.5);
	border-width: 6px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 782px;
}

#u2107:hover
{
	border-width: 6px;
	border-style: solid;
	width: 227px;
	height: 199px;
	min-height: 0px;
	margin: -2px -10000px 0px 0px;
}

#u2085
{
	position: absolute;
	width: 340px;
	background-color: transparent;
	top: 287px;
	left: 271px;
}

#u2085popup
{
	z-index: 100;
}

#u2089-4
{
	z-index: 101;
	width: 340px;
	min-height: 39px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 22px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u2087-4
{
	z-index: 105;
	width: 340px;
	min-height: 39px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 22px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u2088-4
{
	z-index: 109;
	width: 340px;
	min-height: 39px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 22px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u2086-4
{
	z-index: 113;
	width: 340px;
	min-height: 39px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 22px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u2110-4
{
	position: absolute;
	width: 30px;
	min-height: 20px;
	background-color: #EABF3C;
	color: #000000;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 296px;
	left: 698px;
}

#u2110-4popup
{
	z-index: 117;
}

#u2114-4
{
	position: absolute;
	width: 30px;
	min-height: 20px;
	background-color: #EABF3C;
	color: #000000;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 296px;
	left: 728px;
}

#u2110-4:hover,#u2114-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 30px;
	margin: 0px;
}

#u2114-4popup
{
	z-index: 121;
}

#u2110-4:hover p,#u2114-4:hover p
{
	color: #EABF3C;
	visibility: inherit;
}

#u2111
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #FF0000;
	padding-bottom: 5px;
	top: -49px;
	left: 722px;
}

#u2111:hover
{
	background-color: #FFFFFF;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u2111:active
{
	background-color: #6B6B6B;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u2112-4
{
	z-index: 126;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u2112-4:hover
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 20px;
	margin: 5px -10000px 0px 0px;
}

#u2112-4:hover p
{
	color: #FF0000;
	visibility: inherit;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u796
{
	z-index: 3;
	min-height: 73px;
	padding-bottom: 23px;
}

#u796_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2851-7
{
	z-index: 4;
	width: 722px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 270px;
}

#u796-bw
{
	z-index: 3;
	min-height: 73px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 94px;
}

#page .verticalspacer
{
	clear: both;
}

