.version.car_rental /* version checker */
{
	color: #0000FF;
	background-color: #367F4D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 437.9000000000001px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -96px;
	padding-top: 106px;
	width: 0.01px;
}

#u205
{
	z-index: 189;
	height: 107px;
	top: 0px;
}

#u205-bw
{
	z-index: 189;
}

#u193
{
	z-index: 227;
	width: 139px;
	height: 105px;
	top: 2px;
	left: 50%;
	margin-left: -529px;
}

#u200-4
{
	z-index: 228;
	width: 323px;
	min-height: 72px;
	top: 23px;
	left: 50%;
	margin-left: -410px;
}

#menuu112
{
	z-index: 190;
	width: 541px;
	top: 48px;
	left: 50%;
	margin-left: -30px;
}

#u120
{
	width: 82px;
	min-height: 26px;
	margin-right: -10000px;
}

#u123
{
	width: 82px;
	padding-bottom: 6px;
}

#u123:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u123.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u124-4
{
	width: 70px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u123:hover #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u123.MuseMenuActive #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u113
{
	width: 84px;
	min-height: 26px;
	margin-right: -10000px;
	left: 84px;
}

#u114
{
	width: 84px;
	padding-bottom: 6px;
}

#u114:hover
{
	width: 84px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u114.MuseMenuActive
{
	width: 84px;
	min-height: 0px;
	margin: 0px;
}

#u115-4
{
	width: 72px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u114:hover #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u114.MuseMenuActive #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u808
{
	width: 87px;
	min-height: 26px;
	margin-right: -10000px;
	left: 170px;
}

#u809
{
	width: 87px;
	padding-bottom: 6px;
}

#u809:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u809.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u811-4
{
	width: 75px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u809:hover #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u809.MuseMenuActive #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u128
{
	width: 101px;
	min-height: 26px;
	margin-right: -10000px;
	left: 259px;
}

#u129
{
	width: 101px;
	padding-bottom: 6px;
}

#u129:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u130-4
{
	width: 89px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u129:hover #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u129.MuseMenuActive #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u142
{
	width: 101px;
	min-height: 26px;
	margin-right: -10000px;
	left: 362px;
}

#u145
{
	width: 101px;
	padding-bottom: 6px;
}

#u145:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u129.MuseMenuActive,#u145.MuseMenuActive
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u146-4
{
	width: 90px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 5px;
}

#u145:hover #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u145.MuseMenuActive #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u149
{
	width: 76px;
	min-height: 26px;
	margin-right: -10000px;
	left: 465px;
}

#u152
{
	width: 76px;
	padding-bottom: 6px;
}

#u152:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u152.MuseMenuActive
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u154-4
{
	width: 65px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 5px;
}

#u152:hover #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u152.MuseMenuActive #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u454
{
	z-index: 163;
	min-height: 59px;
	border-color: #000000;
	background-color: #FCEE21;
	padding-bottom: 10px;
}

#u458-4
{
	z-index: 173;
	width: 243px;
	min-height: 40px;
	border-color: #000000;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 89px;
}

#u454-bw
{
	z-index: 163;
	min-height: 59px;
}

#pu213
{
	width: 0.01px;
	margin-left: -100px;
}

#u213
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 606px;
}

#u455
{
	z-index: 164;
	min-height: 33px;
	border-color: #E4E4E4;
	background-color: #E4E4E4;
	padding-bottom: 11px;
}

#u454_align_to_page,#u455_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u456-4
{
	z-index: 165;
	width: 71px;
	min-height: 14px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 89px;
}

#u456-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 71px;
	margin: 14px -10000px 0px 0px;
}

#u457-4
{
	z-index: 169;
	width: 96px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 184px;
}

#u459-4
{
	z-index: 177;
	width: 96px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 300px;
}

#u460-4
{
	z-index: 181;
	width: 96px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 430px;
}

#u457-4:hover,#u459-4:hover,#u460-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 96px;
	margin: 14px -10000px 0px 0px;
}

#u461-4
{
	z-index: 185;
	width: 152px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 560px;
}

#u461-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 152px;
	margin: 14px -10000px 0px 0px;
}

#u456-4:hover p,#u457-4:hover p,#u459-4:hover p,#u460-4.MuseLinkActive p,#u461-4:hover p
{
	color: #EABF3C;
	visibility: inherit;
}

#u455-bw
{
	z-index: 164;
	min-height: 33px;
}

#pu587-4
{
	width: 0.01px;
	margin-left: -11px;
	margin-top: -3px;
}

#u587-4
{
	z-index: 3;
	width: 541px;
	min-height: 39px;
	border-style: solid;
	border-color: #E6E6E6;
	background-color: transparent;
	color: #EABF3C;
	line-height: 43px;
	font-size: 36px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u591-5
{
	z-index: 54;
	width: 400px;
	min-height: 47px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EBE6E6;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 577px;
	border-width: 0px 0px 2px;
}

#u591-3
{
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	color: #FFFFFF;
}

#pu588-16
{
	width: 0.01px;
	margin-left: -25px;
	margin-top: 4px;
}

#u588-16
{
	z-index: 7;
	width: 545px;
	min-height: 210px;
	border-style: solid;
	border-color: #CCCCCC;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	border-width: 0px 0px 1px;
	background: transparent url("../images/6614.jpg") no-repeat left top;
	background-size: contain;
}

#u588-3
{
	color: #EABF3C;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u588
{
	line-height: 17px;
}

#u588-2
{
	font-size: 20px;
	line-height: 24px;
}

#u592
{
	z-index: 59;
	width: 400px;
	height: 213px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 591px;
	background: #FFFFFF url("../images/yutong_8m_travel_bus.jpg") no-repeat left bottom;
	background-size: cover;
}

#u595-4
{
	z-index: 99;
	width: 182px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 2px 1px #E5E5E5;
	box-shadow: 0px 0px 2px rgba(204,204,204,0.5),0px 0px 2px rgba(204,204,204,0.5);
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 10px;
	color: #7F7F7F;
	line-height: 29px;
	text-align: center;
	font-family: inder, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 161px;
	left: 335px;
	border-width: 0px 0px 2px;
}

#pu589-15
{
	width: 0.01px;
	margin-left: -25px;
	margin-top: -1px;
}

#u589-15
{
	z-index: 23;
	width: 555px;
	min-height: 210px;
	border-style: solid;
	border-color: #CCCCCC;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	border-width: 0px 0px 1px;
	background: transparent url("../images/rav%204.jpg") no-repeat left top;
	background-size: contain;
}

#u593-24
{
	z-index: 60;
	width: 415px;
	min-height: 246px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 591px;
	border-width: 0px 0px 1px;
}

#u593
{
	text-align: center;
	color: #7F7F7F;
	font-family: actor, sans-serif;
	font-weight: 400;
}

#u593-3,#u593-8,#u593-13,#u593-18
{
	color: #F7931E;
}

#u593-5,#u593-6,#u593-10,#u593-11,#u593-15,#u593-16,#u593-20,#u593-21
{
	text-align: justify;
	color: #7F7F7F;
	font-family: actor, sans-serif;
	font-weight: 400;
}

#u596-4
{
	z-index: 103;
	width: 182px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 2px 1px #E5E5E5;
	box-shadow: 0px 0px 2px rgba(204,204,204,0.5),0px 0px 2px rgba(204,204,204,0.5);
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 10px;
	color: #7F7F7F;
	line-height: 29px;
	text-align: center;
	font-family: inder, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 335px;
	border-width: 0px 0px 2px;
}

#pppu590-16
{
	width: 0.01px;
	margin-left: -25px;
	margin-top: 14px;
}

#ppu590-16
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 9px;
}

#pu590-16
{
	width: 0.01px;
}

#u590-16
{
	z-index: 38;
	width: 555px;
	min-height: 202px;
	border-style: solid;
	border-color: #CCCCCC;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
	background: transparent url("../images/screen_shot_2014-02-14_at_125051_am.jpg") no-repeat left top;
	background-size: contain;
}

#u590-3
{
	font-size: 20px;
	line-height: 24px;
	color: #EABF3C;
	font-family: poiret-one, sans-serif;
	font-weight: 400;
}

#u590-2
{
	font-family: cuprum, sans-serif;
	font-weight: 400;
}

#u597-4
{
	z-index: 107;
	width: 182px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 2px 1px #E5E5E5;
	box-shadow: 0px 0px 2px rgba(204,204,204,0.5),0px 0px 2px rgba(204,204,204,0.5);
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 10px;
	color: #7F7F7F;
	line-height: 29px;
	text-align: center;
	font-family: inder, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 154px;
	left: 335px;
	border-width: 0px 0px 2px;
}

#pu594-15
{
	width: 0.01px;
	margin-top: 23px;
}

#u594-15
{
	z-index: 84;
	width: 567px;
	min-height: 202px;
	border-style: solid;
	border-color: #CCCCCC;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
	background: transparent url("../images/img579590.jpg") no-repeat left top;
}

#u589-2,#u594-2
{
	font-size: 20px;
	line-height: 24px;
	color: #EABF3C;
	font-family: cuprum, sans-serif;
	font-weight: 400;
}

#u588-4,#u588-7,#u588-11,#u589-3,#u589-6,#u590-4,#u590-7,#u594-3,#u594-6
{
	color: #000000;
}

#u588-6,#u589-5,#u590-6,#u594-5
{
	font-family: actor, sans-serif;
	font-weight: 400;
}

#u588-8,#u588-10,#u588-13,#u589-7,#u589-9,#u589-10,#u589-12,#u590-8,#u590-10,#u590-11,#u590-13,#u594-7,#u594-9,#u594-10,#u594-12
{
	color: #000000;
	font-family: actor, sans-serif;
	font-weight: 400;
}

#u598-4
{
	z-index: 111;
	width: 182px;
	min-height: 26px;
	-pie-box-shadow: 0px 0px 2px 1px #E5E5E5;
	box-shadow: 0px 0px 2px rgba(204,204,204,0.5),0px 0px 2px rgba(204,204,204,0.5);
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 10px;
	color: #7F7F7F;
	line-height: 29px;
	text-align: center;
	font-family: inder, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 163px;
	left: 367px;
	border-width: 0px 0px 2px;
}

#u632-40
{
	z-index: 115;
	width: 411px;
	min-height: 438px;
	border-color: #000000;
	background-color: #EBE6E6;
	position: relative;
	margin-right: -10000px;
	left: 595px;
}

#u632-2
{
	font-size: 23px;
	text-align: center;
	line-height: 34px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
}

#u593-22,#u632-3
{
	text-align: justify;
}

#u632-7,#u632-11,#u632-15,#u632-19,#u632-23,#u632-26,#u632-30,#u632-34,#u632-38
{
	text-align: justify;
	line-height: 40px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
}

#u632-5,#u632-9,#u632-13,#u632-17,#u632-21,#u632-24,#u632-28,#u632-32,#u632-36
{
	text-decoration: underline;
}

#u796
{
	z-index: 155;
	min-height: 73px;
	padding-bottom: 23px;
}

#u796_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2851-7
{
	z-index: 156;
	width: 722px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 270px;
}

#u796-bw
{
	z-index: 155;
	min-height: 73px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 94px;
}

#page .verticalspacer
{
	clear: both;
}

