.custom-form input, button, select, textarea {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        border: 1px solid black;
        width: 330px;
        margin-right: -100px;
}
.error{
        color: red;
}