.version.excursion /* version checker */
{
	color: #0000E9;
	background-color: #FCC7DB;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 437.9000000000001px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -96px;
	padding-top: 106px;
	width: 0.01px;
}

#u205
{
	z-index: 424;
	height: 107px;
	top: 0px;
}

#u205-bw
{
	z-index: 424;
}

#u193
{
	z-index: 462;
	width: 139px;
	height: 105px;
	top: 2px;
	left: 50%;
	margin-left: -529px;
}

#u200-4
{
	z-index: 463;
	width: 323px;
	min-height: 72px;
	top: 23px;
	left: 50%;
	margin-left: -410px;
}

#menuu112
{
	z-index: 425;
	width: 541px;
	top: 48px;
	left: 50%;
	margin-left: -30px;
}

#u120
{
	width: 82px;
	min-height: 26px;
	margin-right: -10000px;
}

#u123
{
	width: 82px;
	padding-bottom: 6px;
}

#u123:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u123.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u124-4
{
	width: 70px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u123:hover #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u123.MuseMenuActive #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u113
{
	width: 84px;
	min-height: 26px;
	margin-right: -10000px;
	left: 84px;
}

#u114
{
	width: 84px;
	padding-bottom: 6px;
}

#u114:hover
{
	width: 84px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u114.MuseMenuActive
{
	width: 84px;
	min-height: 0px;
	margin: 0px;
}

#u115-4
{
	width: 72px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u114:hover #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u114.MuseMenuActive #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u808
{
	width: 87px;
	min-height: 26px;
	margin-right: -10000px;
	left: 170px;
}

#u809
{
	width: 87px;
	padding-bottom: 6px;
}

#u809:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u809.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u811-4
{
	width: 75px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u809:hover #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u809.MuseMenuActive #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u128
{
	width: 101px;
	min-height: 26px;
	margin-right: -10000px;
	left: 259px;
}

#u129
{
	width: 101px;
	padding-bottom: 6px;
}

#u129:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u130-4
{
	width: 89px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u129:hover #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u129.MuseMenuActive #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u142
{
	width: 101px;
	min-height: 26px;
	margin-right: -10000px;
	left: 362px;
}

#u145
{
	width: 101px;
	padding-bottom: 6px;
}

#u145:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u129.MuseMenuActive,#u145.MuseMenuActive
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u146-4
{
	width: 90px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 5px;
}

#u145:hover #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u145.MuseMenuActive #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u149
{
	width: 76px;
	min-height: 26px;
	margin-right: -10000px;
	left: 465px;
}

#u152
{
	width: 76px;
	padding-bottom: 6px;
}

#u152:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u152.MuseMenuActive
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u154-4
{
	width: 65px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 5px;
}

#u152:hover #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u152.MuseMenuActive #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u446
{
	z-index: 11;
	min-height: 59px;
	border-color: #000000;
	background-color: #FCEE21;
	padding-bottom: 10px;
}

#u450-4
{
	z-index: 21;
	width: 243px;
	min-height: 40px;
	border-color: #000000;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 89px;
}

#u446-bw
{
	z-index: 11;
	min-height: 59px;
}

#pu213
{
	width: 0.01px;
	margin-left: -100px;
}

#u213
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 606px;
}

#u447
{
	z-index: 12;
	min-height: 33px;
	border-color: #E4E4E4;
	background-color: #E4E4E4;
	padding-bottom: 11px;
}

#u446_align_to_page,#u447_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u448-4
{
	z-index: 13;
	width: 71px;
	min-height: 14px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 89px;
}

#u448-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 71px;
	margin: 14px -10000px 0px 0px;
}

#u449-4
{
	z-index: 17;
	width: 96px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 184px;
}

#u451-4
{
	z-index: 25;
	width: 96px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 300px;
}

#u452-4
{
	z-index: 29;
	width: 96px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 430px;
}

#u449-4:hover,#u451-4.MuseLinkActive,#u452-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 96px;
	margin: 14px -10000px 0px 0px;
}

#u453-4
{
	z-index: 33;
	width: 152px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 560px;
}

#u453-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 152px;
	margin: 14px -10000px 0px 0px;
}

#u448-4:hover p,#u449-4:hover p,#u451-4.MuseLinkActive p,#u452-4:hover p,#u453-4:hover p
{
	color: #EABF3C;
	visibility: inherit;
}

#u447-bw
{
	z-index: 12;
	min-height: 33px;
}

#u678-4
{
	z-index: 37;
	width: 178px;
	min-height: 44px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #EABF3C;
	line-height: 36px;
	font-size: 30px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	left: -5px;
	margin-top: 15px;
	position: relative;
}

#u679-7
{
	z-index: 41;
	width: 845px;
	min-height: 69px;
	border-color: #000000;
	background-color: #FFFFFF;
	left: -4px;
	margin-top: 24px;
	position: relative;
}

#u679-2,#u679-4
{
	font-size: 18px;
	line-height: 22px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
}

#u668-4
{
	z-index: 48;
	width: 382px;
	min-height: 44px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #EABF3C;
	line-height: 31px;
	font-size: 26px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	left: -4px;
	margin-top: 37px;
	position: relative;
}

#u664
{
	z-index: 52;
	width: 255px;
	height: 218px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/cape_coast_castle_courtyard_02_sept_2012.jpg") no-repeat center center;
	background-size: cover;
}

#u669-22
{
	z-index: 53;
	width: 198px;
	min-height: 218px;
	border-color: #000000;
	background-color: #FFFFFF;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 266px;
}

#u670-20
{
	z-index: 75;
	width: 240px;
	min-height: 218px;
	border-color: #000000;
	background-color: #FFFFFF;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 475px;
}

#u671-17
{
	z-index: 95;
	width: 254px;
	min-height: 237px;
	border-color: #000000;
	background-color: #FFFFFF;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 726px;
}

#u697-4
{
	z-index: 225;
	width: 100px;
	min-height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #E4E4E4;
	background-color: #FFFFFF;
	border-radius: 4px;
	line-height: 36px;
	text-align: center;
	font-family: quantico, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 212px;
	left: 873px;
}

#u697-4:hover
{
	background-color: #EABF3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 100px;
	margin: 212px -10000px 0px 0px;
}

#u680-4
{
	z-index: 112;
	width: 382px;
	min-height: 44px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #EABF3C;
	line-height: 31px;
	font-size: 26px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	left: -4px;
	margin-top: 21px;
	position: relative;
}

#pu664,#pu681
{
	width: 0.01px;
	margin-left: -4px;
	margin-top: 13px;
}

#u681
{
	z-index: 116;
	width: 255px;
	height: 159px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/manhyia-u681-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u682-20
{
	z-index: 117;
	width: 198px;
	min-height: 218px;
	border-color: #000000;
	background-color: #FFFFFF;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 266px;
}

#u683-18
{
	z-index: 137;
	width: 240px;
	min-height: 218px;
	border-color: #000000;
	background-color: #FFFFFF;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 475px;
}

#u684-15
{
	z-index: 155;
	width: 254px;
	min-height: 201px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 726px;
}

#u699-4
{
	z-index: 229;
	width: 100px;
	min-height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #E4E4E4;
	background-color: #FFFFFF;
	border-radius: 4px;
	line-height: 36px;
	text-align: center;
	font-family: quantico, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 176px;
	left: 873px;
}

#u699-4:hover
{
	background-color: #EABF3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 100px;
	margin: 176px -10000px 0px 0px;
}

#u685-4
{
	z-index: 170;
	width: 382px;
	min-height: 44px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #EABF3C;
	line-height: 31px;
	font-size: 26px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	left: -10px;
	margin-top: 16px;
	position: relative;
}

#u686
{
	z-index: 174;
	width: 255px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/kakum-u686-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u687-20
{
	z-index: 175;
	width: 198px;
	min-height: 218px;
	border-color: #000000;
	background-color: #FFFFFF;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 266px;
}

#u688-16
{
	z-index: 195;
	width: 240px;
	min-height: 218px;
	border-color: #000000;
	background-color: #FFFFFF;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 475px;
}

#u689-14
{
	z-index: 211;
	width: 254px;
	min-height: 201px;
	border-color: #000000;
	background-color: #FFFFFF;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 726px;
}

#u700-4
{
	z-index: 233;
	width: 100px;
	min-height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #E4E4E4;
	background-color: #FFFFFF;
	border-radius: 4px;
	line-height: 36px;
	text-align: center;
	font-family: quantico, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 181px;
	left: 879px;
}

#u700-4:hover
{
	background-color: #EABF3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 100px;
	margin: 181px -10000px 0px 0px;
}

#u701-4
{
	z-index: 237;
	width: 382px;
	min-height: 44px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #EABF3C;
	line-height: 31px;
	font-size: 26px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	left: -10px;
	margin-top: 45px;
	position: relative;
}

#u702
{
	z-index: 241;
	width: 255px;
	height: 175px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/nzulezu-u702-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u703-20
{
	z-index: 242;
	width: 198px;
	min-height: 218px;
	border-color: #000000;
	background-color: #FFFFFF;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 266px;
}

#u704-16
{
	z-index: 262;
	width: 240px;
	min-height: 218px;
	border-color: #000000;
	background-color: #FFFFFF;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 475px;
}

#u705-14
{
	z-index: 278;
	width: 254px;
	min-height: 201px;
	border-color: #000000;
	background-color: #FFFFFF;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 726px;
}

#u735-4
{
	z-index: 359;
	width: 100px;
	min-height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #E4E4E4;
	background-color: #FFFFFF;
	border-radius: 4px;
	line-height: 36px;
	text-align: center;
	font-family: quantico, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 175px;
	left: 869px;
}

#u735-4:hover
{
	background-color: #EABF3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 100px;
	margin: 175px -10000px 0px 0px;
}

#u724-4
{
	z-index: 292;
	width: 382px;
	min-height: 44px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #EABF3C;
	line-height: 31px;
	font-size: 26px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	left: -10px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pu725
{
	width: 0.01px;
	margin-left: -10px;
	margin-top: 14px;
}

#u725
{
	z-index: 296;
	width: 255px;
	height: 230px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/mt59.jpg") no-repeat center center;
	background-size: cover;
}

#u726-24
{
	z-index: 297;
	width: 198px;
	min-height: 218px;
	border-color: #000000;
	background-color: #FFFFFF;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 266px;
}

#u727-20
{
	z-index: 321;
	width: 240px;
	min-height: 218px;
	border-color: #000000;
	background-color: #FFFFFF;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 475px;
}

#u728-18
{
	z-index: 341;
	width: 254px;
	min-height: 254px;
	border-color: #000000;
	background-color: #FFFFFF;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 726px;
}

#u736-4
{
	z-index: 363;
	width: 100px;
	min-height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #E4E4E4;
	background-color: #FFFFFF;
	border-radius: 4px;
	line-height: 36px;
	text-align: center;
	font-family: quantico, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 225px;
	left: 869px;
}

#u736-4:hover
{
	background-color: #EABF3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 100px;
	margin: 225px -10000px 0px 0px;
}

#u737-4
{
	z-index: 367;
	width: 382px;
	min-height: 44px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #EABF3C;
	line-height: 31px;
	font-size: 26px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	left: -10px;
	margin-top: 15px;
	position: relative;
}

#pu686,#pu702,#pu738
{
	width: 0.01px;
	margin-left: -10px;
	margin-top: 13px;
}

#u738
{
	z-index: 371;
	width: 255px;
	height: 168px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/wli.jpg") no-repeat center center;
	background-size: cover;
}

#u739-20
{
	z-index: 372;
	width: 198px;
	min-height: 178px;
	border-color: #000000;
	background-color: #FFFFFF;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 266px;
}

#u669-7,#u669-9,#u669-11,#u669-13,#u669-15,#u669-17,#u669-19,#u682-7,#u682-9,#u682-11,#u682-13,#u682-15,#u682-17,#u687-7,#u687-9,#u687-11,#u687-13,#u687-15,#u687-17,#u703-7,#u703-9,#u703-11,#u703-13,#u703-15,#u703-17,#u726-7,#u726-9,#u726-11,#u726-13,#u726-15,#u726-17,#u726-19,#u726-21,#u739-7,#u739-9,#u739-11,#u739-13,#u739-15,#u739-17
{
	line-height: 18px;
}

#u740-16
{
	z-index: 392;
	width: 240px;
	min-height: 185px;
	border-color: #000000;
	background-color: #FFFFFF;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 475px;
}

#u669-4,#u670,#u682-4,#u683,#u687-4,#u688,#u703-4,#u704,#u726-4,#u727,#u739-4,#u740
{
	text-decoration: underline;
}

#u669-5,#u670-2,#u670-3,#u682-5,#u683-2,#u683-3,#u687-5,#u688-2,#u688-3,#u703-5,#u704-2,#u704-3,#u726-5,#u727-2,#u727-3,#u739-5,#u740-2,#u740-3
{
	font-size: 17px;
	line-height: 20px;
}

#u741-12
{
	z-index: 408;
	width: 254px;
	min-height: 181px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 726px;
}

#u684,#u684-3,#u684-5,#u684-7,#u684-9,#u684-11,#u684-13,#u728-14,#u741,#u741-3,#u741-5,#u741-8,#u741-9
{
	font-family: cuprum, sans-serif;
	font-weight: 400;
}

#u742-4
{
	z-index: 420;
	width: 100px;
	min-height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #E4E4E4;
	background-color: #FFFFFF;
	border-radius: 4px;
	line-height: 36px;
	text-align: center;
	font-family: quantico, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 142px;
	left: 869px;
}

#u742-4:hover
{
	background-color: #EABF3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 100px;
	margin: 142px -10000px 0px 0px;
}

#u796
{
	z-index: 3;
	min-height: 73px;
	padding-bottom: 23px;
}

#u796_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2851-7
{
	z-index: 4;
	width: 722px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 270px;
}

#u796-bw
{
	z-index: 3;
	min-height: 73px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 94px;
}

#page .verticalspacer
{
	clear: both;
}

