.version.flight_reservation /* version checker */
{
	color: #0000FC;
	background-color: #85B0A3;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -96px;
	padding-top: 106px;
	width: 0.01px;
}

#u205
{
	z-index: 102;
	height: 107px;
	top: 0px;
}

#u205-bw
{
	z-index: 102;
}

#u193
{
	z-index: 140;
	width: 139px;
	height: 105px;
	top: 2px;
	left: 50%;
	margin-left: -529px;
}

#u200-4
{
	z-index: 141;
	width: 323px;
	min-height: 72px;
	top: 23px;
	left: 50%;
	margin-left: -410px;
}

#menuu112
{
	z-index: 103;
	width: 541px;
	top: 48px;
	left: 50%;
	margin-left: -30px;
}

#u120
{
	width: 82px;
	min-height: 26px;
	margin-right: -10000px;
}

#u123
{
	width: 82px;
	padding-bottom: 6px;
}

#u123:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u123.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u124-4
{
	width: 70px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u123:hover #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u123.MuseMenuActive #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u113
{
	width: 84px;
	min-height: 26px;
	margin-right: -10000px;
	left: 84px;
}

#u114
{
	width: 84px;
	padding-bottom: 6px;
}

#u114:hover
{
	width: 84px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u114.MuseMenuActive
{
	width: 84px;
	min-height: 0px;
	margin: 0px;
}

#u115-4
{
	width: 72px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u114:hover #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u114.MuseMenuActive #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u808
{
	width: 87px;
	min-height: 26px;
	margin-right: -10000px;
	left: 170px;
}

#u809
{
	width: 87px;
	padding-bottom: 6px;
}

#u809:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u809.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u811-4
{
	width: 75px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u809:hover #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u809.MuseMenuActive #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u128
{
	width: 101px;
	min-height: 26px;
	margin-right: -10000px;
	left: 259px;
}

#u129
{
	width: 101px;
	padding-bottom: 6px;
}

#u129:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u130-4
{
	width: 89px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u129:hover #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u129.MuseMenuActive #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u142
{
	width: 101px;
	min-height: 26px;
	margin-right: -10000px;
	left: 362px;
}

#u145
{
	width: 101px;
	padding-bottom: 6px;
}

#u145:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u129.MuseMenuActive,#u145.MuseMenuActive
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u146-4
{
	width: 90px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 5px;
}

#u145:hover #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u145.MuseMenuActive #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u149
{
	width: 76px;
	min-height: 26px;
	margin-right: -10000px;
	left: 465px;
}

#u152
{
	width: 76px;
	padding-bottom: 6px;
}

#u152:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u152.MuseMenuActive
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u154-4
{
	width: 65px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 5px;
}

#u152:hover #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u152.MuseMenuActive #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u462
{
	z-index: 76;
	min-height: 59px;
	border-color: #000000;
	background-color: #FCEE21;
	padding-bottom: 10px;
}

#u466-4
{
	z-index: 86;
	width: 243px;
	min-height: 40px;
	border-color: #000000;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 89px;
}

#u462-bw
{
	z-index: 76;
	min-height: 59px;
}

#pu213
{
	width: 0.01px;
	margin-left: -100px;
}

#u213
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 606px;
}

#u463
{
	z-index: 77;
	min-height: 33px;
	border-color: #E4E4E4;
	background-color: #E4E4E4;
	padding-bottom: 11px;
}

#u462_align_to_page,#u463_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u464-4
{
	z-index: 78;
	width: 71px;
	min-height: 14px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 89px;
}

#u464-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 71px;
	margin: 14px -10000px 0px 0px;
}

#u465-4
{
	z-index: 82;
	width: 96px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 184px;
}

#u467-4
{
	z-index: 90;
	width: 96px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 300px;
}

#u468-4
{
	z-index: 94;
	width: 96px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 430px;
}

#u465-4:hover,#u467-4:hover,#u468-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 96px;
	margin: 14px -10000px 0px 0px;
}

#u469-4
{
	z-index: 98;
	width: 152px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 560px;
}

#u469-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 152px;
	margin: 14px -10000px 0px 0px;
}

#u464-4:hover p,#u465-4:hover p,#u467-4:hover p,#u468-4:hover p,#u469-4.MuseLinkActive p
{
	color: #EABF3C;
	visibility: inherit;
}

#u463-bw
{
	z-index: 77;
	min-height: 33px;
}

#u634-4
{
	z-index: 3;
	width: 191px;
	min-height: 36px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #EABF3C;
	line-height: 36px;
	font-size: 30px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	left: -11px;
	margin-top: 15px;
	position: relative;
}

#u636-7
{
	z-index: 7;
	width: 993px;
	min-height: 129px;
	border-style: solid;
	border-color: #EBE6E6;
	background-color: #FFFFFF;
	color: #000000;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	left: -11px;
	margin-top: 36px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u636-2,#u636-3
{
	text-align: left;
	line-height: 18px;
}

#u636-5
{
	line-height: 19px;
}

#pu648-4
{
	width: 0.01px;
	margin-left: -11px;
	margin-top: 60px;
}

#u648-4
{
	z-index: 14;
	width: 191px;
	min-height: 33px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #EABF3C;
	line-height: 23px;
	font-size: 19px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u649-4
{
	z-index: 37;
	width: 191px;
	min-height: 33px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #EABF3C;
	line-height: 23px;
	font-size: 19px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 474px;
}

#pu640
{
	width: 0.01px;
	margin-left: -11px;
	margin-top: 4px;
}

#u640
{
	z-index: 18;
	width: 243px;
	height: 126px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/flight.jpg") no-repeat center center;
	background-size: cover;
}

#u643-4
{
	z-index: 19;
	width: 154px;
	min-height: 125px;
	border-color: #000000;
	background-color: #FFFFFF;
	text-align: justify;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 278px;
}

#u647-14
{
	z-index: 23;
	width: 518px;
	min-height: 125px;
	border-style: solid;
	border-color: #EBE6E6;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 475px;
	border-width: 1px 0px 0px;
}

#pu650-4
{
	width: 0.01px;
	margin-left: -11px;
	margin-top: 50px;
}

#u650-4
{
	z-index: 41;
	width: 191px;
	min-height: 33px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #EABF3C;
	line-height: 23px;
	font-size: 19px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u654-4
{
	z-index: 64;
	width: 191px;
	min-height: 33px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #EABF3C;
	line-height: 23px;
	font-size: 19px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 474px;
}

#pu651
{
	width: 0.01px;
	margin-left: -11px;
	margin-top: -1px;
}

#u651
{
	z-index: 45;
	width: 243px;
	height: 126px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	background: #FFFFFF url("../images/uo9mk.jpg") no-repeat center center;
	background-size: cover;
}

#u652-4
{
	z-index: 46;
	width: 181px;
	min-height: 125px;
	border-color: #000000;
	background-color: #FFFFFF;
	text-align: justify;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 265px;
}

#u653-14
{
	z-index: 50;
	width: 518px;
	min-height: 125px;
	border-style: solid;
	border-color: #EBE6E6;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 475px;
	border-width: 1px 0px 0px;
}

#u647-2,#u653-2
{
	font-size: 15px;
	line-height: 18px;
	color: #EABF3C;
	font-family: cuprum, sans-serif;
	font-weight: 400;
}

#u647-3,#u647-5,#u647-7,#u647-9,#u647-11,#u653-3,#u653-5,#u653-7,#u653-9,#u653-11
{
	font-family: cuprum, sans-serif;
	font-weight: 400;
}

#u796
{
	z-index: 68;
	min-height: 73px;
	padding-bottom: 23px;
}

#u796_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2851-7
{
	z-index: 69;
	width: 722px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 270px;
}

#u796-bw
{
	z-index: 68;
	min-height: 73px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 94px;
}

#page .verticalspacer
{
	clear: both;
}

