.version.ghana /* version checker */
{
	color: #0000EF;
	background-color: #89A4D5;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -96px;
	padding-top: 106px;
	width: 0.01px;
}

#u205
{
	z-index: 180;
	height: 107px;
	top: 0px;
}

#u205-bw
{
	z-index: 180;
}

#u193
{
	z-index: 218;
	width: 139px;
	height: 105px;
	top: 2px;
	left: 50%;
	margin-left: -529px;
}

#u200-4
{
	z-index: 219;
	width: 323px;
	min-height: 72px;
	top: 23px;
	left: 50%;
	margin-left: -410px;
}

#menuu112
{
	z-index: 181;
	width: 541px;
	top: 48px;
	left: 50%;
	margin-left: -30px;
}

#u120
{
	width: 82px;
	min-height: 26px;
	margin-right: -10000px;
}

#u123
{
	width: 82px;
	padding-bottom: 6px;
}

#u123:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u123.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u124-4
{
	width: 70px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u123:hover #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u123.MuseMenuActive #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u113
{
	width: 84px;
	min-height: 26px;
	margin-right: -10000px;
	left: 84px;
}

#u114
{
	width: 84px;
	padding-bottom: 6px;
}

#u114:hover
{
	width: 84px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u114.MuseMenuActive
{
	width: 84px;
	min-height: 0px;
	margin: 0px;
}

#u115-4
{
	width: 72px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u114:hover #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u114.MuseMenuActive #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u808
{
	width: 87px;
	min-height: 26px;
	margin-right: -10000px;
	left: 170px;
}

#u809
{
	width: 87px;
	padding-bottom: 6px;
}

#u809:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u809.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u811-4
{
	width: 75px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u809:hover #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u809.MuseMenuActive #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u128
{
	width: 101px;
	min-height: 26px;
	margin-right: -10000px;
	left: 259px;
}

#u129
{
	width: 101px;
	padding-bottom: 6px;
}

#u129:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u130-4
{
	width: 89px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u129:hover #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u129.MuseMenuActive #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u142
{
	width: 101px;
	min-height: 26px;
	margin-right: -10000px;
	left: 362px;
}

#u145
{
	width: 101px;
	padding-bottom: 6px;
}

#u145:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u129.MuseMenuActive,#u145.MuseMenuActive
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u146-4
{
	width: 90px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 5px;
}

#u145:hover #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u145.MuseMenuActive #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u149
{
	width: 76px;
	min-height: 26px;
	margin-right: -10000px;
	left: 465px;
}

#u152
{
	width: 76px;
	padding-bottom: 6px;
}

#u152:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u152.MuseMenuActive
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u154-4
{
	width: 65px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 5px;
}

#u152:hover #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u152.MuseMenuActive #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u817
{
	z-index: 11;
	min-height: 59px;
	border-color: #000000;
	background-color: #FCEE21;
	padding-bottom: 10px;
}

#u821-4
{
	z-index: 21;
	width: 243px;
	min-height: 40px;
	border-color: #000000;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 89px;
}

#u817-bw
{
	z-index: 11;
	min-height: 59px;
}

#pu213
{
	width: 0.01px;
	margin-left: -100px;
}

#u213
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 606px;
}

#u818
{
	z-index: 12;
	min-height: 33px;
	border-color: #E4E4E4;
	background-color: #E4E4E4;
	padding-bottom: 11px;
}

#u817_align_to_page,#u818_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u819-4
{
	z-index: 13;
	width: 71px;
	min-height: 14px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 89px;
}

#u819-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 71px;
	margin: 14px -10000px 0px 0px;
}

#u819-4.MuseLinkActive p
{
	color: #2E3192;
	visibility: inherit;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u820-4
{
	z-index: 17;
	width: 90px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 184px;
}

#u822-4
{
	z-index: 25;
	width: 69px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 287px;
}

#u823-4
{
	z-index: 29;
	width: 66px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 370px;
}

#u823-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 66px;
	margin: 14px -10000px 0px 0px;
}

#u824-4
{
	z-index: 33;
	width: 69px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 460px;
}

#u825-4
{
	z-index: 37;
	width: 69px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 556px;
}

#u822-4:hover,#u824-4:hover,#u825-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 69px;
	margin: 14px -10000px 0px 0px;
}

#u826-4
{
	z-index: 41;
	width: 90px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 651px;
}

#u827-4
{
	z-index: 45;
	width: 54px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 758px;
}

#u827-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 54px;
	margin: 14px -10000px 0px 0px;
}

#u828-4
{
	z-index: 49;
	width: 90px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 850px;
}

#u820-4:hover,#u826-4:hover,#u828-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 14px -10000px 0px 0px;
}

#u820-4:hover p,#u822-4:hover p,#u823-4:hover p,#u824-4:hover p,#u825-4:hover p,#u826-4:hover p,#u827-4:hover p,#u828-4:hover p
{
	color: #2E3192;
	visibility: inherit;
}

#u818-bw
{
	z-index: 12;
	min-height: 33px;
}

#pu2347
{
	width: 0.01px;
	margin-left: -36px;
	margin-top: -4px;
}

#u2347
{
	z-index: 53;
	width: 347px;
	height: 497px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	background: #FFFFFF url("../images/ghana_flag_map.png") no-repeat left top;
	background-size: contain;
}

#u2357-16
{
	z-index: 54;
	width: 325px;
	min-height: 471px;
	border-color: #000000;
	background-color: #FFFFFF;
	text-align: justify;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 360px;
}

#u2357-2
{
	font-size: 30px;
	line-height: 36px;
	color: #EABF3C;
}

#u2358-48
{
	z-index: 70;
	width: 309px;
	min-height: 471px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 713px;
}

#u2358-2
{
	font-size: 30px;
	line-height: 36px;
	color: #EABF3C;
	font-family: cuprum, sans-serif;
	font-weight: 400;
}

#u2358-4
{
	color: #000000;
}

#u2358-5
{
	color: #7F7F7F;
}

#u2360-14
{
	z-index: 118;
	width: 999px;
	min-height: 128px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	left: -13px;
	margin-top: 54px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u2360-4
{
	font-size: 28px;
	line-height: 34px;
	color: #000000;
	font-family: cuprum, sans-serif;
	font-weight: 400;
}

#u2360-6,#u2360-8,#u2360-9,#u2360-11
{
	color: #000000;
	font-family: cuprum, sans-serif;
	font-weight: 400;
}

#u2362-48
{
	z-index: 132;
	width: 999px;
	min-height: 105px;
	border-color: #000000;
	background-color: #FFFFFF;
	left: -13px;
	margin-top: 24px;
	position: relative;
}

#u2360,#u2360-3,#u2362-2
{
	font-size: 28px;
	line-height: 34px;
	color: #EABF3C;
	font-family: cuprum, sans-serif;
	font-weight: 400;
}

#u2362-3
{
	font-size: 28px;
	line-height: 34px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
}

#u2358-3,#u2358-7,#u2358-9,#u2358-11,#u2358-13,#u2358-15,#u2358-17,#u2358-19,#u2358-21,#u2358-23,#u2358-25,#u2358-27,#u2358-29,#u2358-31,#u2358-33,#u2358-35,#u2358-37,#u2358-39,#u2358-41,#u2358-43,#u2358-45,#u2362-5,#u2362-7,#u2362-9,#u2362-11,#u2362-13,#u2362-15,#u2362-17,#u2362-19,#u2362-21,#u2362-23,#u2362-25,#u2362-27,#u2362-29,#u2362-31,#u2362-33,#u2362-35,#u2362-37,#u2362-39,#u2362-41,#u2362-43,#u2362-45
{
	font-family: cuprum, sans-serif;
	font-weight: 400;
}

#u796
{
	z-index: 3;
	min-height: 73px;
	padding-bottom: 23px;
}

#u796_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2851-7
{
	z-index: 4;
	width: 722px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 270px;
}

#u796-bw
{
	z-index: 3;
	min-height: 73px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 94px;
}

#page .verticalspacer
{
	clear: both;
}

