.version.greater_accra /* version checker */
{
	color: #0000EE;
	background-color: #8555F3;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -96px;
	padding-top: 106px;
	width: 0.01px;
}

#u205
{
	z-index: 128;
	height: 107px;
	top: 0px;
}

#u205-bw
{
	z-index: 128;
}

#u193
{
	z-index: 166;
	width: 139px;
	height: 105px;
	top: 2px;
	left: 50%;
	margin-left: -529px;
}

#u200-4
{
	z-index: 167;
	width: 323px;
	min-height: 72px;
	top: 23px;
	left: 50%;
	margin-left: -410px;
}

#menuu112
{
	z-index: 129;
	width: 541px;
	top: 48px;
	left: 50%;
	margin-left: -30px;
}

#u120
{
	width: 82px;
	min-height: 26px;
	margin-right: -10000px;
}

#u123
{
	width: 82px;
	padding-bottom: 6px;
}

#u123:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u123.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u124-4
{
	width: 70px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u123:hover #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u123.MuseMenuActive #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u113
{
	width: 84px;
	min-height: 26px;
	margin-right: -10000px;
	left: 84px;
}

#u114
{
	width: 84px;
	padding-bottom: 6px;
}

#u114:hover
{
	width: 84px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u114.MuseMenuActive
{
	width: 84px;
	min-height: 0px;
	margin: 0px;
}

#u115-4
{
	width: 72px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u114:hover #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u114.MuseMenuActive #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u808
{
	width: 87px;
	min-height: 26px;
	margin-right: -10000px;
	left: 170px;
}

#u809
{
	width: 87px;
	padding-bottom: 6px;
}

#u809:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u809.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u811-4
{
	width: 75px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u809:hover #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u809.MuseMenuActive #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u128
{
	width: 101px;
	min-height: 26px;
	margin-right: -10000px;
	left: 259px;
}

#u129
{
	width: 101px;
	padding-bottom: 6px;
}

#u129:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u130-4
{
	width: 89px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u129:hover #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u129.MuseMenuActive #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u142
{
	width: 101px;
	min-height: 26px;
	margin-right: -10000px;
	left: 362px;
}

#u145
{
	width: 101px;
	padding-bottom: 6px;
}

#u145:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u129.MuseMenuActive,#u145.MuseMenuActive
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u146-4
{
	width: 90px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 5px;
}

#u145:hover #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u145.MuseMenuActive #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u149
{
	width: 76px;
	min-height: 26px;
	margin-right: -10000px;
	left: 465px;
}

#u152
{
	width: 76px;
	padding-bottom: 6px;
}

#u152:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u152.MuseMenuActive
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u154-4
{
	width: 65px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 5px;
}

#u152:hover #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u152.MuseMenuActive #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u909
{
	z-index: 11;
	min-height: 59px;
	border-color: #000000;
	background-color: #FCEE21;
	padding-bottom: 10px;
}

#u913-4
{
	z-index: 21;
	width: 243px;
	min-height: 40px;
	border-color: #000000;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 89px;
}

#u909-bw
{
	z-index: 11;
	min-height: 59px;
}

#pu213
{
	width: 0.01px;
	margin-left: -100px;
}

#u213
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 606px;
}

#u910
{
	z-index: 12;
	min-height: 33px;
	border-color: #E4E4E4;
	background-color: #E4E4E4;
	padding-bottom: 11px;
}

#u909_align_to_page,#u910_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u911-4
{
	z-index: 13;
	width: 71px;
	min-height: 14px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 89px;
}

#u911-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 71px;
	margin: 14px -10000px 0px 0px;
}

#u912-4
{
	z-index: 17;
	width: 90px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 184px;
}

#u914-4
{
	z-index: 25;
	width: 69px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 287px;
}

#u915-4
{
	z-index: 29;
	width: 66px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 370px;
}

#u915-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 66px;
	margin: 14px -10000px 0px 0px;
}

#u916-4
{
	z-index: 33;
	width: 69px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 460px;
}

#u917-4
{
	z-index: 37;
	width: 69px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 556px;
}

#u914-4:hover,#u916-4:hover,#u917-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 69px;
	margin: 14px -10000px 0px 0px;
}

#u918-4
{
	z-index: 41;
	width: 90px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 651px;
}

#u919-4
{
	z-index: 45;
	width: 54px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 758px;
}

#u919-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 54px;
	margin: 14px -10000px 0px 0px;
}

#u920-4
{
	z-index: 49;
	width: 90px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 850px;
}

#u912-4.MuseLinkActive,#u918-4:hover,#u920-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 14px -10000px 0px 0px;
}

#u911-4:hover p,#u912-4.MuseLinkActive p,#u914-4:hover p,#u915-4:hover p,#u916-4:hover p,#u917-4:hover p,#u918-4:hover p,#u919-4:hover p,#u920-4:hover p
{
	color: #2E3192;
	visibility: inherit;
}

#u910-bw
{
	z-index: 12;
	min-height: 33px;
}

#ppu1005
{
	width: 0.01px;
	margin-left: -6px;
	margin-top: -5px;
}

#pu1005
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -2px;
	margin-left: -2px;
}

#u1005
{
	z-index: 53;
	width: 312px;
	height: 223px;
	border-width: 4px;
	border-style: solid;
	border-color: #FFFFFF;
	position: relative;
	background: #FFFFFF url("../images/greater_accra%20_1.jpg") no-repeat center center;
}

#u1006-9
{
	z-index: 54;
	width: 304px;
	min-height: 191px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 2px;
	margin-top: 19px;
	position: relative;
}

#u1006-2
{
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	color: #EABF3C;
	font-family: cuprum, sans-serif;
	font-weight: 400;
}

#u1006-3
{
	text-align: left;
	font-family: cuprum, sans-serif;
	font-weight: 400;
}

#u1006-6
{
	text-align: left;
	color: #7F7F7F;
	font-family: cuprum, sans-serif;
	font-weight: 400;
}

#u1006-5
{
	color: #000000;
}

#u1029-11
{
	z-index: 63;
	width: 311px;
	min-height: 493px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #000000;
	text-align: left;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 336px;
}

#pu1030-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 670px;
}

#u1030-4
{
	z-index: 74;
	width: 311px;
	min-height: 105px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #000000;
	text-align: left;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	margin-left: 2px;
	position: relative;
}

#u1031
{
	z-index: 78;
	width: 301px;
	height: 355px;
	border-width: 4px;
	border-style: solid;
	border-color: #FFFFFF;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	background: #FFFFFF url("../images/ghana_greateraccra.png") no-repeat right center;
}

#slideshowu1354
{
	z-index: 79;
	width: 0.01px;
	height: 438px;
	left: -48px;
	margin-top: 75px;
	position: relative;
}

#u1363
{
	position: absolute;
	width: 524px;
	height: 399px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -53px;
	left: 249px;
	-pie-background: rgba(0,0,0,0.9);
}

#u1363popup
{
	z-index: 80;
}

#u1364
{
	z-index: 81;
	width: 480px;
	height: 337px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1403
{
	z-index: 83;
	width: 480px;
	height: 337px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1412
{
	z-index: 85;
	width: 480px;
	height: 337px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1429
{
	z-index: 87;
	width: 480px;
	height: 337px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1364_img,#u1403_img,#u1412_img,#u1429_img
{
	padding-top: 19px;
	padding-bottom: 18px;
}

#u1371
{
	position: absolute;
	width: 1056px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 227px;
}

#u1371popup
{
	z-index: 89;
}

#u1372
{
	z-index: 90;
	width: 227px;
	height: 199px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(127,127,127,0.5),0px 0px 3px rgba(127,127,127,0.5);
	border-width: 6px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 37px;
}

#u1406
{
	z-index: 92;
	width: 227px;
	height: 199px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(127,127,127,0.5),0px 0px 3px rgba(127,127,127,0.5);
	border-width: 6px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 286px;
}

#u1415
{
	z-index: 94;
	width: 227px;
	height: 199px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(127,127,127,0.5),0px 0px 3px rgba(127,127,127,0.5);
	border-width: 6px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 535px;
}

#u1372:hover,#u1406:hover,#u1415:hover
{
	border-width: 6px;
	border-style: solid;
	width: 227px;
	height: 199px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1432
{
	z-index: 96;
	width: 227px;
	height: 199px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(127,127,127,0.5),0px 0px 3px rgba(127,127,127,0.5);
	border-width: 6px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 782px;
}

#u1432:hover
{
	border-width: 6px;
	border-style: solid;
	width: 227px;
	height: 199px;
	min-height: 0px;
	margin: -2px -10000px 0px 0px;
}

#u1355
{
	position: absolute;
	width: 340px;
	background-color: transparent;
	top: 287px;
	left: 271px;
}

#u1355popup
{
	z-index: 98;
}

#u1357-4
{
	z-index: 99;
	width: 340px;
	min-height: 39px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 22px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u1409-4
{
	z-index: 103;
	width: 340px;
	min-height: 39px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 22px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u1418-4
{
	z-index: 107;
	width: 340px;
	min-height: 39px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 22px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u1435-4
{
	z-index: 111;
	width: 340px;
	min-height: 39px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 22px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u1378-4
{
	position: absolute;
	width: 30px;
	min-height: 20px;
	background-color: #EABF3C;
	color: #000000;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 296px;
	left: 698px;
}

#u1378-4popup
{
	z-index: 115;
}

#u1370-4
{
	position: absolute;
	width: 30px;
	min-height: 20px;
	background-color: #EABF3C;
	color: #000000;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 296px;
	left: 728px;
}

#u1378-4:hover,#u1370-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 30px;
	margin: 0px;
}

#u1370-4popup
{
	z-index: 119;
}

#u1378-4:hover p,#u1370-4:hover p
{
	color: #EABF3C;
	visibility: inherit;
}

#u1361
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #FF0000;
	padding-bottom: 5px;
	top: -49px;
	left: 722px;
}

#u1361:hover
{
	background-color: #FFFFFF;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u1361:active
{
	background-color: #6B6B6B;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u1362-4
{
	z-index: 124;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u1362-4:hover
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 20px;
	margin: 5px -10000px 0px 0px;
}

#u1362-4:hover p
{
	color: #FF0000;
	visibility: inherit;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u796
{
	z-index: 3;
	min-height: 73px;
	padding-bottom: 23px;
}

#u796_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2851-7
{
	z-index: 4;
	width: 722px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 270px;
}

#u796-bw
{
	z-index: 3;
	min-height: 73px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 94px;
}

#page .verticalspacer
{
	clear: both;
}

