.version.index /* version checker */
{
	color: #0000F0;
	background-color: #93288A;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -96px;
	padding-top: 107px;
	width: 0.01px;
}

#u205
{
	z-index: 124;
	height: 107px;
	top: 0px;
}

#u205-bw
{
	z-index: 124;
}

#u193
{
	z-index: 162;
	width: 139px;
	height: 105px;
	top: 2px;
	left: 50%;
	margin-left: -529px;
}

#u200-4
{
	z-index: 163;
	width: 323px;
	min-height: 72px;
	top: 23px;
	left: 50%;
	margin-left: -410px;
}

#menuu112
{
	z-index: 125;
	width: 541px;
	top: 48px;
	left: 50%;
	margin-left: -30px;
}

#u120
{
	width: 82px;
	min-height: 26px;
	margin-right: -10000px;
}

#u123
{
	width: 82px;
	padding-bottom: 6px;
}

#u123:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u123.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u124-4
{
	width: 70px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u123:hover #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u123.MuseMenuActive #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u113
{
	width: 84px;
	min-height: 26px;
	margin-right: -10000px;
	left: 84px;
}

#u114
{
	width: 84px;
	padding-bottom: 6px;
}

#u114:hover
{
	width: 84px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u114.MuseMenuActive
{
	width: 84px;
	min-height: 0px;
	margin: 0px;
}

#u115-4
{
	width: 72px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u114:hover #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u114.MuseMenuActive #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u808
{
	width: 87px;
	min-height: 26px;
	margin-right: -10000px;
	left: 170px;
}

#u809
{
	width: 87px;
	padding-bottom: 6px;
}

#u809:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u809.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u811-4
{
	width: 75px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u809:hover #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u809.MuseMenuActive #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u128
{
	width: 101px;
	min-height: 26px;
	margin-right: -10000px;
	left: 259px;
}

#u129
{
	width: 101px;
	padding-bottom: 6px;
}

#u129:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u130-4
{
	width: 89px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u129:hover #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u129.MuseMenuActive #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u142
{
	width: 101px;
	min-height: 26px;
	margin-right: -10000px;
	left: 362px;
}

#u145
{
	width: 101px;
	padding-bottom: 6px;
}

#u145:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u129.MuseMenuActive,#u145.MuseMenuActive
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u146-4
{
	width: 90px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 5px;
}

#u145:hover #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u145.MuseMenuActive #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u149
{
	width: 76px;
	min-height: 26px;
	margin-right: -10000px;
	left: 465px;
}

#u152
{
	width: 76px;
	padding-bottom: 6px;
}

#u152:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u152.MuseMenuActive
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u154-4
{
	width: 65px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 5px;
}

#u152:hover #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u152.MuseMenuActive #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#slideshowu215
{
	z-index: 3;
	width: 0.01px;
	height: 437px;
	left: -100px;
	position: relative;
}

#u219
{
	position: absolute;
	width: 1160px;
	height: 437px;
	background-color: transparent;
}

#u219popup
{
	z-index: 4;
}

#u220
{
	z-index: 5;
	width: 1160px;
	height: 437px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u222
{
	z-index: 7;
	width: 1160px;
	height: 437px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u224
{
	z-index: 9;
	width: 1160px;
	height: 437px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u237
{
	position: absolute;
	width: 504px;
	background-color: transparent;
	top: 268px;
	left: 50px;
}

#u237popup
{
	z-index: 11;
}

#u240-6
{
	z-index: 12;
	width: 484px;
	min-height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: #757575;
	background-color: rgba(0,0,0,0.54);
	padding: 10px;
	color: #FFFFFF;
	line-height: 55px;
	font-size: 39px;
	text-align: left;
	font-family: lilita-one, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0,0,0,0.54);
}

#u238-4
{
	z-index: 18;
	width: 484px;
	min-height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: #757575;
	background-color: rgba(0,0,0,0.54);
	padding: 10px;
	color: #FFFFFF;
	line-height: 55px;
	font-size: 39px;
	text-align: left;
	font-family: lilita-one, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0,0,0,0.54);
}

#u239-4
{
	z-index: 22;
	width: 484px;
	min-height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: #757575;
	background-color: rgba(0,0,0,0.54);
	padding: 10px;
	color: #FFFFFF;
	line-height: 55px;
	font-size: 39px;
	text-align: left;
	font-family: lilita-one, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0,0,0,0.54);
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u213
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	margin-left: 506px;
	top: -342px;
	margin-bottom: -50px;
}

#pu265
{
	width: 0.01px;
	margin-left: -30px;
	margin-top: 36px;
}

#u265
{
	z-index: 33;
	width: 292px;
	height: 217px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(127,127,127,0.5),0px 0px 3px rgba(127,127,127,0.5);
	border-width: 6px;
	border-style: solid;
	border-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: -3px;
	background: transparent url("../images/kwame_nkrumah_tomb_accra_ghana-u265-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u265:hover
{
	width: 292px;
	height: 217px;
	min-height: 0px;
	margin: 3px -10000px 0px 0px;
	background: #AFAFAF url("../images/kwame_nkrumah_tomb_accra_ghana-u265-r-fr.png") no-repeat left top;
	background-color: rgba(0,0,0,0.31);
	background-size: contain;
}

#u259-7
{
	z-index: 26;
	width: 300px;
	min-height: 234px;
	border-color: #000000;
	background-color: #FFFFFF;
	text-align: justify;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 334px;
}

#u259-3
{
	font-size: 16px;
	line-height: 19px;
	color: #2E3192;
	font-family: cuprum, sans-serif;
}

#u290-27
{
	z-index: 42;
	width: 348px;
	min-height: 236px;
	background-color: transparent;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 685px;
}

#u259-2,#u290-2
{
	font-size: 29px;
	line-height: 35px;
	color: #EABF3C;
	font-family: artifika, serif;
}

#u290-3,#u290-6,#u290-11,#u290-17,#u290-20,#u290-23
{
	font-family: cuprum, sans-serif;
}

#u290-5,#u290-16,#u290-22
{
	color: #000000;
}

#u259-5,#u290-8,#u290-10,#u290-19,#u290-25
{
	font-size: 14px;
	color: #000000;
	font-family: cuprum, sans-serif;
}

#u291
{
	z-index: 69;
	width: 27px;
	height: 34px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 685px;
	background: #FFFFFF url("../images/arrow.jpg") no-repeat center center;
}

#u292
{
	z-index: 70;
	width: 27px;
	height: 34px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 685px;
	background: #FFFFFF url("../images/arrow.jpg") no-repeat center center;
}

#u293
{
	z-index: 71;
	width: 27px;
	height: 34px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 187px;
	left: 685px;
	background: #FFFFFF url("../images/arrow.jpg") no-repeat center center;
}

#pu2335-4
{
	width: 0.01px;
	margin-left: -26px;
	margin-top: 85px;
}

#u2335-4
{
	z-index: 76;
	width: 232px;
	min-height: 30px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #EABF3C;
	line-height: 29px;
	font-size: 24px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2336-4
{
	z-index: 80;
	width: 232px;
	min-height: 30px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #EABF3C;
	line-height: 29px;
	font-size: 24px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 248px;
}

#u2337-4
{
	z-index: 84;
	width: 233px;
	min-height: 30px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #EABF3C;
	line-height: 29px;
	font-size: 24px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 495px;
}

#u2338-4
{
	z-index: 88;
	width: 233px;
	min-height: 30px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #EABF3C;
	line-height: 29px;
	font-size: 24px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 743px;
}

#pu2331
{
	width: 0.01px;
	margin-left: -23px;
	margin-top: 18px;
}

#u2331
{
	z-index: 72;
	width: 220px;
	height: 162px;
	-pie-box-shadow: 0px 0px 3px 1px #BFBFBF;
	box-shadow: 0px 0px 3px rgba(127,127,127,0.5),0px 0px 3px rgba(127,127,127,0.5);
	border-width: 5px;
	border-style: solid;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
	background: #FFFFFF url("../images/regent3-u2331-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2332
{
	z-index: 73;
	width: 220px;
	height: 162px;
	-pie-box-shadow: 0px 0px 3px 1px #BFBFBF;
	box-shadow: 0px 0px 3px rgba(127,127,127,0.5),0px 0px 3px rgba(127,127,127,0.5);
	border-width: 5px;
	border-style: solid;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 246px;
	background: #FFFFFF url("../images/1280px-fort_metal_cross-u2332-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u2333
{
	z-index: 74;
	width: 220px;
	height: 162px;
	-pie-box-shadow: 0px 0px 3px 1px #BFBFBF;
	box-shadow: 0px 0px 3px rgba(127,127,127,0.5),0px 0px 3px rgba(127,127,127,0.5);
	border-width: 5px;
	border-style: solid;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 494px;
	background: #FFFFFF url("../images/screen_shot_2014-02-14_at_125051_am-u1255-27-fr.jpg") no-repeat left top;
}

#u2334
{
	z-index: 75;
	width: 220px;
	height: 162px;
	-pie-box-shadow: 0px 0px 3px 1px #BFBFBF;
	box-shadow: 0px 0px 3px rgba(127,127,127,0.5),0px 0px 3px rgba(127,127,127,0.5);
	border-width: 5px;
	border-style: solid;
	border-color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 742px;
	background: #FFFFFF url("../images/flight.jpg") no-repeat left top;
	background-size: cover;
}

#ppu2340-4
{
	width: 0.01px;
	margin-left: -23px;
	margin-top: 10px;
}

#pu2340-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 248px;
}

#u2340-4
{
	z-index: 96;
	width: 225px;
	min-height: 175px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #000000;
	text-align: center;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2344-4
{
	z-index: 112;
	width: 79px;
	min-height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 3px;
	line-height: 25px;
	text-align: center;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 145px;
}

#pu2342-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 2px;
	margin-left: 744px;
}

#u2342-4
{
	z-index: 104;
	width: 225px;
	min-height: 175px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #000000;
	line-height: 16px;
	text-align: center;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2346-4
{
	z-index: 120;
	width: 79px;
	min-height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 3px;
	line-height: 25px;
	text-align: center;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 145px;
}

#u2346-4:hover
{
	background-color: #EABF3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 79px;
	margin: 94px -10000px 0px 0px;
}

#u2339-4
{
	z-index: 92;
	width: 225px;
	min-height: 175px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #000000;
	text-align: center;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2341-4
{
	z-index: 100;
	width: 225px;
	min-height: 175px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #000000;
	text-align: center;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 496px;
}

#u2343-4
{
	z-index: 108;
	width: 79px;
	min-height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 3px;
	line-height: 25px;
	text-align: center;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 145px;
}

#u2345-4
{
	z-index: 116;
	width: 79px;
	min-height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 3px;
	line-height: 25px;
	text-align: center;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 640px;
}

#u2344-4:hover,#u2343-4:hover,#u2345-4:hover
{
	background-color: #EABF3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 79px;
	margin: 96px -10000px 0px 0px;
}

#u796
{
	z-index: 34;
	min-height: 73px;
	padding-bottom: 23px;
}

#u796_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2851-7
{
	z-index: 35;
	width: 722px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 270px;
}

#u796-bw
{
	z-index: 34;
	min-height: 73px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 94px;
}

#page .verticalspacer
{
	clear: both;
}

