.version.lodging /* version checker */
{
	color: #00000D;
	background-color: #868A30;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 437.9999999999991px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -96px;
	padding-top: 106px;
	width: 0.01px;
}

#u205
{
	z-index: 257;
	height: 107px;
	top: 0px;
}

#u205-bw
{
	z-index: 257;
}

#u193
{
	z-index: 295;
	width: 139px;
	height: 105px;
	top: 2px;
	left: 50%;
	margin-left: -529px;
}

#u200-4
{
	z-index: 296;
	width: 323px;
	min-height: 72px;
	top: 23px;
	left: 50%;
	margin-left: -410px;
}

#menuu112
{
	z-index: 258;
	width: 541px;
	top: 48px;
	left: 50%;
	margin-left: -30px;
}

#u120
{
	width: 82px;
	min-height: 26px;
	margin-right: -10000px;
}

#u123
{
	width: 82px;
	padding-bottom: 6px;
}

#u123:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u123.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u124-4
{
	width: 70px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u123:hover #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u123.MuseMenuActive #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u113
{
	width: 84px;
	min-height: 26px;
	margin-right: -10000px;
	left: 84px;
}

#u114
{
	width: 84px;
	padding-bottom: 6px;
}

#u114:hover
{
	width: 84px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u114.MuseMenuActive
{
	width: 84px;
	min-height: 0px;
	margin: 0px;
}

#u115-4
{
	width: 72px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u114:hover #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u114.MuseMenuActive #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u808
{
	width: 87px;
	min-height: 26px;
	margin-right: -10000px;
	left: 170px;
}

#u809
{
	width: 87px;
	padding-bottom: 6px;
}

#u809:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u809.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u811-4
{
	width: 75px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u809:hover #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u809.MuseMenuActive #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u128
{
	width: 101px;
	min-height: 26px;
	margin-right: -10000px;
	left: 259px;
}

#u129
{
	width: 101px;
	padding-bottom: 6px;
}

#u129:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u130-4
{
	width: 89px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u129:hover #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u129.MuseMenuActive #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u142
{
	width: 101px;
	min-height: 26px;
	margin-right: -10000px;
	left: 362px;
}

#u145
{
	width: 101px;
	padding-bottom: 6px;
}

#u145:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u129.MuseMenuActive,#u145.MuseMenuActive
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u146-4
{
	width: 90px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 5px;
}

#u145:hover #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u145.MuseMenuActive #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u149
{
	width: 76px;
	min-height: 26px;
	margin-right: -10000px;
	left: 465px;
}

#u152
{
	width: 76px;
	padding-bottom: 6px;
}

#u152:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u152.MuseMenuActive
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u154-4
{
	width: 65px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 5px;
}

#u152:hover #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u152.MuseMenuActive #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u438
{
	z-index: 154;
	min-height: 59px;
	border-color: #000000;
	background-color: #FCEE21;
	padding-bottom: 10px;
}

#u442-4
{
	z-index: 164;
	width: 243px;
	min-height: 40px;
	border-color: #000000;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 89px;
}

#u438-bw
{
	z-index: 154;
	min-height: 59px;
}

#pu213
{
	width: 0.01px;
	margin-left: -100px;
}

#u213
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 606px;
}

#u439
{
	z-index: 155;
	min-height: 33px;
	border-color: #E4E4E4;
	background-color: #E4E4E4;
	padding-bottom: 11px;
}

#u438_align_to_page,#u439_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u440-4
{
	z-index: 156;
	width: 71px;
	min-height: 14px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 89px;
}

#u440-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 71px;
	margin: 14px -10000px 0px 0px;
}

#u441-4
{
	z-index: 160;
	width: 96px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 184px;
}

#u443-4
{
	z-index: 168;
	width: 96px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 300px;
}

#u444-4
{
	z-index: 172;
	width: 96px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 430px;
}

#u441-4.MuseLinkActive,#u443-4:hover,#u444-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 96px;
	margin: 14px -10000px 0px 0px;
}

#u445-4
{
	z-index: 176;
	width: 152px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 560px;
}

#u445-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 152px;
	margin: 14px -10000px 0px 0px;
}

#u440-4:hover p,#u441-4.MuseLinkActive p,#u443-4:hover p,#u444-4:hover p,#u445-4:hover p
{
	color: #EABF3C;
	visibility: inherit;
}

#u439-bw
{
	z-index: 155;
	min-height: 33px;
}

#u472-4
{
	z-index: 182;
	width: 1032px;
	min-height: 39px;
	border-style: solid;
	border-color: #E6E6E6;
	background-color: #FFFFFF;
	color: #000000;
	line-height: 43px;
	font-size: 36px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	left: -11px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u476-4
{
	z-index: 189;
	width: 351px;
	min-height: 23px;
	border-color: #EBE6E6;
	background-color: #FFFFFF;
	color: #EABF3C;
	line-height: 20px;
	font-size: 24px;
	text-align: left;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	left: -13px;
	margin-top: 55px;
	position: relative;
}

#pu473
{
	width: 0.01px;
	margin-left: -11px;
	margin-top: 5px;
}

#u473
{
	z-index: 186;
	width: 348px;
	height: 266px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/golden%20tulip%20kumasi.jpg") no-repeat center top;
	background-size: cover;
}

#u479-9
{
	z-index: 201;
	width: 309px;
	min-height: 210px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #000000;
	font-size: 14px;
	text-align: justify;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 363px;
}

#u482-12
{
	z-index: 231;
	width: 280px;
	min-height: 245px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 691px;
}

#u482-2,#u482-3,#u482-4,#u482-7,#u482-9
{
	font-size: 14px;
	text-align: justify;
	color: #000000;
	font-family: cuprum, sans-serif;
	font-weight: 400;
}

#u470
{
	z-index: 180;
	width: 979px;
	height: 12px;
	border-style: solid;
	border-color: #EBE6E6;
	background-color: #FFFFFF;
	left: -11px;
	margin-top: 37px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u477-4
{
	z-index: 193;
	width: 351px;
	min-height: 23px;
	border-color: #EBE6E6;
	background-color: #FFFFFF;
	color: #EABF3C;
	line-height: 20px;
	font-size: 24px;
	text-align: left;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	left: -11px;
	margin-top: 31px;
	position: relative;
}

#u474
{
	z-index: 187;
	width: 348px;
	height: 270px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/regent3.jpg") no-repeat left top;
	background-size: cover;
}

#u480-9
{
	z-index: 210;
	width: 309px;
	min-height: 242px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #000000;
	font-size: 14px;
	text-align: justify;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 363px;
}

#u483-5
{
	z-index: 243;
	width: 287px;
	min-height: 242px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #000000;
	font-size: 14px;
	text-align: justify;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 692px;
}

#u471
{
	z-index: 181;
	width: 979px;
	height: 2px;
	border-style: solid;
	border-color: #EBE6E6;
	background-color: #FFFFFF;
	left: -10px;
	margin-top: 23px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u478-4
{
	z-index: 197;
	width: 348px;
	min-height: 23px;
	border-color: #EBE6E6;
	background-color: #FFFFFF;
	color: #EABF3C;
	line-height: 20px;
	font-size: 24px;
	text-align: left;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	left: -11px;
	margin-top: 43px;
	position: relative;
}

#pu474,#pu475
{
	width: 0.01px;
	margin-left: -11px;
	margin-top: 4px;
}

#u475
{
	z-index: 188;
	width: 348px;
	height: 204px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/busua-4.jpg") no-repeat left top;
	background-size: cover;
}

#u484-9
{
	z-index: 248;
	width: 309px;
	min-height: 194px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #000000;
	font-size: 14px;
	text-align: justify;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 363px;
}

#u481-12
{
	z-index: 219;
	width: 295px;
	min-height: 198px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #000000;
	font-size: 14px;
	text-align: justify;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 690px;
}

#pu500
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 45px;
}

#u500
{
	z-index: 3;
	min-height: 700.5249999999992px;
	border-color: #000000;
	background-color: #FCEE21;
	padding-bottom: 0px;
}

#u500_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 46px;
	padding-bottom: 54px;
}

#u586-4
{
	z-index: 142;
	width: 993px;
	min-height: 39px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #2E3192;
	line-height: 43px;
	font-size: 36px;
	font-family: poiret-one, sans-serif;
	font-weight: 400;
	left: 89px;
	position: relative;
	border-width: 0px 0px 1px;
}

#pu501
{
	width: 0.01px;
	left: 89px;
	margin-top: 35px;
	position: relative;
}

#u501
{
	z-index: 4;
	width: 504px;
	-pie-box-shadow: 0px 0px 2px 1px #6264AD;
	box-shadow: 0px 0px 2px rgba(46,49,146,0.75),0px 0px 2px rgba(46,49,146,0.75);
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u512-13
{
	z-index: 68;
	width: 492px;
	min-height: 102px;
	border-color: #000000;
	line-height: 16px;
	font-size: 13px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 4px;
	background: #FFFFFF url("../images/accra%20lodge.jpg") no-repeat left top;
	background-size: contain;
}

#u502
{
	z-index: 5;
	width: 467px;
	-pie-box-shadow: 0px 0px 2px 1px #6264AD;
	box-shadow: 0px 0px 2px rgba(46,49,146,0.75),0px 0px 2px rgba(46,49,146,0.75);
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 526px;
}

#u511-12
{
	z-index: 56;
	width: 451px;
	min-height: 102px;
	border-color: #000000;
	line-height: 16px;
	font-size: 13px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 6px;
	background: #FFFFFF url("../images/hans%20cottage.jpg") no-repeat left top;
	background-size: contain;
}

#pu503
{
	width: 0.01px;
	left: 89px;
	margin-top: 23px;
	position: relative;
}

#u503
{
	z-index: 6;
	width: 504px;
	-pie-box-shadow: 0px 0px 2px 1px #6264AD;
	box-shadow: 0px 0px 2px rgba(46,49,146,0.75),0px 0px 2px rgba(46,49,146,0.75);
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u508-12
{
	z-index: 19;
	width: 476px;
	min-height: 102px;
	border-color: #000000;
	line-height: 16px;
	font-size: 13px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 4px;
	background: #FFFFFF url("../images/meet%20me%20there.jpg") no-repeat left top;
	background-size: contain;
}

#u504
{
	z-index: 7;
	width: 469px;
	-pie-box-shadow: 0px 0px 2px 1px #6264AD;
	box-shadow: 0px 0px 2px rgba(46,49,146,0.75),0px 0px 2px rgba(46,49,146,0.75);
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 524px;
}

#u509-12
{
	z-index: 31;
	width: 444px;
	min-height: 102px;
	border-color: #000000;
	line-height: 16px;
	font-size: 13px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 6px;
	background: #FFFFFF url("../images/nhyira.jpg") no-repeat left top;
	background-size: contain;
}

#pu505
{
	width: 0.01px;
	left: 89px;
	margin-top: 24px;
	position: relative;
}

#u505
{
	z-index: 8;
	width: 504px;
	-pie-box-shadow: 0px 0px 2px 1px #6264AD;
	box-shadow: 0px 0px 2px rgba(46,49,146,0.75),0px 0px 2px rgba(46,49,146,0.75);
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u507-9
{
	z-index: 10;
	width: 481px;
	min-height: 102px;
	border-color: #000000;
	line-height: 16px;
	font-size: 13px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
	background: #FFFFFF url("../images/stumble%20in.jpg") no-repeat left top;
	background-size: contain;
}

#u506
{
	z-index: 9;
	width: 469px;
	-pie-box-shadow: 0px 0px 2px 1px #6264AD;
	box-shadow: 0px 0px 2px rgba(46,49,146,0.75),0px 0px 2px rgba(46,49,146,0.75);
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	left: 524px;
}

#u510-13
{
	z-index: 43;
	width: 463px;
	min-height: 102px;
	border-color: #000000;
	line-height: 16px;
	font-size: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 6px;
	background: #FFFFFF url("../images/adom%20guest%20house.jpg") no-repeat left top;
	background-size: contain;
}

#u510-6
{
	color: #000000;
	font-family: cuprum, sans-serif;
	font-weight: 400;
}

#u510-2,#u510-5,#u510-8,#u510-10
{
	font-family: cuprum, sans-serif;
	font-weight: 400;
}

#pu513
{
	width: 0.01px;
	left: 89px;
	margin-top: 22px;
	position: relative;
}

#u513
{
	z-index: 81;
	width: 504px;
	-pie-box-shadow: 0px 0px 2px 1px #6264AD;
	box-shadow: 0px 0px 2px rgba(46,49,146,0.75),0px 0px 2px rgba(46,49,146,0.75);
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u515-12
{
	z-index: 83;
	width: 493px;
	min-height: 102px;
	border-color: #000000;
	line-height: 16px;
	font-size: 13px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
	background: #FFFFFF url("../images/rainbow.jpg") no-repeat left top;
	background-size: contain;
}

#u514
{
	z-index: 82;
	width: 469px;
	-pie-box-shadow: 0px 0px 2px 1px #6264AD;
	box-shadow: 0px 0px 2px rgba(46,49,146,0.75),0px 0px 2px rgba(46,49,146,0.75);
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 524px;
}

#u516-12
{
	z-index: 95;
	width: 452px;
	min-height: 102px;
	border-color: #000000;
	line-height: 16px;
	font-size: 13px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 6px;
	background: #FFFFFF url("../images/safui%202.jpg") no-repeat left center;
	background-size: contain;
}

#u479,#u479-5,#u482-5,#u480,#u480-5,#u483,#u484,#u484-5,#u481-2,#u481-8,#u512-2,#u511-2,#u508-2,#u509-2,#u507-2,#u510-3,#u515-2,#u516-2
{
	color: #EABF3C;
}

#u512-3,#u512-4,#u512-7,#u511-3,#u511-6,#u508-3,#u508-6,#u509-3,#u509-6,#u510-4,#u510-7,#u515-3,#u515-6,#u516-3,#u516-6
{
	color: #7F7F7F;
}

#u512-6,#u512-9,#u512-11,#u511-5,#u511-8,#u511-10,#u508-5,#u508-8,#u508-10,#u509-5,#u509-8,#u509-10,#u507-3,#u507-5,#u507-7,#u510-9,#u510-11,#u515-5,#u515-8,#u515-10,#u516-5,#u516-8,#u516-10
{
	color: #000000;
}

#u500-bw
{
	z-index: 3;
	min-height: 700.5249999999992px;
}

#u517
{
	z-index: 107;
	width: 34px;
	height: 19px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 130px;
	left: 325px;
	background: #FFFFFF url("../images/2-star-rating.jpg") no-repeat left top;
}

#u518
{
	z-index: 108;
	width: 34px;
	height: 19px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 266px;
	left: 411px;
	background: #FFFFFF url("../images/2-star-rating.jpg") no-repeat left top;
}

#u519
{
	z-index: 109;
	width: 34px;
	height: 19px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 266px;
	left: 862px;
	background: #FFFFFF url("../images/2-star-rating.jpg") no-repeat left top;
}

#u520
{
	z-index: 110;
	width: 34px;
	height: 19px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 130px;
	left: 890px;
	background: #FFFFFF url("../images/2-star-rating.jpg") no-repeat left top;
}

#u521
{
	z-index: 111;
	width: 34px;
	height: 19px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 403px;
	left: 886px;
	background: #FFFFFF url("../images/2-star-rating.jpg") no-repeat left top;
}

#u522
{
	z-index: 112;
	width: 34px;
	height: 19px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 403px;
	left: 322px;
	background: #FFFFFF url("../images/2-star-rating.jpg") no-repeat left top;
}

#u523
{
	z-index: 113;
	width: 34px;
	height: 19px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 541px;
	left: 444px;
	background: #FFFFFF url("../images/2-star-rating.jpg") no-repeat left top;
}

#u525-4
{
	z-index: 114;
	width: 63px;
	min-height: 12px;
	background-color: transparent;
	color: #EABF3C;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 266px;
	left: 485px;
}

#u526-4
{
	z-index: 118;
	width: 63px;
	min-height: 12px;
	background-color: transparent;
	color: #EABF3C;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 264px;
	left: 997px;
}

#u527-4
{
	z-index: 122;
	width: 63px;
	min-height: 12px;
	background-color: transparent;
	color: #EABF3C;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 131px;
	left: 485px;
}

#u528-4
{
	z-index: 126;
	width: 63px;
	min-height: 12px;
	background-color: transparent;
	color: #EABF3C;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 129px;
	left: 1001px;
}

#u529-4
{
	z-index: 130;
	width: 63px;
	min-height: 12px;
	background-color: transparent;
	color: #EABF3C;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 402px;
	left: 485px;
}

#u530-4
{
	z-index: 134;
	width: 63px;
	min-height: 12px;
	background-color: transparent;
	color: #EABF3C;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 541px;
	left: 485px;
}

#u532-4
{
	z-index: 138;
	width: 63px;
	min-height: 12px;
	background-color: transparent;
	color: #EABF3C;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 400px;
	left: 1001px;
}

#u524
{
	z-index: 300;
	width: 34px;
	height: 19px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 541px;
	left: 903px;
	background: #FFFFFF url("../images/2-star-rating.jpg") no-repeat left top;
}

#u531-4
{
	z-index: 301;
	width: 63px;
	min-height: 12px;
	background-color: transparent;
	color: #EABF3C;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 541px;
	left: 1001px;
}

#u796
{
	z-index: 146;
	min-height: 73px;
	padding-bottom: 23px;
}

#u796_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2851-7
{
	z-index: 147;
	width: 722px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 270px;
}

#u796-bw
{
	z-index: 146;
	min-height: 73px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 94px;
}

#page .verticalspacer
{
	clear: both;
}

