#u205
{
	-pie-box-shadow: 0px 0px 10px 3px #7F7F7F;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5),0px 0px 10px rgba(0,0,0,0.5);
	border-color: #000000;
	background-color: #FFFFFF;
	position: fixed;
}

#u193
{
	border-color: #000000;
	position: fixed;
	background: #FFFFFF url("../images/konekt-u193-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u200-4
{
	background-color: transparent;
	line-height: 76px;
	font-size: 63px;
	font-family: allura, cursive;
	font-weight: 400;
	position: fixed;
}

#menuu112
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u123
{
	background-color: #FFFFFF;
	position: relative;
}

#u123:hover
{
	border-style: solid;
	border-color: #EBBE0D;
	border-width: 0px 0px 2px;
}

#u124-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: doppio-one, sans-serif;
	font-weight: 400;
	position: relative;
}

#u123:hover #u124-4 p
{
	color: #E9BC0F;
	visibility: inherit;
}

#u114
{
	background-color: #FFFFFF;
	position: relative;
}

#u114:hover
{
	border-style: solid;
	border-color: #EBBE0D;
	border-width: 0px 0px 2px;
}

#u115-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: doppio-one, sans-serif;
	font-weight: 400;
	position: relative;
}

#u114:hover #u115-4 p
{
	color: #E9BC0F;
	visibility: inherit;
}

#u809
{
	background-color: #FFFFFF;
	position: relative;
}

#u809:hover
{
	border-style: solid;
	border-color: #EBBE0D;
	border-width: 0px 0px 2px;
}

#u811-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: doppio-one, sans-serif;
	font-weight: 400;
	position: relative;
}

#u809:hover #u811-4 p
{
	color: #E9BC0F;
	visibility: inherit;
}

#u129
{
	background-color: #FFFFFF;
	position: relative;
}

#u129:hover
{
	border-style: solid;
	border-color: #EBBE0D;
	border-width: 0px 0px 2px;
}

#u130-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: doppio-one, sans-serif;
	font-weight: 400;
	position: relative;
}

#u129:hover #u130-4 p
{
	color: #E9BC0F;
	visibility: inherit;
}

#u145
{
	background-color: #FFFFFF;
	position: relative;
}

#u145:hover
{
	border-style: solid;
	border-color: #EBBE0D;
	border-width: 0px 0px 2px;
}

#u146-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: doppio-one, sans-serif;
	font-weight: 400;
	position: relative;
}

#u145:hover #u146-4 p
{
	color: #E9BC0F;
	visibility: inherit;
}

#u120,#u113,#u808,#u128,#u142,#u149
{
	background-color: transparent;
	position: relative;
}

#u152
{
	background-color: #FFFFFF;
	position: relative;
}

#u152:hover
{
	border-style: solid;
	border-color: #EBBE0D;
	border-width: 0px 0px 2px;
}

#u123.MuseMenuActive,#u114.MuseMenuActive,#u809.MuseMenuActive,#u129.MuseMenuActive,#u145.MuseMenuActive,#u152.MuseMenuActive
{
	border-style: none;
	border-color: #ECBF0E;
}

#u154-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: doppio-one, sans-serif;
	font-weight: 400;
	position: relative;
}

#u152:hover #u154-4 p
{
	color: #E9BC0F;
	visibility: inherit;
}

#u123.MuseMenuActive #u124-4 p,#u114.MuseMenuActive #u115-4 p,#u809.MuseMenuActive #u811-4 p,#u129.MuseMenuActive #u130-4 p,#u145.MuseMenuActive #u146-4 p,#u152.MuseMenuActive #u154-4 p
{
	color: #E9BC0C;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u213
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u796
{
	border-color: #000000;
	background-color: #484848;
}

#u796_align_to_page
{
	position: relative;
}

#u2851-7
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2851-2,#u2851-3
{
	font-size: 31px;
	line-height: 37px;
}

#u2851-5
{
	font-size: 11px;
	line-height: 13px;
}

