.version.services /* version checker */
{
	color: #000013;
	background-color: #7F82CF;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -96px;
	padding-top: 106px;
	width: 0.01px;
}

#u205
{
	z-index: 100;
	height: 107px;
	top: 0px;
}

#u205-bw
{
	z-index: 100;
}

#u193
{
	z-index: 138;
	width: 139px;
	height: 105px;
	top: 2px;
	left: 50%;
	margin-left: -529px;
}

#u200-4
{
	z-index: 139;
	width: 323px;
	min-height: 72px;
	top: 23px;
	left: 50%;
	margin-left: -410px;
}

#menuu112
{
	z-index: 101;
	width: 541px;
	top: 48px;
	left: 50%;
	margin-left: -30px;
}

#u120
{
	width: 82px;
	min-height: 26px;
	margin-right: -10000px;
}

#u123
{
	width: 82px;
	padding-bottom: 6px;
}

#u123:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u123.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u124-4
{
	width: 70px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u123:hover #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u123.MuseMenuActive #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u113
{
	width: 84px;
	min-height: 26px;
	margin-right: -10000px;
	left: 84px;
}

#u114
{
	width: 84px;
	padding-bottom: 6px;
}

#u114:hover
{
	width: 84px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u114.MuseMenuActive
{
	width: 84px;
	min-height: 0px;
	margin: 0px;
}

#u115-4
{
	width: 72px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u114:hover #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u114.MuseMenuActive #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u808
{
	width: 87px;
	min-height: 26px;
	margin-right: -10000px;
	left: 170px;
}

#u809
{
	width: 87px;
	padding-bottom: 6px;
}

#u809:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u809.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u811-4
{
	width: 75px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u809:hover #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u809.MuseMenuActive #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u128
{
	width: 101px;
	min-height: 26px;
	margin-right: -10000px;
	left: 259px;
}

#u129
{
	width: 101px;
	padding-bottom: 6px;
}

#u129:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u130-4
{
	width: 89px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u129:hover #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u129.MuseMenuActive #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u142
{
	width: 101px;
	min-height: 26px;
	margin-right: -10000px;
	left: 362px;
}

#u145
{
	width: 101px;
	padding-bottom: 6px;
}

#u145:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u129.MuseMenuActive,#u145.MuseMenuActive
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u146-4
{
	width: 90px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 5px;
}

#u145:hover #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u145.MuseMenuActive #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u149
{
	width: 76px;
	min-height: 26px;
	margin-right: -10000px;
	left: 465px;
}

#u152
{
	width: 76px;
	padding-bottom: 6px;
}

#u152:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u152.MuseMenuActive
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u154-4
{
	width: 65px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 5px;
}

#u152:hover #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u152.MuseMenuActive #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u321
{
	z-index: 11;
	min-height: 59px;
	border-color: #000000;
	background-color: #FCEE21;
	padding-bottom: 10px;
}

#u325-4
{
	z-index: 21;
	width: 243px;
	min-height: 40px;
	border-color: #000000;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 89px;
}

#u321-bw
{
	z-index: 11;
	min-height: 59px;
}

#pu213
{
	width: 0.01px;
	margin-left: -100px;
}

#u213
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 606px;
}

#u322
{
	z-index: 12;
	min-height: 33px;
	border-color: #E4E4E4;
	background-color: #E4E4E4;
	padding-bottom: 11px;
}

#u321_align_to_page,#u322_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u323-4
{
	z-index: 13;
	width: 71px;
	min-height: 14px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 89px;
}

#u323-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 71px;
	margin: 14px -10000px 0px 0px;
}

#u323-4.MuseLinkActive p
{
	color: #EABF3C;
	visibility: inherit;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u324-4
{
	z-index: 17;
	width: 96px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 184px;
}

#u435-4
{
	z-index: 88;
	width: 96px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 300px;
}

#u436-4
{
	z-index: 92;
	width: 96px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 430px;
}

#u324-4:hover,#u435-4:hover,#u436-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 96px;
	margin: 14px -10000px 0px 0px;
}

#u437-4
{
	z-index: 96;
	width: 152px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 560px;
}

#u437-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 152px;
	margin: 14px -10000px 0px 0px;
}

#u324-4:hover p,#u435-4:hover p,#u436-4:hover p,#u437-4:hover p
{
	color: #EABF3C;
	visibility: inherit;
}

#u322-bw
{
	z-index: 12;
	min-height: 33px;
}

#u371-7
{
	z-index: 25;
	width: 980px;
	min-height: 151px;
	border-color: #000000;
	background-color: #FFFFFF;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	left: -4px;
	margin-top: 25px;
	position: relative;
}

#u371-2,#u371-3
{
	font-size: 30px;
	line-height: 36px;
	color: #EABF3C;
}

#u371-5
{
	font-size: 19px;
	text-align: justify;
	line-height: 23px;
	color: #000000;
}

#pu392-4
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 52px;
}

#u392-4
{
	z-index: 40;
	width: 232px;
	min-height: 30px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #EABF3C;
	line-height: 29px;
	font-size: 24px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u393-4
{
	z-index: 44;
	width: 232px;
	min-height: 30px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #EABF3C;
	line-height: 29px;
	font-size: 24px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 248px;
}

#u394-4
{
	z-index: 48;
	width: 233px;
	min-height: 30px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #EABF3C;
	line-height: 29px;
	font-size: 24px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 495px;
}

#u395-4
{
	z-index: 52;
	width: 233px;
	min-height: 30px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #EABF3C;
	line-height: 29px;
	font-size: 24px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 743px;
}

#pu372
{
	width: 0.01px;
	margin-top: 14px;
}

#u372
{
	z-index: 32;
	width: 232px;
	-pie-box-shadow: 0px 0px 3px 1px #BFBFBF;
	box-shadow: 0px 0px 3px rgba(127,127,127,0.5),0px 0px 3px rgba(127,127,127,0.5);
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u376
{
	z-index: 35;
	width: 225px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
	background: #FFFFFF url("../images/regent3-u2331-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u373
{
	z-index: 33;
	width: 232px;
	-pie-box-shadow: 0px 0px 3px 1px #BFBFBF;
	box-shadow: 0px 0px 3px rgba(127,127,127,0.5),0px 0px 3px rgba(127,127,127,0.5);
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 248px;
}

#u377
{
	z-index: 36;
	width: 225px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
	background: #FFFFFF url("../images/1280px-fort_metal_cross-u2332-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u374
{
	z-index: 34;
	width: 232px;
	-pie-box-shadow: 0px 0px 3px 1px #BFBFBF;
	box-shadow: 0px 0px 3px rgba(127,127,127,0.5),0px 0px 3px rgba(127,127,127,0.5);
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 496px;
}

#u381
{
	z-index: 38;
	width: 225px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
	background: #FFFFFF url("../images/screen_shot_2014-02-14_at_125051_am-u1255-27-fr.jpg") no-repeat left top;
}

#u380
{
	z-index: 37;
	width: 232px;
	-pie-box-shadow: 0px 0px 3px 1px #BFBFBF;
	box-shadow: 0px 0px 3px rgba(127,127,127,0.5),0px 0px 3px rgba(127,127,127,0.5);
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 744px;
}

#u382
{
	z-index: 39;
	width: 225px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
	background: #FFFFFF url("../images/flight.jpg") no-repeat left top;
	background-size: cover;
}

#ppu428-4
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 6px;
}

#pu428-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 248px;
}

#u428-4
{
	z-index: 60;
	width: 225px;
	min-height: 175px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #000000;
	font-size: 14px;
	text-align: justify;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u432-4
{
	z-index: 76;
	width: 79px;
	min-height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #E4E4E4;
	background-color: #FFFFFF;
	border-radius: 3px;
	line-height: 25px;
	text-align: center;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 95px;
	left: 145px;
}

#u432-4:hover
{
	background-color: #EABF3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 79px;
	margin: 95px -10000px 0px 0px;
}

#pu429-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 2px;
	margin-left: 744px;
}

#u429-4
{
	z-index: 68;
	width: 225px;
	min-height: 175px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #000000;
	line-height: 16px;
	font-size: 14px;
	text-align: justify;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u434-4
{
	z-index: 84;
	width: 79px;
	min-height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #E4E4E4;
	background-color: #FFFFFF;
	border-radius: 3px;
	line-height: 25px;
	text-align: center;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 145px;
}

#u434-4:hover
{
	background-color: #EABF3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 79px;
	margin: 94px -10000px 0px 0px;
}

#u426-4
{
	z-index: 56;
	width: 225px;
	min-height: 175px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #000000;
	font-size: 14px;
	text-align: justify;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u427-4
{
	z-index: 64;
	width: 225px;
	min-height: 175px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #000000;
	font-size: 14px;
	text-align: justify;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 496px;
}

#u431-4
{
	z-index: 72;
	width: 79px;
	min-height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #E4E4E4;
	background-color: #FFFFFF;
	border-radius: 3px;
	line-height: 25px;
	text-align: center;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 145px;
}

#u433-4
{
	z-index: 80;
	width: 79px;
	min-height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #E4E4E4;
	background-color: #FFFFFF;
	border-radius: 3px;
	line-height: 25px;
	text-align: center;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 640px;
}

#u431-4:hover,#u433-4:hover
{
	background-color: #EABF3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 79px;
	margin: 96px -10000px 0px 0px;
}

#u796
{
	z-index: 3;
	min-height: 73px;
	padding-bottom: 23px;
}

#u796_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2851-7
{
	z-index: 4;
	width: 722px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 270px;
}

#u796-bw
{
	z-index: 3;
	min-height: 73px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 94px;
}

#page .verticalspacer
{
	clear: both;
}

