.version.volta /* version checker */
{
	color: #00000F;
	background-color: #A8D6C1;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -96px;
	padding-top: 106px;
	width: 0.01px;
}

#u205
{
	z-index: 132;
	height: 107px;
	top: 0px;
}

#u205-bw
{
	z-index: 132;
}

#u193
{
	z-index: 170;
	width: 139px;
	height: 105px;
	top: 2px;
	left: 50%;
	margin-left: -529px;
}

#u200-4
{
	z-index: 171;
	width: 323px;
	min-height: 72px;
	top: 23px;
	left: 50%;
	margin-left: -410px;
}

#menuu112
{
	z-index: 133;
	width: 541px;
	top: 48px;
	left: 50%;
	margin-left: -30px;
}

#u120
{
	width: 82px;
	min-height: 26px;
	margin-right: -10000px;
}

#u123
{
	width: 82px;
	padding-bottom: 6px;
}

#u123:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u123.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u124-4
{
	width: 70px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u123:hover #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u123.MuseMenuActive #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u113
{
	width: 84px;
	min-height: 26px;
	margin-right: -10000px;
	left: 84px;
}

#u114
{
	width: 84px;
	padding-bottom: 6px;
}

#u114:hover
{
	width: 84px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u114.MuseMenuActive
{
	width: 84px;
	min-height: 0px;
	margin: 0px;
}

#u115-4
{
	width: 72px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u114:hover #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u114.MuseMenuActive #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u808
{
	width: 87px;
	min-height: 26px;
	margin-right: -10000px;
	left: 170px;
}

#u809
{
	width: 87px;
	padding-bottom: 6px;
}

#u809:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u809.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u811-4
{
	width: 75px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u809:hover #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u809.MuseMenuActive #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u128
{
	width: 101px;
	min-height: 26px;
	margin-right: -10000px;
	left: 259px;
}

#u129
{
	width: 101px;
	padding-bottom: 6px;
}

#u129:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u130-4
{
	width: 89px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u129:hover #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u129.MuseMenuActive #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u142
{
	width: 101px;
	min-height: 26px;
	margin-right: -10000px;
	left: 362px;
}

#u145
{
	width: 101px;
	padding-bottom: 6px;
}

#u145:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u129.MuseMenuActive,#u145.MuseMenuActive
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u146-4
{
	width: 90px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 5px;
}

#u145:hover #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u145.MuseMenuActive #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u149
{
	width: 76px;
	min-height: 26px;
	margin-right: -10000px;
	left: 465px;
}

#u152
{
	width: 76px;
	padding-bottom: 6px;
}

#u152:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u152.MuseMenuActive
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u154-4
{
	width: 65px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 5px;
}

#u152:hover #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u152.MuseMenuActive #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u957
{
	z-index: 11;
	min-height: 59px;
	border-color: #000000;
	background-color: #FCEE21;
	padding-bottom: 10px;
}

#u961-4
{
	z-index: 21;
	width: 243px;
	min-height: 40px;
	border-color: #000000;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 89px;
}

#u957-bw
{
	z-index: 11;
	min-height: 59px;
}

#pu213
{
	width: 0.01px;
	margin-left: -100px;
}

#u213
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 606px;
}

#u958
{
	z-index: 12;
	min-height: 33px;
	border-color: #E4E4E4;
	background-color: #E4E4E4;
	padding-bottom: 11px;
}

#u957_align_to_page,#u958_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u959-4
{
	z-index: 13;
	width: 71px;
	min-height: 14px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 89px;
}

#u959-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 71px;
	margin: 14px -10000px 0px 0px;
}

#u960-4
{
	z-index: 17;
	width: 90px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 184px;
}

#u962-4
{
	z-index: 25;
	width: 69px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 287px;
}

#u963-4
{
	z-index: 29;
	width: 66px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 370px;
}

#u963-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 66px;
	margin: 14px -10000px 0px 0px;
}

#u964-4
{
	z-index: 33;
	width: 69px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 460px;
}

#u965-4
{
	z-index: 37;
	width: 69px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 556px;
}

#u962-4:hover,#u964-4:hover,#u965-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 69px;
	margin: 14px -10000px 0px 0px;
}

#u966-4
{
	z-index: 41;
	width: 90px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 651px;
}

#u967-4
{
	z-index: 45;
	width: 54px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 758px;
}

#u967-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 54px;
	margin: 14px -10000px 0px 0px;
}

#u968-4
{
	z-index: 49;
	width: 90px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 850px;
}

#u960-4:hover,#u966-4:hover,#u968-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 14px -10000px 0px 0px;
}

#u959-4:hover p,#u960-4:hover p,#u962-4:hover p,#u963-4:hover p,#u964-4:hover p,#u965-4.MuseLinkActive p,#u966-4:hover p,#u967-4:hover p,#u968-4:hover p
{
	color: #2E3192;
	visibility: inherit;
}

#u958-bw
{
	z-index: 12;
	min-height: 33px;
}

#ppu1980
{
	width: 0.01px;
	margin-left: -11px;
	margin-top: 28px;
}

#pu1980
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u1980
{
	z-index: 53;
	width: 325px;
	height: 273px;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../images/volta_region_1.jpg") no-repeat center top;
}

#u1988-8
{
	z-index: 70;
	width: 325px;
	min-height: 213px;
	border-color: #000000;
	background-color: #FFFFFF;
	text-align: justify;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	margin-top: 17px;
	position: relative;
}

#u1988-2
{
	font-size: 18px;
	line-height: 22px;
	color: #EABF3C;
}

#u1981-16
{
	z-index: 54;
	width: 302px;
	min-height: 511px;
	border-color: #000000;
	background-color: #FFFFFF;
	text-align: justify;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 354px;
}

#u1988-3,#u1988-5,#u1981-2,#u1981-4,#u1981-5,#u1981-6,#u1981-7,#u1981-9,#u1981-10,#u1981-12,#u1981-13
{
	color: #000000;
}

#u1988-6,#u1981-14
{
	color: #7F7F7F;
}

#pu1989-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 17px;
	margin-left: 684px;
}

#u1989-4
{
	z-index: 78;
	width: 309px;
	min-height: 151px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #000000;
	text-align: justify;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1990
{
	z-index: 82;
	width: 303px;
	height: 283px;
	border-color: #000000;
	margin-top: 24px;
	position: relative;
	background: #FFFFFF url("../images/150px-ghana_volta.png") no-repeat center center;
}

#slideshowu2003
{
	z-index: 83;
	width: 0.01px;
	height: 438px;
	left: -55px;
	margin-top: 53px;
	position: relative;
}

#u2005
{
	position: absolute;
	width: 524px;
	height: 399px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -53px;
	left: 249px;
	-pie-background: rgba(0,0,0,0.9);
}

#u2005popup
{
	z-index: 84;
}

#u2006
{
	z-index: 85;
	width: 480px;
	height: 337px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2010
{
	z-index: 87;
	width: 480px;
	height: 337px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2008
{
	z-index: 89;
	width: 480px;
	height: 337px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2012
{
	z-index: 91;
	width: 480px;
	height: 337px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2006_img,#u2010_img,#u2008_img,#u2012_img
{
	padding-top: 19px;
	padding-bottom: 18px;
}

#u2022
{
	position: absolute;
	width: 1056px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 227px;
}

#u2022popup
{
	z-index: 93;
}

#u2027
{
	z-index: 94;
	width: 227px;
	height: 199px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(127,127,127,0.5),0px 0px 3px rgba(127,127,127,0.5);
	border-width: 6px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 35px;
}

#u2027:hover
{
	border-width: 6px;
	border-style: solid;
	width: 227px;
	height: 199px;
	min-height: 0px;
	margin: -2px -10000px 0px 0px;
}

#u2029
{
	z-index: 96;
	width: 227px;
	height: 199px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(127,127,127,0.5),0px 0px 3px rgba(127,127,127,0.5);
	border-width: 6px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 282px;
}

#u2025
{
	z-index: 98;
	width: 227px;
	height: 199px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(127,127,127,0.5),0px 0px 3px rgba(127,127,127,0.5);
	border-width: 6px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 531px;
}

#u2023
{
	z-index: 100;
	width: 227px;
	height: 199px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(127,127,127,0.5),0px 0px 3px rgba(127,127,127,0.5);
	border-width: 6px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 780px;
}

#u2029:hover,#u2025:hover,#u2023:hover
{
	border-width: 6px;
	border-style: solid;
	width: 227px;
	height: 199px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2015
{
	position: absolute;
	width: 340px;
	background-color: transparent;
	top: 287px;
	left: 271px;
}

#u2015popup
{
	z-index: 102;
}

#u2016-4
{
	z-index: 103;
	width: 340px;
	min-height: 39px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 22px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u2017-4
{
	z-index: 107;
	width: 340px;
	min-height: 39px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 22px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u2018-4
{
	z-index: 111;
	width: 340px;
	min-height: 39px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 22px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u2019-4
{
	z-index: 115;
	width: 340px;
	min-height: 39px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 22px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u2033-4
{
	position: absolute;
	width: 30px;
	min-height: 20px;
	background-color: #EABF3C;
	color: #000000;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 296px;
	left: 698px;
}

#u2033-4popup
{
	z-index: 119;
}

#u2021-4
{
	position: absolute;
	width: 30px;
	min-height: 20px;
	background-color: #EABF3C;
	color: #000000;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 296px;
	left: 728px;
}

#u2033-4:hover,#u2021-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 30px;
	margin: 0px;
}

#u2021-4popup
{
	z-index: 123;
}

#u2033-4:hover p,#u2021-4:hover p
{
	color: #EABF3C;
	visibility: inherit;
}

#u2031
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #FF0000;
	padding-bottom: 5px;
	top: -49px;
	left: 722px;
}

#u2031:hover
{
	background-color: #FFFFFF;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u2031:active
{
	background-color: #6B6B6B;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u2032-4
{
	z-index: 128;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u2032-4:hover
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 20px;
	margin: 5px -10000px 0px 0px;
}

#u2032-4:hover p
{
	color: #FF0000;
	visibility: inherit;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u796
{
	z-index: 3;
	min-height: 73px;
	padding-bottom: 23px;
}

#u796_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2851-7
{
	z-index: 4;
	width: 722px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 270px;
}

#u796-bw
{
	z-index: 3;
	min-height: 73px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 94px;
}

#page .verticalspacer
{
	clear: both;
}

