.version.western /* version checker */
{
	color: #0000F0;
	background-color: #BC46F4;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 437.57500000000005px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -96px;
	padding-top: 106px;
	width: 0.01px;
}

#u205
{
	z-index: 133;
	height: 107px;
	top: 0px;
}

#u205-bw
{
	z-index: 133;
}

#u193
{
	z-index: 171;
	width: 139px;
	height: 105px;
	top: 2px;
	left: 50%;
	margin-left: -529px;
}

#u200-4
{
	z-index: 172;
	width: 323px;
	min-height: 72px;
	top: 23px;
	left: 50%;
	margin-left: -410px;
}

#menuu112
{
	z-index: 134;
	width: 541px;
	top: 48px;
	left: 50%;
	margin-left: -30px;
}

#u120
{
	width: 82px;
	min-height: 26px;
	margin-right: -10000px;
}

#u123
{
	width: 82px;
	padding-bottom: 6px;
}

#u123:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u123.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u124-4
{
	width: 70px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u123:hover #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u123.MuseMenuActive #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u113
{
	width: 84px;
	min-height: 26px;
	margin-right: -10000px;
	left: 84px;
}

#u114
{
	width: 84px;
	padding-bottom: 6px;
}

#u114:hover
{
	width: 84px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u114.MuseMenuActive
{
	width: 84px;
	min-height: 0px;
	margin: 0px;
}

#u115-4
{
	width: 72px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u114:hover #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u114.MuseMenuActive #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u808
{
	width: 87px;
	min-height: 26px;
	margin-right: -10000px;
	left: 170px;
}

#u809
{
	width: 87px;
	padding-bottom: 6px;
}

#u809:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u809.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u811-4
{
	width: 75px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u809:hover #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u809.MuseMenuActive #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u128
{
	width: 101px;
	min-height: 26px;
	margin-right: -10000px;
	left: 259px;
}

#u129
{
	width: 101px;
	padding-bottom: 6px;
}

#u129:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u130-4
{
	width: 89px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 6px;
}

#u129:hover #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u129.MuseMenuActive #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u142
{
	width: 101px;
	min-height: 26px;
	margin-right: -10000px;
	left: 362px;
}

#u145
{
	width: 101px;
	padding-bottom: 6px;
}

#u145:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u129.MuseMenuActive,#u145.MuseMenuActive
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u146-4
{
	width: 90px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 5px;
}

#u145:hover #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u145.MuseMenuActive #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u149
{
	width: 76px;
	min-height: 26px;
	margin-right: -10000px;
	left: 465px;
}

#u152
{
	width: 76px;
	padding-bottom: 6px;
}

#u152:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u152.MuseMenuActive
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u154-4
{
	width: 65px;
	min-height: 20px;
	margin-right: -10000px;
	top: 3px;
	left: 5px;
}

#u152:hover #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u152.MuseMenuActive #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u945
{
	z-index: 11;
	min-height: 59px;
	border-color: #000000;
	background-color: #FCEE21;
	padding-bottom: 10px;
}

#u949-4
{
	z-index: 21;
	width: 243px;
	min-height: 40px;
	border-color: #000000;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 89px;
}

#u945-bw
{
	z-index: 11;
	min-height: 59px;
}

#pu213
{
	width: 0.01px;
	margin-left: -100px;
}

#u213
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 606px;
}

#u946
{
	z-index: 12;
	min-height: 33px;
	border-color: #E4E4E4;
	background-color: #E4E4E4;
	padding-bottom: 11px;
}

#u945_align_to_page,#u946_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u947-4
{
	z-index: 13;
	width: 71px;
	min-height: 14px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 89px;
}

#u947-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 71px;
	margin: 14px -10000px 0px 0px;
}

#u948-4
{
	z-index: 17;
	width: 90px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 184px;
}

#u950-4
{
	z-index: 25;
	width: 69px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 287px;
}

#u951-4
{
	z-index: 29;
	width: 66px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 370px;
}

#u951-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 66px;
	margin: 14px -10000px 0px 0px;
}

#u952-4
{
	z-index: 33;
	width: 69px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 460px;
}

#u953-4
{
	z-index: 37;
	width: 69px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 556px;
}

#u950-4:hover,#u952-4.MuseLinkActive,#u953-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 69px;
	margin: 14px -10000px 0px 0px;
}

#u954-4
{
	z-index: 41;
	width: 90px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 651px;
}

#u955-4
{
	z-index: 45;
	width: 54px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 758px;
}

#u955-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 54px;
	margin: 14px -10000px 0px 0px;
}

#u956-4
{
	z-index: 49;
	width: 90px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 850px;
}

#u948-4:hover,#u954-4:hover,#u956-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 14px -10000px 0px 0px;
}

#u947-4:hover p,#u948-4:hover p,#u950-4:hover p,#u951-4:hover p,#u952-4.MuseLinkActive p,#u953-4:hover p,#u954-4:hover p,#u955-4:hover p,#u956-4:hover p
{
	color: #2E3192;
	visibility: inherit;
}

#u946-bw
{
	z-index: 12;
	min-height: 33px;
}

#ppu1865
{
	width: 0.01px;
	margin-left: -17px;
	margin-top: 21px;
}

#pu1865
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1865
{
	z-index: 53;
	width: 318px;
	height: 244px;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../images/d1c_western_region_1.jpg") no-repeat left center;
	background-size: contain;
}

#u1873-10
{
	z-index: 68;
	width: 318px;
	min-height: 184px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 14px;
	position: relative;
}

#u1873-2
{
	font-size: 18px;
	text-align: justify;
	line-height: 22px;
	color: #EABF3C;
	font-family: cuprum, sans-serif;
	font-weight: 400;
}

#u1873-3,#u1873-5,#u1873-7
{
	text-align: justify;
	color: #000000;
	font-family: cuprum, sans-serif;
	font-weight: 400;
}

#u1866-14
{
	z-index: 54;
	width: 320px;
	min-height: 511px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #000000;
	text-align: justify;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 342px;
}

#pu1874-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 687px;
}

#u1874-5
{
	z-index: 78;
	width: 306px;
	min-height: 147px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #000000;
	text-align: justify;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1881
{
	z-index: 83;
	width: 284px;
	height: 350px;
	border-color: #000000;
	margin-left: 11px;
	margin-top: 4px;
	position: relative;
	background: #FFFFFF url("../images/ghana_western.jpg") no-repeat center bottom;
}

#slideshowu1910
{
	z-index: 84;
	width: 0.01px;
	height: 406px;
	left: -53px;
	margin-top: 74px;
	position: relative;
}

#u1929
{
	position: absolute;
	width: 524px;
	height: 422px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -60px;
	left: 248px;
	-pie-background: rgba(0,0,0,0.9);
}

#u1929popup
{
	z-index: 85;
}

#u1934
{
	z-index: 86;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1932
{
	z-index: 88;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1930
{
	z-index: 90;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1936
{
	z-index: 92;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1934_img,#u1932_img,#u1930_img,#u1936_img
{
	padding-top: 30px;
	padding-bottom: 30px;
}

#u1918
{
	position: absolute;
	width: 1018px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 208px;
}

#u1918popup
{
	z-index: 94;
}

#u1919
{
	z-index: 95;
	width: 230px;
	height: 190px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 2px rgba(127,127,127,0.5),0px 0px 2px rgba(127,127,127,0.5);
	border-width: 4px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 18px;
}

#u1921
{
	z-index: 97;
	width: 230px;
	height: 190px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 2px rgba(127,127,127,0.5),0px 0px 2px rgba(127,127,127,0.5);
	border-width: 4px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 266px;
}

#u1923
{
	z-index: 99;
	width: 230px;
	height: 190px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 2px rgba(127,127,127,0.5),0px 0px 2px rgba(127,127,127,0.5);
	border-width: 4px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 514px;
}

#u1925
{
	z-index: 101;
	width: 230px;
	height: 190px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 2px rgba(127,127,127,0.5),0px 0px 2px rgba(127,127,127,0.5);
	border-width: 4px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 762px;
}

#u1919:hover,#u1921:hover,#u1923:hover,#u1925:hover
{
	width: 230px;
	height: 190px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1911
{
	position: absolute;
	width: 340px;
	background-color: transparent;
	top: 302px;
	left: 268px;
}

#u1911popup
{
	z-index: 103;
}

#u1912-4
{
	z-index: 104;
	width: 340px;
	min-height: 53px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 21px;
	text-align: left;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u1914-4
{
	z-index: 108;
	width: 340px;
	min-height: 53px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 21px;
	text-align: left;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u1915-4
{
	z-index: 112;
	width: 340px;
	min-height: 53px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 28px;
	font-size: 20px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u1913-4
{
	z-index: 116;
	width: 340px;
	min-height: 53px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 21px;
	text-align: left;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u1916-4
{
	position: absolute;
	width: 30px;
	min-height: 22px;
	background-color: #EABF3C;
	color: #000000;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 302px;
	left: 690px;
}

#u1916-4popup
{
	z-index: 120;
}

#u1917-4
{
	position: absolute;
	width: 30px;
	min-height: 22px;
	background-color: #EABF3C;
	color: #000000;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 302px;
	left: 720px;
}

#u1917-4popup
{
	z-index: 124;
}

#u1927
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #FF0000;
	padding-bottom: 5px;
	top: -53px;
	left: 715px;
}

#u1927:hover
{
	background-color: #FFFFFF;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u1927:active
{
	background-color: #6B6B6B;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u1928-4
{
	z-index: 129;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u1928-4:hover
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 20px;
	margin: 5px -10000px 0px 0px;
}

#u1928-4:hover p
{
	color: #FF0000;
	visibility: inherit;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u796
{
	z-index: 3;
	min-height: 73px;
	padding-bottom: 23px;
}

#u796_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2851-7
{
	z-index: 4;
	width: 722px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 270px;
}

#u796-bw
{
	z-index: 3;
	min-height: 73px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 94px;
}

#page .verticalspacer
{
	clear: both;
}

